.cke_editable{
    outline:none;
}
.rpt_editor{
    position:fixed;
    bottom:5rem; left:2rem;
    width:400px;
}
.rpt_editor .editor_login{
    width:3rem;
    height:3rem;
    border-radius:50%;
    border:2px solid #fff;
    text-align:center;
    background-color:#c4161c;
}


.rpt_editor .editor_login svg{
    width:75%; height:auto;
    margin-top:10%;
}
.rpt_editor .editor_login svg path{
    fill:#fff;
}

.editor_user{
    position:relative;
}

.logged .editor_user .editor_login{
    background-size:cover;
    z-index:2;
    position:absolute;
    top:0; left:0;
}

.logged .editor_user .editor_login svg{
    display:none;
}

.editor_user > div{
    position:absolute;
    background:#eee;
    padding:0.5rem 0.5rem 0.5rem 4rem;
    box-sizing:border-box;
    top:-0.5rem;
    left:-0.5rem;
    box-shadow:#000 0 0 0.5rem;
    display:none;
}
.logged .editor_user:hover > div{
    display:block;
}

.editor_user > div h1{
    font-size:0.75rem;
    margin:0.25rem;
}
.editor_user > div h2{
    font-size:0.75rem;
    font-weight:400;
    margin:0.25rem;
}
.editor_user > div button{
    font-size:0.75rem;
    font-weight:400;
    background:transparent;
    border:none;
}
.editor_user > div button:hover{
    text-decoration:underline;
}

.editor_commit{
    position:absolute;
    top:-10rem; left:-0.5rem;
    padding:1rem;
    box-sizing:border-box;
    background:#eee;
    box-shadow:#000 0 0 0.5rem;
    transform-origin:bottom left;
    transform:scale(0.5);
    opacity:0.75;
    transition:all 0.5s ease;
    display:none;
}
.logged .editor_commit{
    display:block;
}
.editor_commit:hover{
    transform:scale(1);
    opacity:1;
}
.editor_commit h1{
    font-size:0.875rem;
    font-weight:400;
    margin:0 0 0.5rem 0;
}
.editor_commit textarea{
    width:100%; height:5rem;
    box-sizing:border-box;
}