

article {
    padding-top:2.5rem;
    position: relative;
    nav,
    section{
        @include bp(M){
            display:inline-block;
            vertical-align:top;
            box-sizing:border-box;
        }
    }
    nav{
        @include bp(M){
            //padding-top:14.4rem;
            width:16%;
            padding-right:1.5rem;
        }
        ul{
            margin:0;
            padding:0;
            list-style-type:none;
            li{
                display:block;
                padding:0.25rem 0;
            }
            a{
              display:block;
              padding:0.175rem 0;
              text-decoration:none;
              font-size:0.975rem;
              color:inherit;
              &:hover{
                  text-decoration:underline;
              }
            }
            &:before{
                //content:'NESTE CAPÍTULO';
                font-weight:700;
                font-size:0.875rem;
                font-family:Helvetica;
                margin-bottom:0.875rem;
                display:block;
            }
        }
        &.isStuck{
            + section{
                margin-left:16%;
            }
        }
        + section{
            margin-left:0;
        }
    }
    section{
        font-size:1.105rem;
        line-height:1.4;
        //margin-left:16%;
        @include bp(M){
            width:84%;
            //margin-top:11.2rem;
        }
        @include bp(L){
            width:70%;
        }
        > picture{
            margin-bottom:5.5rem;
        }
    }
    h1{
        font-size:2rem;
        font-family:Helvetica;
        margin-bottom:0;
        .gri{
            font-size:1rem;
            font-weight:400;
        }
    }
    h2{
        font-size:1.375rem;
        font-family:Helvetica;
        margin-top:3rem;
        margin-bottom:0;
        font-weight:400;
        &:first-child {
            margin-top: 0.5rem;
        }
        + p{
            margin-top:0.25rem;
        }
        + h3{
            margin-top:1.5rem;
        }
    }
    h3{
        font-size:1.125rem;
        font-family:Helvetica;
        margin-top:3rem;
        margin-bottom:0;
        font-weight:400;
        + p{
            margin-top:0.25rem;
        }
    }
    p{
        margin-bottom: 1.5rem;
    }
}

html[lang="pt"] {
    article {
        nav {
            ul:before {
                    content:'NESTE CAPÍTULO';
            }
        }
    }
}

html[lang="en"] {
    article {
        nav {
            ul:before {
                    content:'IN THIS CHAPTER';
            }
        }
    }
}
