$menu-icon-size: 1.325rem;
$menu-icon-color: $orange;
$menu-icon-stroke: 3px;

%menu-icon {
  width: $menu-icon-size;
  height: $menu-icon-size;
  cursor: pointer;
  transition: all 0.3s;
  background:transparent;
  border:none;
  outline:none;
  display:block;
  > span {
    position: absolute;
    top: $menu-icon-size/2.5;
    left:0;
    display: block;
    width: 100%;
    height: $menu-icon-stroke;
    background-color: $menu-icon-color;
    border-radius: $menu-icon-stroke;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left:0;
      width: 100%;
      height: 100%;
      background-color: $menu-icon-color;
      border-radius: $menu-icon-stroke;
      transition: all 0.3s;
    }
    &:before {
      transform: translateY(-$menu-icon-size/3);
    }
    &:after {
      transform: translateY($menu-icon-size/3);
    }
  }
  .open_menu & {
    transform: rotate(45deg);
    span:before {
      transform: rotate(90deg);
    }
    span:after {
      transform: rotate(90deg);
    }
  }
}

.box{
  margin-top:2.125rem;
  margin-bottom:2.675rem;
  box-sizing: border-box;
  padding:2.5rem 1.75rem 1.25rem 1.75rem;

  p > a {
    position: relative;
    z-index: 9999;
    //cursor: pointer;
  }

  h2{
    font-size:1rem;
    margin-top:0;
    font-family:Helvetica;
  }
  + .box{
    margin-top:2.675rem;
  }
  &.left,
  &.right{
    border-style:solid;
    position:relative;
    &:after{
      content:'';
      width:100vw; height:100%;
      position:absolute;
      display:block;
      top:-1px;
      border-width:1px 0 1px 0;
      border-style:solid;
    }
  }
  &.left{
    border-width:1px 1px 1px 0;
    border-top-right-radius: 2rem;
    &:after{
      right:0;
      border-top-right-radius: 2rem;
    }
  }
  &.right{
    border-width:1px 0 1px 1px;
    border-top-left-radius: 2rem;
    &:after{
      left:0;
      border-top-left-radius: 2rem;
    }
  }

  &.sides{
    margin-top:4rem;
    border-width:0 7px 0 7px;
    border-style:solid;
    padding-bottom:1rem;
  }

  &.photo{
    padding:0;
    margin-top:5rem;
    margin-bottom:4.5rem;
    position:relative;
    line-height:0;
    picture{
      z-index:0;
      position:relative;
      width:100%; height:auto;
    }
    > div{
      position:absolute;
      bottom:0; left:0;
      padding:2.75rem 1.75rem 2.5rem 1.75rem;
      line-height:1.4;
      color:#fff;
      width:89%;
      box-sizing:border-box;
      z-index:1;

      *{
        z-index:2;
        position:relative;
      }
      &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; left:0;
        width:100%;
        z-index:-1;
        height:100%;
        mix-blend-mode:multiply;
        box-sizing:border-box;
        display:block;
        border-top:0.75rem solid #fff;
      }
      &:after{
        content:'';
        display:block;
        position:absolute;
        top:0; left:100%;
        width:13%;
        z-index:-1;
        height:100%;
        background:#fff;
      }
      h2{
        margin-top:0;
        color:inherit;
        font-size:1.675rem;
        margin-bottom:0;
        font-family:Helvetica;
        +p{
          margin-top:0;
        }
      }
    }
  }
}

.center{
  text-align:center;
}

.large{
  font-size:3.5rem;
  small{
    font-size:1.875rem;
    position:relative;
    top:-1.25rem;
  }
}

.row {
  display: flex;
  flex-direction: column;
  @include bp(M) {
    flex-direction: row;
  }
  & > div {
    border: solid 2px;
    border-color: green;
    margin: 0.5rem 0;
    //display: inline-block;
    //vertical-align: top;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    h1, h2, h3, p {
      margin-top: 0;
      padding-top: 0;
    }



    img {
      width: 75%;
      height: auto;
    }

    &.noborder {
      border: none;
    }
    &.decor {
      //flex-basis:content;
      align-self: flex-start;
      &.to-bottom {
        align-self: flex-end;
       }
    }
    &.half {
      width: 100%;
      @include bp(M) {
        width: 49%;
      }
      &:nth-child(odd) {
        @include bp(M) {
          margin-right: 1%;
        }
      }
      &:nth-child(even) {
        @include bp(M) {
          margin-left: 1%;
        }
      }
    }
    &.onethird {
      width: 100%;
      @include bp(M) {
        width: 32%;
      }

      &:first-child {
        @include bp(M) {
          margin-right: 1%;
        }
      }
      &:last-child {
        @include bp(M) {
          margin-left: 1%;
        }
      }
    }
    &.twothird {
      width: 100%;
      @include bp(M) {
        width: 66%;
      }
      &:first-child {
        @include bp(M) {
          margin-right: 1%;
        }
      }
      &:last-child {
        @include bp(M) {
          margin-left: 1%;
        }
      }
    }
    &.quarter {
        width: 100%;
      @include bp(M) {
        width: 24%;
        margin-left: 1%;
        margin-right: 1%;
      }
      &:first-child {
        @include bp(M) {
          margin-left: 0;
        }
      }
      &:last-child {
        @include bp(M) {
          margin-right: 0;
        }
      }
    }

    &.top-left {
      border-top-left-radius: 2rem;
    }
    &.bottom-left {
      border-bottom-left-radius: 2rem;
    }
    &.top-right {
      border-top-right-radius: 2rem;
    }
    &.bottom-right {
      border-bottom-right-radius: 2rem;
    }

    &.full {
      background: green;
      color: #fff;

      hr {
        border: none;
        border-top: solid 1px #fff;
        &:last-child {
          border-top: solid 2px #fff;
        }
      }
    }

  }

}

.destaque {
  font-size: 1.8rem;
}
.bigger {
 font-size: 160%;
 line-height: 1;
 display: block;
}
