main > nav{
    display:block;
    font-size:0;
    position:relative;
    z-index:10;
    padding-top:4rem;
    a{
        box-sizing:border-box;
        font-size:2rem;
        color:inherit;
        position:relative;
        transition:all 0.325s ease;
        display:block;
        margin-bottom:1rem;
        padding: 0 2rem;
        @include bp(M){
            width:50%;
            display:inline-block;
            margin-bottom:0;
        }
        &:first-child{
            text-align:right;
            &:before,
            &:after{
                right:0.875rem;
                border-top-right-radius: 2em;
            }
            &:after{
                transform:translateX(-100%);
            }
            span{
                right:0.875rem;
                &:before{
                    content:'CAPÍTULO ANTERIOR';
                }
            }
        }
        &:last-child{
            text-align:left;
            &:before,
            &:after{
                left:0.875rem;
                border-bottom-left-radius: 2em;
            }
            &:after{
                transform:translateX(100%);
            }
            span{
                left:0.875rem;
                &:before{
                    content:'PRÓXIMO CAPÍTULO';
                }
            }
        }
        &:before{
            content:'';
            box-sizing:border-box;
            position:relative;
            display:block;
            width:100%; height:100%;
            top:0;
            border:0.125rem solid;
            position:absolute;
        }
        &:after{
            content:'';
            box-sizing:border-box;
            position:relative;
            display:block;
            width:100%; height:100%;
            top:0;
            z-index:-1;
            position:absolute;
            transition:all 0.325s ease;
        }
        &[href]:hover{
            color:#fff;
            &:after{
                transform:none;
            }
        }
        &[href="mensagem-do-presidente.html"]{@include sibling_color($azulverde);}
        &[href="message-from-the-president.html"]{@include sibling_color($azulverde);}
        &[href="destaques-do-ano.html"]{@include sibling_color($azul);}
        &[href="2017-headlines.html"]{@include sibling_color($azul);}
        &[href="liderar-nos-mercados.html"]{@include sibling_color($verde-escuro);}
        &[href="lead-in-our-markets.html"]{@include sibling_color($verde-escuro);}
        &[href="desenvolver-o-potencial-dos-nossos-funcionarios.html"]{@include sibling_color($laranja);}
        &[href="unleash-our-people-s-potential.html"]{@include sibling_color($laranja);}
        &[href="ser-o-parceiro-mais-confiavel.html"]{@include sibling_color($verde-escuro);}
        &[href="be-the-most-trusted-partner.html"]{@include sibling_color($verde-escuro);}
        &[href="usar-nosso-porte-a-nosso-favor.html"]{@include sibling_color($verde-escuro);}
        &[href="use-our-size-to-our-advantage.html"]{@include sibling_color($verde-escuro);}
        &[href="ser-excelente-nas-tarefas-mais-basicas.html"]{@include sibling_color($azul);}
        &[href="do-the-ordinary-extraordinarily-well.html"]{@include sibling_color($azul);}
        &[href="sobre-o-relatorio.html"]{@include sibling_color($azul);}
        &[href="about-this-report.html"]{@include sibling_color($azul);}
        &[href="sumario-de-conteudo-da-gri.html"]{@include sibling_color($azul);}
        &[href="gri-content-index.html"]{@include sibling_color($azul);}
    }
    span{
        display:inline-block;
        text-align:center;
        width:90%;
        padding:5rem 0 4.5rem 0;
        box-sizing:border-box;
        font-weight:700;
        font-family:Helvetica;
        position:relative;
        @include bp(M){
            max-width:20rem;
        }
        &:before{
            font-size:0.675rem;
            display:block;
            font-weight:400;
            margin-bottom:0.875rem;
        }
    }
}

body > footer {
    margin-top:0;
    padding-bottom:11.5rem;
    z-index:5;
    position:relative;
    background: #fff;
    h1{
        margin:0;
        font-size:1.125rem;
        font-weight:700;
        font-family:Helvetica;
        small{
            display:block;
            font-size:0.925rem;
            margin-top:0.25rem;
        }
    }
    .wrapper{
        padding-top:2.5rem;
        padding-bottom:6rem;
        background:#fff;
        position:relative;
        z-index:2;
        &:before{
            content:'';
            background:#fff;
            display:block;
            width:150vh;
            height:100%;
            position:absolute;
            z-index:-1;
            top:0; right:0;
        }
    }
    ul{
        padding:0;
        list-style-type: none;
        font-size:0.875rem;
        margin-top:1.25rem;
        li:first-child{
            font-weight:700;
        }
        li{
            margin:0.25rem 0;
        }
        a{
            text-decoration:none;
            color:inherit;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}

html[lang="pt"] {


}

html[lang="en"] {

    main > nav {
        a:first-child {
            span {
                &:before {
                        content:'PREVIOUS CHAPTER';
                }
            }
        }
        a:last-child {

                span {
                    &:before {
                        content:'NEXT CHAPTER';
                    }
                }
        }
    }
}
