html {
	font-size: 16px;
}

body {
	color: $text;
	overflow-x:hidden;
	font-family:HelveticaNeue;
}

#preload
{
    position:absolute;
    top:-9999px;
    left:-9999px;
}

.nowrap {
	white-space: nowrap;
}

picture {
	max-width: 100%;
	display: block;

	img {
		max-width: 100%;
	}
}

main{
	background:#fff;
	position:relative;
}
main, header{
	.menu_open &{
		filter:blur(2px);
	}
}
article{
	@extend %wrapper;
}

.animate{
	transition:all 0.5s ease;
}
.hidden{
	opacity:0.1;
	transform:translateY(5rem);
}
.gri{
	font-size:80%;
	font-family:Helvetica;
	white-space:nowrap;
	&:before{
		content:'|';
		font-family:HelveticaNeue;
		margin-right:0.125rem;
		font-size:115%;
	}
	&:after{
		content:'|';
		font-family:HelveticaNeue;
		margin-left:0.125rem;
		font-size:115%;
	}
}
.legenda,
caption{
	font-size:0.75rem;
	line-height:1.25;
}

[data-alert]:after{
  content:attr(data-alert);
  background:yellow;
  color:red;
}
