body > header{
    background:#fff;
    .site-header{
        width:100%;
        margin: 0 auto;
        //left:0;
        //top: 0;
        z-index:10;
        font-family: Helvetica;
        margin-top:0rem;
        box-sizing:border-box;

        display: inline-block;
        vertical-align: bottom;
        @include bp(M){
            //position:absolute;
            //top:20%;
            padding-left:2rem;
            //margin-top:8rem;
        }
        > div{
            > div{
                @extend %wrapper;
                @include bp(M) {
                  //max-width: 65rem;
                }
                div{
                    //transition:all 0.25s ease;
                    vertical-align: bottom;
                    position:relative;
                    box-sizing:border-box;
                    margin: 0.25rem 0.25rem 4rem -1rem;
                    padding: 1rem 0 1rem 0;
                    background: #fff;
                    border-top-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;

                    @supports (display: grid) {

                        @include bp(M){
                            background:#fff;
                            padding: 1em 0;
                        }

                        &:first-child {

                            @include bp(L){
                                margin-bottom:1.875rem;
                                display: flex;
                                align-items: center;
                                //justify-content: space-evenly;
                                justify-content: space-around;
                            }

                        }
                    }

                    picture {
                        //width: 30%;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5rem 0 2.5rem;
                        @supports (display: grid) {
                            padding: 0;
                        }
                    }

                    h1 {
                        display: inline-block;
                        vertical-align: middle;
                        @supports (display: grid) {
                            padding: 0;
                        }
                    }

                    a[href="#menu"] {
                        display: inline-block;
                        vertical-align: middle;
                        @supports (display: grid) {
                            padding: 0;
                        }
                    }

                    form {
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 0.5rem;
                            @supports (display: grid) {
                                padding: 0;
                            }
                    }
                    a.download {
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 0.5rem;
                            @supports (display: grid) {
                                padding: 0;
                            }
                    }





                    // &:not(:first-child){
                    //   background: transparent;
                    //   border: solid 2px #fff;
                    //     @include bp(M){
                    //         padding:1.5rem 0 1.25rem 1.125rem;
                    //         max-width:33rem;
                    //         margin-bottom:2rem;
                    //     }
                    //     @include bp(L){
                    //         padding:3.5rem 0 3.5rem 1.125rem;
                    //         max-width:33rem;
                    //     }
                    // }
                    &:nth-of-type(2) {
                          width: 100%;
                          background: transparent;
                          //display: none;
                          padding-top: 30rem;
                          display: block;
                        @supports (display: grid) {

                            padding-top: 0;
                            @include bp(M) {
                                display: grid;
                                grid-template-columns: 1fr  1fr 1fr;
                                grid-template-rows: 1fr 1fr 1fr;
                                grid-gap: 1rem;
                            }
                            @include bp(L) {
                                //display: inline-block;
                                min-height: 45rem;
                            }

                        }


                          @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

                          }

                          section {
                            border: solid 2px #fff;
                            margin: 0;
                            box-sizing: border-box;
                            &.titlearea {
                                min-height: 0rem;
                                border-top-left-radius: 2rem;
                                border-bottom-right-radius: 2rem;
                                padding: 1rem;
                                width: 100%;
                                background: rgba(255,255,255,0.7);
                                margin: 4rem 0 0 0;
                                @include bp(M) {
                                    min-height: 12rem;
                                    grid-area: 1 / 1 / 2 / 3;
                                    padding: 2rem;
                                    margin: 0;
                                }
                                h1 {
                                    width: 100%;
                                    font-size: 1.125rem;
                                    @include bp(M) {
                                      font-size: 2.125rem;
                                    }
                                }
                                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                                    display: inline-block;
                                    vertical-align: bottom;
                                    width: 70%;
                                    margin-right: 1%;
                                    min-height: 2rem;
                                }
                            }
                            &:nth-of-type(2) {
                                min-height: 3rem;
                                border-top-right-radius: 2rem;
                                border-bottom-left-radius: 2rem;
                                display: none;
                                @include bp(M) {
                                    min-height: 8rem;
                                    display: block;
                                }
                                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                                    display: inline-block;
                                    vertical-align: bottom;
                                    width: 29%;
                                }
                            }

                            &:nth-of-type(3) {
                                border-top-left-radius: 2rem;
                                border-bottom-right-radius: 2rem;
                                display: none;
                                @supports (display: grid) {
                                    display: none;
                                    @include bp(M) {
                                        display: block;
                                    }
                                }

                                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                                    display: none;
                                }
                            }
                            &:nth-of-type(4) {
                                border-top-right-radius: 2rem;
                                border-bottom-left-radius: 2rem;
                                display: none;

                                @supports (display: grid) {
                                    display: none;
                                    @include bp(M) {
                                        display: block;
                                    }
                                }

                                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                                    display: none;
                                }
                            }
                          }
                    }
                }
            }
        }
    }

    .logo {
        width: inherit;
        img {
          width: 60px;
          height: auto;
          position: static;
          display: inline-block;
            @include bp(M){
                width: 120px;
            }
    }
}

    h1{
        margin:0;
        font-size:0.825rem;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        width: 70%;
        @include bp(M){
            font-size:1.225rem;
            width: inherit;
        }
        @include bp(L){
            font-size:1.225rem;
            //width: 35%;
        }
        a{
            text-decoration:none;
            color:inherit;
            padding-right: 0;
            @include bp(M) {
                padding-right:3rem;
            }
        }

    }

    a{
        display:block;
        @include bp(S){
            display:inline-block;
            vertical-align:top;
        }
    }


    a[href="#menu"]{
        background:transparent;
        position:relative;
        border:0;
        outline:0;
        font-weight:700;
        font-size:0.825rem;
        text-decoration:none;
        color:inherit;
        margin-bottom:1rem;
        left:2.275rem;
        //margin-left:0.125rem;
        @include bp(M) {
            font-size:1.25rem;
        }
        @include bp(S){
            margin-bottom:0;
        }
        > span{
            @extend %menu-icon;
            position:absolute;
            top:-2px;
            left:-2.275rem;
            margin-right:0rem;
            @include bp(M) {
                top:-2px;
                left:-2.275rem;
                margin-right:3rem;
            }
        }
        &.is_stuck{
            z-index:10;
            left:3%;
        }
    }

    form{
        display: none;
        @include bp(S){
            display: inline-block;
            margin-left:3.875rem;
        }
    }
    form h1{
        font-size:0.85rem;
        font-weight:400;
        margin-top:0.325rem;
        margin-bottom:1.5rem;
    }
    input[type="search"]{
        width:8.5rem;
        border:0;
        outline:0;
        padding:0.25rem 0.175rem 0 0.175rem;
        box-sizing:border-box;
        color:#fff;
    }
    button[type="submit"]{
        background:transparent;
        border:0;
        outline:0;
        padding:0;
        position:relative;
        top:2px;
        margin-left:0.25rem;
        width: 30px;
        svg{
            height:1.075rem; width:auto;
        }
    }

    .lang_switch {
      display: inline-block;
      margin: 0 !important;
      padding: 0 !important;
      li {
          list-style: none;
      }
      a {
        margin: 0;
        padding: 0;
        text-decoration: none;
      }
    }

    a.download {
        text-decoration: none;
        display: none;
        @include bp(M) {
            display: inline-block;
        }
    }
}

#menu{
    position:fixed;
    width:100%; height:100%;
    z-index:-1;
    display:table;
    color:#fff;
    font-family:Helvetica;
    top:0; left:0;
    opacity:0;
    transform:scale(1.2);
    z-index:-1;
    transition:opacity 0.5s ease 0.125s, transform 0.75s ease 0.125s;
    > div{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
    }
    ul{
        list-style-type: none;
    }
    li:first-child{
        a{
            font-size:1.125rem;
            font-size:1.75vh;
        }
    }
    small{
        font-weight:400;
    }
    .close{
        background:transparent;
        border:0;
        outline:0;
        position:fixed;
        top:1rem; right:1rem;
        font-size:1.75rem;
    }
    a{
        color:inherit;
        text-decoration:none;
        display:block;
        margin:0.5rem 0;
        margin:1.5vh 0;
        padding:0.5rem 0;
        padding:1.5vh 0;
        font-size:1.75rem;
        font-size:2.5vh;
        font-weight:700;
    }
    &:target,
    .menu_open &{
        opacity:1;
        transform:none;
        z-index:1000;
        + #menu-bg{
            opacity:0.85;
            transform:none;
            z-index:999;
            @supports (mix-blend-mode:multiply){
                mix-blend-mode:multiply;
                opacity:1;
            }
        }
    }
}
#menu-bg{
    position:fixed;
    width:100%; height:100%;
    display:block;
    top:0; left:0;
    opacity:0;
    transition:opacity 0.75s ease;
    z-index:-1;
    @supports (mix-blend-mode:multiply){
        mix-blend-mode:multiply;
    }
}

.heading{
    @extend %wrapper;
    padding-top:0.125rem;
    p{
        box-sizing:border-box;
        border-left:4px solid;
        border-right:4px solid;
        padding:0 1.5rem;
        font-size:1.875rem;
        line-height:1.2;
        @include bp(M){
            margin-left:16%;
            width:84%;
        }
        @include bp(L){
            width:70%;
        }
    }
}
