
.page_index {
  @include chapter_color($azul);
  article > section {
    width: 100%;
  }
  .row {
    div {
      min-height: 10rem;
      h2 a {
        color: #fff;
        text-decoration: none;
        transition: all 0.8s 0.2s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    div:nth-of-type(1) {
      background-color: $azulverde;
      border: solid 2px $azulverde;
    }
    div:nth-of-type(2) {
      background-color: $azul;
      border: solid 2px $azul;
    }
    div:nth-of-type(3) {
      background-color: $verde-escuro;
      border: solid 2px $verde-escuro;
    }
  }
  nav.article-siblings {
    display: none;
  }
}


html[lang="pt"] {
  .page_index {
    header {
      background-image: url('../img/home-site-pt.png');
      background-size: 65.4rem;
      background-position: 50.5% 50%;
      background-repeat: no-repeat;
      background-color: #40B194;
    }
  }
}

html[lang="en"] {
  .page_index {
    header {
      background-image: url('../img/home-site-en.png');
      background-size: 65.4rem;
      background-position: 50.5% 50%;
      background-repeat: no-repeat;
      background-color: #40B194;
    }
  }
}
