body{
	@include chapter_color(orange)
}

@mixin navColor($color){
	color:$color;
	&:before{
		border-color:$color;
	}
	&:after{
		background-color:$color;
	}
}

$titlesection : '.site-header div:nth-of-type(2) section:nth-of-type(1)';
$section2 : '.site-header div:nth-of-type(2) section:nth-of-type(2)';
$section3 : '.site-header div:nth-of-type(2) section:nth-of-type(3)';
$section4 : '.site-header div:nth-of-type(2) section:nth-of-type(4)';

main > nav a{
	@include navColor(red);
	&.class{@include navColor(red);}
}

.page_index {
	#{$titlesection},
	#{$section2},
	#{$section3},
	#{$section4} {
		display: none;
	}
}
.page_mensagem-do-presidente,
.page_message-from-the-president {
		@include chapter_color($azulverde);
		.article-siblings a:first-child {
			visibility: hidden;
		}
		header {
			background-image: url('../img/7_mensagem-mobile.jpg');
			background-size: cover;
			background-position: 70% 10%;
			@include bp(M) {
				background-image: url('../img/7_mensagem.jpg');
				background-position: 60% 20%;
			}
		}

		#{$titlesection} {
			@include bp(M) {
					grid-area: 3 / 4 / 4 / 2;
				}
		}

		#{$section2} {
			@include bp(M) {
				grid-area: 2 / 3 / 3 / 3;
			}
		}
		#{$section3} {
			@include bp(M) {
				grid-area: 1 / 2 / 3 / 3;
			}
		}

}
.page_destaques-do-ano,
.page_2017-headlines {
		@include chapter_color($azul);

		header {
			background-image: url('../img/8_destaques.jpg');
			background-size: cover;
			background-position: 50% 0%;
		}

		#{$titlesection} {
			grid-area: 1 / 1 / 3 / 2;
		}
		#{$section2} {
			grid-area: 1 / 2 / 4 / 4;
		}
		#{$section3} {
				grid-area: 3 / 1 / 4 / 2;
		}

		#{$section4} {
			display: none;
		}
}
.page_liderar-nos-mercados,
.page_lead-in-our-markets {
		@include chapter_color($verde-escuro);

		header {
			background-image: url('../img/1_Liderar.jpg');
			background-size: cover;
		}
		#{$section2} {
			grid-area: 1 / 3 / 4 / 3;
		}
		#{$section3} {
			grid-area: 2 / 2 / 4 / 3;
		}

		.diagrama-valores {
			picture img {
				max-width: 100%;
			}
		}
		.unidades {
			picture {

				text-align:left;
				img {
				width: 80%;
			}
		}
		}
		.mapa-unidades {
			picture {
				display: inline-block;
			}
			[data-slug="mapa-unidades"] > img {
				width: 35rem;
			}
			[data-slug="mapa-unidades-legenda"] > img {
				width: 10rem;
			}
		}
}
.page_desenvolver-o-potencial-dos-nossos-funcionarios,
.page_unleash-our-people-s-potential {
		@include chapter_color($laranja);
		header {
			background-image: url('../img/3_desenvolver.jpg');
			background-size: cover;
			background-position: 0% 0%;
		}
		#{$titlesection} {
			grid-area: 3 / 1 / 4 / 3;
		}
		#{$section2} {
			grid-area: 1 / 1 / 3 / 2;
		}
		#{$section3} {
			grid-area: 1 / 2 / 3 / 4;
		}
		#{$section4} {
			grid-area: 3 / 3 / 4 / 4;
		}
}
.page_ser-o-parceiro-mais-confiavel,
.page_be-the-most-trusted-partner {
		@include chapter_color($verde-escuro);
		header {
			background-image: url('../img/4_Ser_o_Parceiro.jpg');
			background-size: cover;
			background-position: 50% 0%;
		}
		#{$titlesection} {
			grid-area: 2 / 1 / 3 / 2;
		}
		#{$section2} {
			grid-area: 1 / 2 / 4 / 4;
		}
}
.page_usar-nosso-porte-a-nosso-favor,
.page_use-our-size-to-our-advantage {
		@include chapter_color($verde-escuro);
		header {
			background-image: url('../img/2_Usar_Nosso_Porte.jpg');
			background-size: cover;
			background-position: 0% 50%;
		}
		#{$titlesection} {
			grid-area: 1 / 1 / 3 / 2;
		}
		#{$section2} {
			grid-area: 1 / 2 / 3 / 3;
		}
		#{$section3} {
				grid-area: 3 / 1 / 4 / 3;
		}
}
.page_ser-excelente-nas-tarefas-mais-basicas,
.page_do-the-ordinary-extraordinarily-well {
			@include chapter_color($azul);
			header {
				background-image: url('../img/5_Ser_Excelente.jpg');
				background-size: cover;
				background-position: 50% 50%;
			}
			#{$titlesection} {
				grid-area: 3 / 2 / 3 / 4;
			}
			#{$section2} {}
			#{$section3} {
				grid-area: 1 / 2 / 3 / 3;
			}
			#{$section4} {
				grid-area: 1 / 3 / 3 / 4;
			}
}
.page_sobre-o-relatorio,
.page_about-this-report {
			@include chapter_color($azul);
			header {
				background-image: url('../img/6_Sobre.jpg');
				background-size: cover;
				background-position: 50% 0%;
			}
			#{$titlesection} {
				grid-area: 3 / 2 / 4 / 4;
			}
			#{$section2} {
				grid-area: 1 / 1 / 3 / 3;
			}
			#{$section3} {
				grid-area: 2 / 3 / 3 / 4;
			}
			#{$section4} {
				grid-area: 3 / 1 / 3 / 2;
			}
}
.page_sumario-de-conteudo-da-gri,
.page_gri-content-index {
			@include chapter_color($azul);

			header {
				background-image: url('../img/6_Sobre.jpg');
				background-size: cover;
				background-position: 50% 0%;
			}

			#{$titlesection} {
				grid-area: 1 / 3 / 3 / 4;
			}
			#{$section2} {
					grid-area: 1 / 1 / 3 / 3;
			}
			#{$section3} {
				grid-area: 3 / 2 / 4 / 3;
			}
			#{$section4} {
				grid-area: 3 / 3 / 4 / 4;
			}
			.article-siblings a:last-child {
				visibility: hidden;
			}
}

.page_busca {
	.tipue_search_content_title {
		margin-top: 2em;
		margin-top: 2rem;
	}
}

.editor_login {
	display: none;
}
