.table_wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;

	> div {
		margin: 0;
		width: 100%;
		overflow-y: auto;
		position: relative;

		&::-webkit-scrollbar {
			height: 12px;
		}

		&::-webkit-scrollbar-track {
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
			background: #f0f0f0;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 6px;
			background: #ccc;
		}
	}

	&:after {
		position: absolute;
		top: 0;
		left: 100%;
		width: 50px;
		height: 100%;
		border-radius: 10px 0 0 10px / 50% 0 0 50%;
		box-shadow: none;
		transition: all 1s ease;
		content: '';
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
	}
}

table {
	width: 100%;
	margin:4rem auto;
	border-spacing: 0;
	border-collapse: collapse;
	overflow: hidden;
  font-size:0.925rem;

	td,
	th {
		padding: 0.5rem;
		text-align: right;
		&:first-child,
		&.left {
			text-align: left;
		}
	}


  thead{
    text-transform:uppercase;
    th{
      border:0;
      font-size:1rem;
    }
  }

	th {
		font-weight:700;
    border-bottom:2px solid;
	}

  td {
    border-bottom:1px solid;
  }

  caption{
		padding:0.5rem;
		text-align:left;
  }



	td,
	th{
		&.left{
			text-align:left !important;
		}
		&.right{
			text-align:right !important;
		}
		&.center{
			text-align:center !important;
		}
	}


	tr {
		&.subheading {
		}

		&.total {
			font-weight:700;
		}
		&.center {
			td,
			th {
				text-align: center;
			}
		}
	}

	&.left {
		td,
		th {
			text-align: left;
		}
	}

}
