$text: #4a4a4a;
$orange: orange;
$green: #007b8a;



$vermelho: #9E2A2F;
$laranja-escuro: #BE531C;
$laranja: #CF7F00;
$amarelo: #DAAA00;
$verde: #ABAD25;
$verde-escuro: #658D1B;
$aquamarine: #279989;
$azulverde: #007681;
$azul: #005F86;

// transformar em mapa as cores


@mixin font($face, $weight:400){
	font-family: $face, Verdana, sans-serif;
	font-weight: $weight;
}

@mixin webp($image) {
	.no-js &,
	.no-webp & {
		background-image: url('../img/#{$image}.jpg');
	}

	.webp & {
		background-image: url('../img/#{$image}.webp');
	}
}

@mixin bp($width) {
	@if $width==XL {
		@media only screen and (min-width: 1280px) {
			@content;
		}
	} @else if $width==L {
		@media only screen and (min-width: 960px) {
			@content;
		}
	} @else if $width==M {
		@media only screen and (min-width: 720px) {
			@content;
		}
	} @else if $width==S {
		@media only screen and (min-width: 460px) {
			@content;
		}
	}
}

@mixin chapter_color($color) {
	& > header,
	.heading,
	.box h2,
	h1,
	.color,
	article > nav,
	a[href="#menu"],
	& > footer,
	.gri,
	th,
	article a,
	article h1,
	article h2,
	a.download
	{color:$color;}

	td {
		border-bottom-color: $color;
	}

	.article-header > div {
		border-color: $color;
		&:nth-of-type(1) {
			background: $color;
		}
	}

	.lang_switch {
		a:link, a:visited {
			color: $color;
			transition: color 1s 0.2s;
		}
		a:hover, a:active {
			color: darken($color, 15%);
		}
	}

	& > header input,
	#menu-bg,
	a[href="#menu"] span span,
	a[href="#menu"] span span:before,
	a[href="#menu"] span span:after
	{background-color:$color;}

	.box.photo > div:before
	{background-color:rgba($color,0.8);}

	.box,
	.box:before,
	.box:after
	{border-color:$color;}

	.row > div {
		border-color: $color;
		color: $color;
		&.full {
			background-color: $color;
			color: #fff;
		}
	}

	& > header svg path
	{fill:$color;}
}

@mixin sibling_color($color){
	color:$color;
	&:before{border-color:$color;}
	&:after{background:$color;}
}

%wrapper {
	width: 90%;
	max-width: 65em;
	margin: 0 auto;
}

.wrapper{
	@extend %wrapper;
}

%flex-center{
	display:flex;
	align-items:center;
	justify-content: center;
}

%transition {
	transition: all 0.5s ease;
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%half{
	@include bp(M){
		width:50%;
		display:inline-block;
		box-sizing:border-box;
		vertical-align:top;
		&:nth-child(odd){
			padding-right:1em;
			padding-right:1rem;
		}
		&:nth-child(even){
			padding-left:1em;
			padding-left:1rem;
		}
	}
}

%third{
	@include bp(M){
		width:33%;
		display:inline-block;
		box-sizing:border-box;
		vertical-align:top;
		&:nth-child(1){
			padding-right:1rem;
		}
		&:nth-child(2){
			padding-left:0.5rem;
			padding-right:0.5rem;
		}
		&:nth-child(3){
			padding-left:1rem;
		}
	}
}

.third{
	@extend %third;
}

%box{
	&.collapsible{
		a{
			&[href^="#"]{
				color:inherit;
				text-decoration:none;
				display:block;
			}
		}
		.content{
			max-height:0;
			overflow:hidden;
			display:block;
			transition:all 1s ease;
			> p:first-child{
				margin-top:0;
			}
		}
		&:target,
		&.is_open{
			.content{
				max-height:200em;
				max-height:200rem;
			}
		}
	}
}
