<h2>&nbsp;</h2>
<p>Avaliada espontaneamente por seus funcionários, a Cargill conquistou a 37ª. colocação da premiação Love Mondays em 2017, que classifica as 50 empresas mais amadas segundo os colaboradores. O reconhecimento chega com a consolidação de um profundo trabalho de transformação nas suas atividades de recursos humanos nos últimos anos e com um projeto global chamado HR Tranformation. Iniciado em 2016 com o objetivo de valorizar as pessoas, rever modelos, processos e sistemas em busca de eficiência, o HR Transformation foi efetivado no Brasil em abril de 2018. A nova estratégia investiu em treinamento, como o evento Gestor 4.0: gestão de pessoas na era digital, realizado em janeiro de 2018 e em diversas capacitações sobre novos processos e ferramentas. Também foi criado um plano de comunicação para preparar a empresa para as mudanças, a implementação da plataforma digital “My HR Portal”, que oferece aos funcionários e gestores, acesso a informações sobre benefícios, políticas e processos de recursos humanos, além de gestão de informações pessoais e das equipes. Em relação ao número de funcionários, cerca de 6% do quadro é representado por estagiários, aprendizes, terceiros e <em>trainees</em>, considerando a safra.</p>

<!-- <table border="0" cellspacing="0" cellpadding="0" data-alert="tabela será gráfico">
    <tr>
        <td rowspan="2"> Funcionários da Cargill <strong><span class="T122"><span class="gri">GRI 102-8</span></span></strong> </td>
        <td> 2015 </td>
        <td> 2016 </td>
        <td> 2017 </td>
    </tr>
    <tr>
        <td> 8.512 </td>
        <td> 9.875 </td>
        <td> 10.157 </td>
    </tr>
  <caption>
    1 Aprendizes não estão contemplados nessa segmentação por região, razão da diferença nos números em relação às demais tabelas.
  </caption>
</table> -->

<table>
  <thead>
    <tr>
      <th>Funcionários da Cargill <sup>1</sup><strong><span class="gri">GRI 102-8</span></strong></th>
    </tr>
  </thead>
</table>

<picture>
  <img src="../img/grafico-funcionarios.jpg" alt="grafico-funcionarios">
</picture>

<picture>
  <img src="../img/mapa-regiao-isolado.png" alt="mapa-regiao-isolado">
</picture>
<p class="legenda">1 Aprendizes não estão contemplados nessa segmentação por região, razão da diferença nos números totais.</p>


<!-- <table border="0" cellspacing="0" cellpadding="0" data-alert="será um mapa">
    <tr>
        <td rowspan="2"> Região </td>
        <td> 2017 </td>
    </tr>
    <tr>
        <td> Total </td>
    </tr>
    <tr>
        <td> Norte </td>
        <td> 676 </td>
    </tr>
    <tr>
        <td> Nordeste </td>
        <td> 789 </td>
    </tr>
    <tr>
        <td> Centro-Oeste </td>
        <td> 2.785 </td>
    </tr>
    <tr>
        <td> Sudeste </td>
        <td> 4.198 </td>
    </tr>
    <tr>
        <td> Sul </td>
        <td> 1.404 </td>
    </tr>
    <tr>
        <td> Total </td>
        <td> 9.852 </td>
    </tr>
  <caption>1 Aprendizes não estão contemplados nessa segmentação por região, razão da diferença nos números em relação às demais tabelas.</caption>
</table> -->


<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th colspan="10">Funcionários por tipo de contrato de trabalho e gênero <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th rowspan="2"> Tipo de contrato </th>
        <th colspan="3"> 2015 </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
    </tr>
    <tr>
        <td> Tempo determinado </td>
        <td> 204 </td>
        <td> 65 </td>
        <td> 269 </td>
        <td> 125 </td>
        <td> 56 </td>
        <td> 181 </td>
        <td> 107 </td>
        <td> 35 </td>
        <td> 142 </td>
    </tr>
    <tr>
        <td> Tempo indeterminado </td>
        <td> 6.028 </td>
        <td> 1.996 </td>
        <td> 8.024 </td>
        <td> 7.140 </td>
        <td> 2.260 </td>
        <td> 9.400 </td>
        <td> 7443 </td>
        <td> 2267 </td>
        <td> 9.710 </td>
    </tr>
    <tr>
        <td> Menor aprendiz </td>
        <td> 111 </td>
        <td> 108 </td>
        <td> 219 </td>
        <td> 149 </td>
        <td> 145 </td>
        <td> 294 </td>
        <td> 156 </td>
        <td> 149 </td>
        <td> 305 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> 6.343 </td>
        <td> 2.169 </td>
        <td> 8.512 </td>
        <td> 7.414 </td>
        <td> 2.461 </td>
        <td> 9.875 </td>
        <td> 7.706 </td>
        <td> 2.451 </td>
        <td> 10.157 </td>
    </tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th colspan="10">Funcionários por tipo de emprego <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th rowspan="2"> Tipo de emprego </th>
        <th colspan="3"> 2015 </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
        <th> Homens </th>
        <th> Mulheres </th>
        <th> Total </th>
    </tr>
    <tr>
        <td> Jornada integral </td>
        <td> 6.232 </td>
        <td> 2.061 </td>
        <td> 8.293 </td>
        <td> 7.265 </td>
        <td> 2.316 </td>
        <td> 9.581 </td>
        <td> 7.550 </td>
        <td> 2.302 </td>
        <td> 9.852 </td>
    </tr>
    <tr>
        <td> Jornada parcial </td>
        <td> 111 </td>
        <td> 108 </td>
        <td> 219 </td>
        <td> 149 </td>
        <td> 145 </td>
        <td> 294 </td>
        <td> 156 </td>
        <td> 149 </td>
        <td> 305 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> <strong>6.343</strong> </td>
        <td> <strong>2.169</strong> </td>
        <td> <strong>8.512</strong> </td>
        <td> <strong>7.414</strong> </td>
        <td> <strong>2.461</strong> </td>
        <td> <strong>9.875</strong> </td>
        <td> <strong>7.706</strong> </td>
        <td> <strong>2.451</strong> </td>
        <td> <strong>10.157</strong> </td>
    </tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Funcionários por faixa etária<sub>1</sub> <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th> Idades </td>
        <th> 2017 </td>
    </tr>
    <tr>
        <td> Menores de 30 anos </td>
        <td> 3.290 </td>
    </tr>
    <tr>
        <td> De 30 a 50 anos </td>
        <td> 5.723 </td>
    </tr>
    <tr>
        <td> Maiores de 50 anos </td>
        <td> 839 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> 9.852 </td>
    </tr>
  <caption>1 Aprendizes não estão contemplados nessa segmentação por faixa etária, razão da diferença nos números em relação às demais tabelas.</caption>
</table>
<div class="box left">
    <h2>COMUNICAÇÃO TRANSPARENTE</h2>
    <p>A Cargill valoriza o diálogo. Por isso, toda a liderança está em contato direto com a equipe por meio de dois programas, o Voz Cargill, comandado pelo presidente, e o Comunicar para Conectar, que reúne gestores e é transmitido para todas as localidades da empresa no Brasil. Os dois programas levam informações sobre projetos, resultados e perspectivas da companhia e são abertos a perguntas, que podem ser ao vivo ou por meio de plataformas como <em>chat</em>. Edições especiais do Voz Cargill contam com convidados, como o preparador físico especializado em nutrição Marcio Atalla, que participou do evento do lançamento do Essencial para Você. Em 2017, houve duas edições do Voz Cargill e duas do Conectar para Comunicar.</p>
</div>

<h1>Diversidade <span class="gri">GRI 103-405</span></h1>
<p>Para a empresa, diversidade é uma rica mistura de características organizacionais e humanas, experiências, habilidades e tradições. Em 2016, a Cargill construiu sua visão com base em um plano de ação integrado sobre o tema e estruturou o Comitê de Diversidade Brasil. Mais informações em <a href="ser-o-parceiro-mais-confiavel.html#">Governança corporativa</a>.</p>
<p>O assunto é amplamente discutido durante a Semana da Diversidade, que já teve duas edições, em abril de 2017 e 2018. Foram cinco dias em cada ano com palestras, <em>workshops</em> e programações especiais em diferentes localidades da empresa. Simultaneamente, teve início o Pride Talks, evento composto por uma série de mesas redondas que debateram ao longo de 2017 a diversidade e a inclusão LGBT+ na Cargill. Outros eventos e encontros também discutem a inclusão de pessoas com deficiência, questões de raça e gênero e viés inconsciente.</p>
    <p>Em novembro, o engajamento em torno do tema envolveu o mercado: a Cargill participou da 5ª edição do Jornadas da Diversidade, quando debateu com outras empresas a Iniciativa Empresarial pela Igualdade, e mais um ano participou do Fórum Mulheres em Destaque.</p>
    <h3>Processo seletivo</h3>
    <p>A Cargill empregou diversas mudanças em seu processo seletivo. Para ter uma maior diversidade entre os estagiários, os candidatos não podiam apontar onde estudavam nos currículos nem aos recrutadores durante a entrevista final, o que possibilitou uma independência em relação ao aluno e à reputação das universidades. Em outro projeto, a área de Aquisição de Talentos iniciou a seleção de profissionais transgêneros e o primeiro funcionário foi contratado em junho de 2018 em São Paulo (SP).
    </p>
    <h2>Questão de gênero</h2>
    <p>Foco global da Cargill, a questão de gênero também é prioridade no Brasil, uma vez que o agronegócio brasileiro é formado majoritariamente por homens. Para enfrentar o desafio, a área de Aquisição de Talentos possui como meta ter pelo menos 30% de mulheres entre os finalistas a uma vaga na empresa. No caso de posições de liderança, acima de gerente sênior, o percentual sobe para 50%.</p>
    <p>O tema é debatido dentro e fora da companhia. Em outubro, por exemplo, a Cargill participou do 2º Congresso Nacional das Mulheres no Agronegócio, em São Paulo. Já em novembro, foi lançada no Brasil a Cargill Woman Network (CWN), rede global que busca fazer a diferença para o empoderamento feminino e para a criação de um ambiente de trabalho mais inclusivo para todos. O Mulheres Operando no Brasil (MOB) funciona desde 2015 com o compromisso de incentivar as mulheres da Cargill Brasil a exercerem suas funções com excelência e coragem, acreditando em primeiro lugar em sua capacidade de liderança e execução.</p>
    <div class="box right"><h2>OUTROS PROGRAMAS</h2>
    <ul>
        <li>
            <p class="color"><strong class="color">Cargill Pride Network: </strong>atua na promoção e inclusão LGBT+ por meio de <em>networking</em>, desenvolvimento e compartilhamento de conhecimento e da construção de uma rede de relacionamentos. Tem como missão construir e manter uma rede de aliados que geram visibilidade, empoderamento e apoio à comunidade LGBT+ com o objetivo de proporcionar um ambiente de trabalho acolhedor e inclusivo para os funcionários que se identificam com o grupo. </p>
            <ul>
              <li>
                  <p class="color"><strong class="color">Aliados (Ally): </strong>programa educacional do Pride Network para os funcionários que desejam aprender como promover um ambiente de trabalho mais igualitário. Ao se inscrever para o programa, o funcionário é convidado para um treinamento inicial e passa a receber materiais educativos e convites para outros fóruns que o ajudarão a entender a temática e a adotar comportamentos mais inclusivos em relação aos seus colegas, amigos e familiares LGBT+. Em 2017, a Cargill contava com mais de 300 aliados no Brasil. </p>
              </li>
            </ul>
        </li>

        <li>
            <p class="color"><strong class="color">AfroCargill: </strong>trabalha na construção de um ambiente em que todos possam ter condições iguais, independente da etnia. Para atingir seu objetivo, o grupo observa a equidade no que diz respeito à cor ou etnia dos funcionários dos diferentes níveis hierárquicos e desenvolve um plano de trabalho para promoção da igualdade e valorização étnico-racial. </p>
        </li>
    </ul></div>
    <div class="box left"><h2>POLÍTICA GLOBAL DE ANTIDISCRIMINAÇÃO <span class="gri">GRI 103-406</span></h2>
    <p>A Cargill lançou em maio de 2018 sua Política Global de Antidiscriminação, que deverá ser aplicada em todos os países onde opera. Alinhada ao
        Código de Conduta, a política de oportunidades de emprego da Cargill proíbe discriminação e assédio contra qualquer empregado ou candidato com base na raça, etnia, cor, religião, origem, ascendência, sexo, gênero, identidade e expressão de gênero, orientação sexual, idade, deficiência, gravidez, <em>status</em> de cidadania, afiliação sindical ou qualquer outro protegido por lei. O documento reflete o momento que a empresa vive: a cada dia procurando valorizar, respeitar e colocar as pessoas em primeiro lugar. Além disso, a empresa cumpre todas as leis e regulamentos nacionais e locais aplicáveis em matéria de não discriminação e de empregabilidade.</p></div>
                <h1>Saúde e Segurança <span class="gri">GRI 103-410</span></h1>
        <p>Valor inegociável para a Cargill, a estratégia de saúde e segurança segue a Política de Meio Ambiente, Saúde e Segurança Global da companhia, assegurada pelo CEO e que define requisitos baseados na certificação de segurança OHSAS 18001 (Occupational
            Health and Safety Assessments Series) e nas normas de ISOs que abordam critérios e práticas que devem ser utilizados pelos negócios. </p>

        <div class="row">
          <div class="twothird bottom-left top-right">
            <p>Nessa linha, as principais metas e compromissos são:</p>
                    <ol class="destaque">
                       <li>Zero Acidentes</li>
                       <li>Taxa de Lesões Sérias e Fatalidade (SIFR)</li>
                       <li>Taxa de Acidentes (RIFR)</li>
                       <li>Planos de Ação Completados de Inspeções e Auditorias</li>
                       <li>Cumprimento de Cronograma de Inspeção e Auditorias</li>
                       <li>Participação Proativa da Alta Liderança em programas de segurança</li>
                  </ol>
          </div>
          <div class="decor onethird top-left bottom-right full">
            &nbsp;
          </div>
        </div>
        <p>No Brasil, a empresa tem focado em ações que reforcem o protagonismo dos funcionários: toda a liderança esteve engajada em dois principais programas em 2017, o LIFE e o Essencial para Você, além das ações desenvolvidas pela Política de Direção
            Segura.</p>
        <p>Iniciado no País em 2015, o programa LIFE alinha conceitos e expectativas, em nível global, que assegurem a integridade dos trabalhadores identificando preventivamente as tarefas que envolvem atos ou condições inseguras que possam gerar acidentes. São enfatizados os comportamentos esperados e os requisitos mínimos necessários para a execução das tarefas com segurança. Em 2017, o programa priorizou as atividades consideradas de maior riso, ou seja, a fim de evitar as chamadas SIFs “<em>serious injuries or fatalities</em>”. A estratégia deu certo e esse tipo de acidente teve uma redução de 80% no ano, que terminou sem nenhum acidente fatal no Brasil.</p>
        <p>Além das inspeções de atividades críticas realizadas pelo programa, todas as práticas de segurança da Cargill são verificadas por avaliações de conformidades legais, auditorias internas e externas, inspeções gerenciais e inspeções de máquinas e equipamentos. O monitoramento é feito a partir do sistema de gestão da Cargill por meio de relatórios padrão e dashboards.</p>
        <p>Há ainda iniciativas e estratégias voltadas às especificidades de cada negócio. Um exemplo é o programa Atingir Zero, desenvolvido pela área de grãos na América do Sul. Lançada em agosto de 2017, a estratégia tem como objetivo eliminar lesões graves e fatalidades, promovendo a cultura da segurança. Para isso, trata o tema como uma responsabilidade de cada um, fortalece e melhora processos, aprimora competências e, baseada na confiança, busca detectar e corrigir atos e condições inseguros. <span class="gri">GRI 103-42</span></p>
        <p>Outra iniciativa de 2017 foi o lançamento de dois <em>ebooks</em> desenvolvidos em parceria com o Instituto BioSistêmico (IBS): “Área de vivência: vestiários e instalações sanitárias”, que tem 27 páginas e aborda as boas práticas que garantam
            segurança, saúde, conforto e higiene nas propriedades rurais dos parceiros; e “Manual de Boas Práticas no uso de EPIs na Agricultura”, que incentiva a utilização e o descarte adequado de Equipamentos de Proteção Individual.</p>

            <table class="left">
              <thead>
                <tr>
            			<th colspan="5">
                      Gest&atilde;o da Sa&uacute;de e Seguran&ccedil;a KPIs <span class="gri">|GRI 403-2|</span>
            			</th>
            		</tr>
              </thead>
    	<tbody>

    		<tr>
    			<th rowspan="2">
    				Neg&oacute;cio
    			</th>
    			<th rowspan="2" colspan="2">
    				Indicador
    			</th>
    			<th colspan="2">
    				Per&iacute;odo
    			</th>
    		</tr>
    		<tr>
    			<th>
    				Ano
    fiscal 16/17
  </th>
    			<th>
    				Ano
    fiscal 17/18
  </th>
    		</tr>
    		<tr>
    			<td rowspan="4">
    				<strong class="color">Nutri&ccedil;&atilde;o Animal</strong>
    			</td>
    			<td rowspan="2">
    				Reativos
    			</td>
    			<td>
    				RIFR<sup>1</sup>
    			</td>
    			<td>
    				0,38
    			</td>
    			<td>
    				0,72
    			</td>
    		</tr>
    		<tr>
    			<td>
    				SIFR<sup>2</sup>
    			</td>
    			<td>
    				0,28
    			</td>
    			<td>
    				0,18
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Proativos
    			</td>
    			<td>
    				SIFp
    Observation Rate<sup>3</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				2,53
    			</td>
    		</tr>
    		<tr>
    			<td>

    			</td>
    			<td>
    				Hierarquia
    de Controle<sup>4</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				0%
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">
    				<strong class="color">Foods;
                  Amidos e Ado&ccedil;antes; Cacau e Chocolate</strong>
    			</td>
    			<td rowspan="2">
    				Reativos
    			</td>
    			<td>
    				RIFR<sup>1</sup>
    			</td>
    			<td>
    				0,61
    			</td>
    			<td>
    				0,79
    			</td>
    		</tr>
    		<tr>
    			<td>
    				SIFR<sup>2</sup>
    			</td>
    			<td>
    				0,18
    			</td>
    			<td>
    				0,14
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="2">
    				Proativos
    			</td>
    			<td>
    				SIFp
    Observation Rate<sup>3</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				9,46
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Hierarquia
    de Controle<sup>4</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				40%
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">
    				<strong class="color">Gr&atilde;os
                  e Processamento de Soja</strong>
    			</td>
    			<td rowspan="2">
    				Reativos
    			</td>
    			<td>
    				RIFR<sup>1</sup>
    			</td>
    			<td>
    				1,24
    			</td>
    			<td>
    				0,9
    			</td>
    		</tr>
    		<tr>
    			<td>
    				SIFR<sup>2</sup>
    			</td>
    			<td>
    				0,24
    			</td>
    			<td>
    				0,07
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="2">
    				Proativos
    			</td>
    			<td>
    				SIFp
    Observation Rate<sup>3</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				3,38
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Hierarquia
    de Controle<sup>4</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				100%
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">
    				<strong class="color">Localicades
                  Adminitrativas</strong>
    			</td>
    			<td rowspan="2">
    				Reativos
    			</td>
    			<td>
    				RIFR<sup>1</sup>
    			</td>
    			<td>
    				0,23
    			</td>
    			<td>
    				0,14
    			</td>
    		</tr>
    		<tr>
    			<td>
    				SIFR<sup>2</sup>
    			</td>
    			<td>
    				0
    			</td>
    			<td>
    				0,14
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="2">
    				Proativos
    			</td>
    			<td>
    				SIFp
    Observation Rate<sup>3</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				0
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Hierarquia
    de Controle<sup>4</sup>
    			</td>
    			<td>
    				n.d.
    			</td>
    			<td>
    				0%
    			</td>
    		</tr>
    	</tbody>
      <caption>
        1 RIFR: taxa de frequência de acidentes reportáveis ocorridas. <br>2 SIF Rate: taxa de frequência de lesões reportáveis que eram SIF (lesão severa ou fatalidade) ou tinham potencial SIF. <br>3 SIF Observation Rate: quantidade de situações de risco reportadas pelos colaboradores. Esse indicador permite fazer uma análise de risco compatível com a realidade e avaliar a cultura de reporte de riscos quando são identificados. <br>4 Hierarquia de Controle: mede a robustes das medidas de controle aplicadas para eliminar e controlar a exposição aos maiores riscos do local de trabalho. <br>5 Só há histórico para os indicadores reativos, que representam acidentes.
      </caption>

    </table>
    <div class="row">
      <div class="decor onethird top-left bottom-right to-bottom">
        &nbsp;
      </div>
      <div class="twothird full top-right bottom-left">
        <p class="destaque">
          <span class="bigger">80%</span>
          de redução nos acidentes
          graves com o programa
          Atingir Zero</p>
      </div>
    </div>
        <h3>Treinamentos <span class="gri">GRI 410-1</span></h3>
        <p>Ao ingressarem na Cargill, todos os funcionários recebem o treinamento de integração de segurança. Feito isso, há capacitações especializadas conforme a função exercida por cada profissional e suas exigências legais, como treinamento para trabalho
            em altura, trabalho em espaço confinado, segurança elétrica entre outros. Há um plano de treinamentos que conta com cursos de reciclagem mensais com controle de presença.</p>
        <p>Ao longo dos últimos anos, a participação em treinamentos relacionados ao tema tem crescido devido a novos programas de prevenção riscos a acidentes desenvolvidos pela Cargill e também por causa de revisões nas normas de segurança NR10, NR13, NR17, NR33 e NR35. A companhia trabalha com a meta de treinar ou reciclar anualmente 100% dos funcionários em temas de segurança.</p>

        <!-- <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="4">
                        Pessoal de segurança treinado em políticas ou procedimentos de direitos humanos <span class="gri">GRI 410-1</span>
                    </th>
                </tr>
            </thead>
            <tr>
                <th></th>
                <th> 2015 </th>
                <th> 2016 </th>
                <th> 2017 </th>
            </tr>
            <tr>
                <td> Número total de pessoas de segurança<sup>1</sup> </td>
                <td> 2.833 </td>
                <td> 2.977 </td>
                <td> 3.091 </td>
            </tr>
            <tr>
                <td> Número do pessoal de segurança que recebeu treinamento em diretos humanos </td>
                <td> 2.591 </td>
                <td> 2.745 </td>
                <td> 2.937 </td>
            </tr>
            <tr>
                <td> Percentual do pessoal de segurança que recebeu treinamento em diretos humano </td>
                <td> 91,46% </td>
                <td> 92,21% </td>
                <td> 95,02% </td>
            </tr>
            <caption>1 Considera a soma de funcionários próprios e contratados das plantas de amidos e ácido cítrico de Uberlândia (MG) e Castro (PR).</caption>
        </table> -->
        <div class="box right"><h2>ESSENCIAL PARA VOCÊ</h2>
        <p>Lançado oficialmente em outubro de 2017, o programa integra ações que visam a saúde e bem-estar dos funcionários da Cargill e seus dependentes. O objetivo é estimular a cultura de autocuidado, autoconsciência e prevenção por meio da busca de conhecimento
            para o equilíbrio e a qualidade de vida. Em março de 2018, sua <a href="http://www.essencialcargill.com.br/" target="_blank" rel="noopener noreferrer">plataforma na internet</a> contabilizava 2.940 funcionários
            cadastrados. O programa se divide em quatro pilares, que contam vários benefícios. O <strong>Essencial para o seu Bem-Estar</strong>, por exemplo, inclui <em>gympass</em> nacional, e vale-brinquedo; o <strong>Essencial para a sua Saúde</strong>            engloba <em>check-up</em>, programa de gestantes. No <strong>Essencial Para a sua Vida, </strong>o funcionário tem acesso a programas de educação financeira e no <strong>Essencial Para a sua Carreira </strong>se enquadra o programa de remuneração
            variável. <span class="gri">GRI 401-2</span></p>

            <div class="row">
              <div class="quarter full top-left bottom-right">
                <p><strong>Essencial para o seu Bem-Estar</strong> <br> Acesso a academias (<em>gympass</em>) e vale-brinquedo</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-bem-estar.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-bem-estar.svg">
                  <img src="../img/icone-pilar-bem-estar.png" alt="icone-pilar-bem-estar">
                </picture>

              </div>
              <div class="quarter full top-left bottom-right">
                <p><strong>Essencial para a sua Saúde</strong> <br> <em>Check-up</em>, Programa de gestantes</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-saude.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-saude.svg" alt="icone-pilar-saude">
                  <img src="../img/icone-pilar-saude.png" alt="icone-pilar-saude">
                </picture>

              </div>
              <div class="quarter full top-right bottom-left">
                <p><strong>Essencial Para a sua Vida</strong> <br> Programas de educação financeira</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-educacao-financeira.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-educacao-financeira.svg" alt="icone-pilar-educacao-financeira">
                  <img src="../img/icone-pilar-educacao-financeira.png" alt="icone-pilar-educacao-financeira">
                </picture>

              </div>
              <div class="quarter full top-right bottom-left">
                <p><strong>Essencial Para a sua Carreira</strong> <br> Programa de remuneração variável</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-carreira.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-carreira.svg" alt="icone-pilar-carreira">
                  <img src="../img/icone-pilar-carreira.png" alt="icone-pilar-carreira">
                </picture>

              </div>
            </div>

        </div>


        <div class="box left"><h2>AMIGO FIEL: MOTORISTAS SEGUROS</h2>
        <p>Criado com o objetivo de levar aos motoristas profissionais informações sobre segurança, qualidade de vida, e a importância do enfrentamento da exploração sexual de crianças e adolescentes nas estradas brasileiras, o Programa Amigo Fiel oferece
            serviços de orientação jurídica, aferição da pressão arterial, teste de glicemia, exame oftalmológico, avaliação dos hábitos alimentares e corte de cabelo. Nos últimos meses, o programa teve três edições: em agosto de 2017, 160 motoristas
            participaram em <strong>Goiânia (GO)</strong>, em setembro do mesmo ano, 180 profissionais integraram as atividades em <strong>Três Lagoas (MS)</strong>,e em fevereiro de 2018, foi a vez de 200 motoristas parceiros de <strong>Uberlândia (MG) </strong>participarem
            da 8ª. edição do programa. A segurança no trânsito é uma das 12 atividades destacadas globalmente pela Cargill, que com base em pesquisas científicas alterou a sua <strong>Política de Condução Segura</strong> em 2016.</p>

            <div class="row">
              <div class="twothird top-right bottom-left full">
                <picture>
                  <source type="image/webp" srcset="../img/icone-amigo-fiel.webp">
                  <source type="image/svg+xml" srcset="../img/icone-amigo-fiel.svg">
                  <img src="../img/icone-amigo-fiel.png" alt="icone-amigo-fiel">
                </picture>
                <p>
                    <span class="bigger">580</span>
                    motoristas participaram
                    das últimas três edições
                    do programa Amigo Fiel</p>
              </div>
              <div class="decor quarter top-left bottom-right">
                &nbsp;
              </div>
            </div>

          </div>



        <h1>Semeando Futuro <span class="gri">GRI 103-413</span></h1>
        <p>A partir de um concurso iniciado em fevereiro de 2017 que contou com quatro etapas, o Programa de Voluntariado Corporativo da Cargill completou 20 anos com um novo nome: Semeando Futuro. O lançamento dessa nova etapa foi em setembro, na fábrica de Três Lagoas (MS), onde trabalha Carla Eliane Ferreira Barbosa, a autora do nome vencedor, homenageada com uma placa de agradecimento e reconhecimento. Em 2017, 915 voluntários do Semeando Futuro participaram de ações que beneficiaram mais de 21 mil pessoas em 49 cidades. Apenas em outubro, mês mundial da alimentação, foram contabilizadas atividades em 16 cidades de nove estados, 39 ações, 50 oficinas, 509 voluntários em ação, 1.470 horas de trabalho. No total, foram dedicadas 3.102 horas ao trabalho voluntário e o percentual de operações da Cargill que possuem o programa é de 28%, considerando 176 operações da Cargill (escopo do relatório). Para o ano fiscal de 2017/2018, o índice favorável à empresa nas comunidades foi de 90% (meta era estar acima dos 70%), sendo: 36% de localidades atendidas por programas sociais e 9,5% de funcionários engajados em programas de voluntariado. <span class="gri">GRI 413-1</span></p>
        <div class="row">

          <div class="decor to-bottom onethird top-right bottom-left">
            &nbsp;
          </div>

          <div class="twothird full top-left bottom-right">
            <p class="destaque"><p class="destaque"><strong class="bigger">Em 2017</strong></p> <br>
              <strong>915</strong> voluntários <br>
              <strong>21 mil</strong> beneficiados <br>
              <strong>49 cidades</strong> participantes <br>
              <strong>3.102 horas</strong> de trabalho voluntário</p>
          </div>

        </div>
        <p>Além das iniciativas do Semeando Futuro e também daquelas desenvolvidas pela Fundação Cargill (mais informações em <a href="ser-o-parceiro-mais-confiavel.html#">Fundação Cargill</a>), as unidades também realizam ações pontuais, conduzidas localmente de acordo com cada necessidade, como campanhas de doações a diversas instituições e apoio a iniciativas voltadas ao meio ambiente. Muitas unidades aplicam o projeto portas abertas à comunidade, que possibilita a visitação às instalações da empresa.</p>
