<h1>Principais destaques</h1>
  <div class="row">
    <div class="half bottom-left top-right full">
      <hr>
      <p class="destaque"><strong>155 mil funcionários</strong> ao redor do mundo e <strong>mais de 10 mil no Brasil</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-brasil.webp">
        <source type="image/svg+xml" srcset="../img/icone-brasil.svg">
        <img src="../img/icone-brasil.png" alt="icone-brasil">
      </picture>
      <hr>

    </div>
    <div class="half bottom-right top-left full">
      <hr>
      <p class="destaque"><strong>R$ <span class="bigger">35 bilhões</span> </strong>de receita operacional líquida </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-cifrao.webp">
        <source type="image/svg+xml" srcset="../img/icone-cifrao.svg">
        <img src="../img/icone-cifrao.png" alt="icone-cifrao">
      </picture>
      <hr>
    </div>

  </div>
  <div class="row">
    <div class="onethird bottom-right top-left">
        <p>investimentos de <strong><span class="bigger">R$ 790 milhões</span></strong> em 2017 e de <strong class="bigger">R$ 4,6 bilhões</strong> nos últimos 7 anos</p>
    </div>
    <div class="twothird bottom-left top-right full">
      <p class="destaque">915 voluntários do <br>Semeando o futuro participaram de ações que <strong>beneficiaram mais de <span class="bigger">21 mil</span> pessoas </strong>em 49 cidades </p>
    </div>
  </div>
  <div class="row">
    <div class="half full bottom-left top-right">
      <hr>
      <p class="destaque">Fundação Cargill <strong>completa <span class="bigger">45</span> anos</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-calendario.webp">
        <source type="image/svg+xml" srcset="../img/icone-calendario.svg" >
        <img src="../img/icone-calendario.png" alt="icone-calendario">
      </picture>
      <hr>

    </div>
    <div class="half full bottom-right top-left">
      <hr>
      <p>Programa de <strong class="bigger">certificação para os produtores de <br> soja 3S</strong> (Soluções para Suprimentos Sustentáveis) está presente em quatro estado: Paraná, Mato Grosso, Pará e Goiás </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-soja.webp">
        <source type="image/svg+xml" srcset="../img/icone-soja.svg">
        <img src="../img/icone-soja.png" alt="icone-soja">
      </picture>

      <hr>

    </div>
  </div>
  <div class="row">
    <div class="twothird full bottom-left top-right">
      <hr>
      <p class="destaque">Projeto Cacau Floresta analisou 70 propriedades e <strong>beneficiou <span class="bigger">123 produtores</span> familiares</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-cacau.webp">
        <source type="image/svg+xml" srcset="../img/icone-cacau.svg">
        <img src="../img/icone-cacau.png" alt="icone-cacau">
      </picture>
      <hr>
    </div>

  <div class="onethird full bottom-right top-left">
    <hr>
    <p class="destaque"><strong>Patrimônio líquido</strong> cresceu <span class="bigger">17%</span> no ano</p>
    <picture>
      <source type="image/webp" srcset="../img/icone-grafico-sobe.webp">
      <source type="image/svg+xml" srcset="../img/icone-grafico-sobe.svg">
      <img src="../img/icone-grafico-sobe.png" alt="icone-grafico-sobe">
    </picture>
    <hr>

  </div>
</div>

<div class="row">
  <div class="full half bottom-right top-left">
    <p><strong>Destinação pós-consumo <span class="bigger">650 mil litros</span> de óleo de cozinha</strong> com o Ação Renove o Meio Ambiente levou à correta destinação de usado em 2017 </p>
  </div>
  <div class="half bottom-left top-right">
    <p>Cinco dias de com palestras, <em>workshops</em> e programações especiais em diferentes localidades para <strong>debater a Diversidade</strong> </p>
  </div>
</div>

<h1>Lançamentos</h1>



<div class="row">
  <div class="full bottom-right top-left">
    <p class="destaque">Mais de uma dezena de lançamentos em varejo e <em>food service</em> com...</p>
    <p>Maioneses LIZA <br>
    Atomatados Pomarola, Elefante e Tarantela <br>
    Linha Genuine de Chocolate e Cacau em pó <br>
    Nutrição animal com as linhas Livelle e Proobefef Resist da Nutron</p>
  </div>
</div>




<!-- <p>PDF em desenvolvimento, segue exemplo de como está ficando:</p> -->
