
  <div class="row">
    <div class="onethird top-right bottom-left">
      <h2><a href="">Mensagem do Presidente</a></h2>
    </div>
    <div class="onethird top-left bottom-right">
      <h2><a href="">Destaques do ano</a></h2>
    </div>
    <div class="onethird top-right bottom-left">
      <h2><a href="">Liderar nos mercados</a></h2>
    </div>
  </div>
