



<h1>Perfil <span class="gri">GRI 102-7</span></h1>
<p>Com sede global em Minneapolis, no estado de Minnesota, a Cargill foi fundada nos Estados Unidos em 1856 e se expandiu para 70 países, totalizando 155 mil funcionários ao redor do mundo. Sua maior operação fora dos EUA é no Brasil, onde atua desde 1965 e emprega 10.157 pessoas. <span class="gri">GRI 102-1, 102-3, 102-4, 102-8</span></p>
<p>No País, tem sede em São Paulo (SP) e está presente em 17 estados e no Distrito Federal por meio de unidades industriais, armazéns, terminais portuários e escritórios em 160 municípios. <span class="gri">GRI 102-3, 102-4</span></p>

<!-- <div class="row">
  <div class="top-right bottom-left full">
    <p>Duis lorem magna, ornare ac laoreet eu, pulvinar molestie purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla dictum mollis venenatis. Fusce tristique porttitor dui, quis dignissim purus sollicitudin eu. Aliquam iaculis, sapien in mollis imperdiet, nulla nisi condimentum turpis, eget iaculis est leo vel erat. </p>

  </div>
  <div class="half top-right bottom-left">
    <p>In posuere, tortor sed molestie aliquam, magna est ornare lectus, et aliquam eros sapien eu erat. Duis non tempus est. Praesent in condimentum arcu, quis aliquet mi. Nullam ut velit elit. Nam lacus risus, interdum a nisi ac, varius vulputate turpis. Morbi posuere mi in odio tincidunt euismod a nec quam. Proin velit metus, finibus in erat nec, maximus blandit lorem. Cras eget porta elit, vel volutpat justo. Sed venenatis mi ut turpis ornare, ac vestibulum lectus rhoncus.</p>
  </div>
  <div class="half top-right bottom-left">
    <p>Nam at sollicitudin odio. Aliquam odio neque, molestie eget mauris nec, interdum rutrum lectus. Mauris malesuada auctor ultrices. Pellentesque pulvinar a nunc consectetur congue. Aliquam lorem nisi, ornare a lorem sed, volutpat bibendum elit. Mauris vel ipsum diam. Sed interdum ornare tellus, at iaculis arcu egestas vel. Fusce ultrices neque interdum diam condimentum, vitae consectetur dolor laoreet.</p>

  </div>
  <div class="onethird top-right bottom-left">
    <p>In posuere, tortor sed molestie aliquam, magna est ornare lectus, et aliquam eros sapien eu erat. Duis non tempus est. Praesent in condimentum arcu, quis aliquet mi. Nullam ut velit elit. </p>
  </div>
  <div class="twothird top-left bottom-right full">
    <p>Nam at sollicitudin odio. Aliquam odio neque, molestie eget mauris nec, interdum rutrum lectus. Mauris malesuada auctor ultrices. Pellentesque pulvinar a nunc consectetur congue. Aliquam lorem nisi, ornare a lorem sed, volutpat bibendum elit. Mauris vel ipsum diam. Sed interdum ornare tellus, at iaculis arcu egestas vel. Fusce ultrices neque interdum diam condimentum, vitae consectetur dolor laoreet.</p>

  </div>
</div> -->
<p>A Cargill ajuda clientes e parceiros nos setores agrícola, alimentício, de nutrição animal e industrial a alcançarem o sucesso por meio da colaboração e da inovação, oferecendo soluções em comercialização, processamento e distribuição de produtos e serviços. É uma empresa comprometida em usar seus conhecimento e experiência globais para superar desafios econômicos, ambientais e sociais onde quer que faça negócios.</p>
<p>Em junho de 2017, a Cargill acertou a venda da sua operação na unidade de São José do Rio Pardo (SP) para a Doehler. A decisão considerou aspectos estratégicos e de alinhamento deste segmento com a estratégia global da companhia, que optou por sair do negócio de preparados de frutas, recheios e coberturas no Brasil. Já em outubro, a companhia assinou a compra da Integral Nutrição, empresa de produtos para bovinos de leite e corte no centro-oeste do País. A Cargill assumiu 100% dos ativos no primeiro dia útil de 2018. Também ocorreram, em 2017, mudanças em relação à Central Energética Vale do Sapucaí Ltda. (Cevasa), em Patrocínio Paulista (SP). Houve uma reavaliação do plano de negócios da <em>joint venture</em> com a Canagril, que transferiu sua participação acionária para a Cargill. Leia mais em <a href="">Usar nosso porte a nosso favor</a> <span class="gri">GRI 102-10</span> </p>

<div class="unidades">
    <picture>
      <source type="image/svg+xml" srcset="../img/unidades01.svg">
      <img src="../img/unidades01.png" alt="unidades01">
    </picture>
    <picture>
      <source type="image/svg+xml" srcset="../img/unidades02.svg">
      <img src="../img/unidades02.png" alt="unidades02">
    </picture>
    <!-- <picture>
      <source type="image/svg+xml" srcset="../img/unidades03.svg">
      <img src="../img/unidades03.png" alt="unidades03">
    </picture> -->
    <picture>
      <source type="image/svg+xml"  srcset="../img/unidades04.svg">
      <img src="../img/unidades04.png" alt="unidades04">
    </picture>
    <!-- <picture>
      <source type="image/svg+xml" srcset="../img/unidades05.svg">
      <img src="../img/unidades05.png" alt="unidades05">
    </picture> -->
</div>
<div class="box right">
  <!-- <span data-alert="inserir ícones"></span> -->
    <!-- @TODO: <p>Arte do PDF: </p> -->
    <h2>ATUAÇÃO NO BRASIL <span class="gri">GRI 102-2, 102-6</span></h2>
    <p><strong class="color">Agrícola – </strong>compra, processa e comercializa globalmente soja e outras <em>commodities</em>. Negocia açúcar e algodão no mercado mundial.</p>
    <p><strong class="color">Alimentos – </strong>oferece às indústrias de alimentos e bebidas ampla gama de ingredientes. Desenvolve inovações para os mercados varejista e de <em>food service</em> e possui marcas próprias de produtos de consumo de alta qualidade.</p>
    <p><strong class="color">Nutrição animal –</strong> desenvolve ingredientes destinados à nutrição animal e insumos por meio dos produtos das marcas Nutron e Integral.</p>
    <p><strong class="color">Industrial –</strong> desenvolve e comercializa produtos sustentáveis à base de matérias-primas agrícolas: fornece óleos vegetais para indústrias de lubrificantes, medicamentos, cosméticos, tintas e produtos químicos. Com as linhas de amidos, atende os setores de papel, químico, têxtil, mineração, farmacêutico, entre outros.</p>
    <p><strong class="color">Financeiro –</strong> oferece soluções financeiras, com financiamentos e gestão de risco desenvolvidos especialmente para produtores rurais, empresas do setor agrícola e da indústria de alimentos.</p>
</div>

<div class="mapa-unidades">
  <picture data-slug="mapa-unidades">
    <source type="image/webp" srcset="../img/mapa-unidades.webp">
    <source type="image/svg+xml" srcset="../img/mapa-unidades.svg">
    <img src="../img/mapa-unidades.png" alt="mapa-unidades">
  </picture>
  <picture data-slug="mapa-unidades-legenda">
    <source type="image/webp" srcset="../img/mapa-unidades-legenda.webp">
    <source type="image/svg+xml" srcset="../img/mapa-unidades-legenda.svg">
    <img src="../img/mapa-unidades-legenda.png" alt="mapa-unidades-legenda">
  </picture>
</div>

<h1>Gestão estratégica</h1>
<p>As premissas Liderar nos mercados, Desenvolver o potencial dos nossos funcionários, Ser o parceiro mais confiável, Usar o nosso porte a nosso favor e Ser excelente nas tarefas básicas, inspiram os títulos dos capítulos do Relatório de Sustentabilidade 2017 da Cargill porque são pilares que direcionam toda a estratégia da companhia.</p>
<p>Focada em seu propósito, visão e direção, a maior empresa de capital privado do mundo considerou tais pilares ao definir medidas e habilidades em um sólido plano para o sucesso. <span class="gri">GRI 102-5</span></p>
<p>A partir do engajamento de toda a liderança da companhia, teve início o chamado Game Change Challenge, uma série de eventos criados para desafiar os funcionários ao longo de todo o ano fiscal de 2017 a vivenciarem as cinco principais habilidades, presentes no nosso GPS (Game Plan for Success), que diferenciam a Cargill do mercado e permitirão que a companhia atinja o seu propósito.</p>
<!-- @TODO: <p>Arte em desenvolvimento. Abaixo, figura antiga e dados</p> -->
<!-- <fieldset data-alert="este conteúdo será um diagrama">
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td> Nosso Game Plan for Success – Um plano para o sucesso: Direção Estratégica da Cargill [texto inicial] Finalidade – Por que existimos: Cargill será líder em nutrir o mundo de forma segura, responsável e sustentável. Visão – Aonde iremos: Seremos o parceiro mais confiável em agricultura, alimentação e nutrição. Direção – Como chegaremos lá: Venceremos com uma combinação de recursos distintos, negócios com grande desempenho e liderança ousada em questões que moldam o futuro do mundo. Medidas – Como monitoramos nosso progresso: Vencer significa que:
            <ul>
                <li>Somos os preferidos dos clientes </li>
                <li>Somos escolhidos pelos funcionários </li>
                <li>Somos acolhidos pelas comunidades </li>
                <li>Os acionistas recebem um excelente retorno </li>
            </ul> [texto colorido] - Liderar nos mercados - Desenvolver o potencial dos nossos funcionários - Ser excelente nas tarefas mais básicas - Ser o parceiro mais confiável - Usar o nosso porte a nosso favor [texto rodapé cinza] Habilidades – O que nos diferencia Tranding e gerenciamento de risco Cadeias de suprimentos sustentáveis Digitalização e análise de dados Conhecimento de mercado e inovação Liderança de pensamento e engajamento de públicos estratégicos </td>
    </tr>
</table>
  </fieldset> -->
  <picture>
    <source type="image/webp" srcset="../img/game-plan-sucess.webp">
    <source type="image/svg+xml" srcset="../img/game-plan-sucess.svg">
    <img src="../img/game-plan-sucess.png" alt="game-plan-sucess">
  </picture>


<h2>Valores Cargill <span class="gri">GRI 102-16</span></h2>
<p>A Cargill anunciou a atualização de seus valores em outubro de 2017, quando executivos se reuniram com o CEO Global para discutir sobre quais aspectos os definiam como companhia. A mudança foi proposta para orientar as decisões e conduta; manifestar o incentivo ao alto desempenho, integração e simplificação; garantir o alinhamento com as expectativas culturais e de ecossistema; e promover o olhar para fora da empresa, a coragem, a tomada de riscos e a ousadia.</p>
<p>Sempre valorizando o desenvolvimento de seus profissionais, foi construído um projeto para a divulgação dos valores para que estejam totalmente incorporados na cultura da companhia até 1º de junho de 2018. O projeto contou com a elaboração de um <em>e-book</em>, lançado em março, que explica o significado de cada um dos três valores.</p>

<div class="diagrama-valores">
  <picture>
    <source type="image/webp" srcset="../img/expectativa-lideranca.webp">
    <img src="../img/expectativa-lideranca.jpg" alt="expectativa-lideranca">
  </picture>
</div>


<!-- <fieldset data-alert="este conteúdo será um diagrama">

  <table border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td> Valores Cargill [texto para a esfera] Valores Faça a coisa certa Coloque as pessoas em primeiro lugar Supere as expectativas Considere perspectivas externas Pensanmento sistêmico – Estratégico Atinja resultados excepcionais Ágil e resiliente – Decidido e motivado por resultados Estimule para gerar alto desempenho Pessoas em primeiro lugar – Autêntico e inspirados [demais textos]
              <ul>
                  <li>.<strong>Faça a coisa certa:</strong> Somos honestos e transparentes, vamos além do que é exigido por lei e sempre pensamos sobre o que é correto para a empresa, funcionários, clientes, fornecedores, comuidades e para o planeta.
                  </li>
                  <li>.<strong>Coloque as pessoas em primeiro lugar:</strong> Colocamos a segurança física e psicológica dos funcionários acima de qualquer coisa e ajudamos nossos colegas a alcançar todo o seu potencial. </li>
                  <li>.<strong>Supere as expectativas:</strong> A nossa humildade e paixão pela excelência nos motiva a melhorar diariamente. </li>
              </ul>
          </td>
      </tr>
  </table>
</fieldset> -->
