<p><span class="gri">GRI 102-14</span> Marcado por nossos avanços em tecnologia, inovação e diversidade, 2017 consolidou importantes conquistas e fortaleceu a constante evolução da Cargill. Crescemos 6%, alcançando receita operacional líquida R$ 35 bilhões. A safra de grãos excepcional para o agronegócio brasileiro foi boa para nós, e, mesmo com a crise ainda presente, seguimos em frente: lançamos produtos, expandimos negócios e investimos em infraestrutura, pois confiamos na solidez da nossa empresa e na capacidade do Brasil.</p>
<p>Esse é o grande legado que pretendemos deixar – de uma empresa que mantém a postura de parceria com produtores agrícolas, fornecedores e clientes; uma companhia que investe, que valoriza a sustentabilidade de toda a cadeia produtiva.</p>
<p>Na Rota Norte, por exemplo, consolidamos investimentos que melhoram a competitividade internacional brasileira e as condições do produtor rural. Foram finalizadas as obras de ampliação do terminal de exportação de grãos em Santarém (PA) que ampliou de dois para cinco milhões de toneladas a capacidade anual do terminal. Grande parte desse volume adicional de grãos chega por meio do Rio Tapajós a partir do terminal de transbordo rodo-fluvial também entregue em 2017 no distrito de Miritituba, em Itaituba (PA). Tais projetos criam empregos e ajudam a reduzir as emissões de gases de efeito estufa, a medida que diminuem o tráfego de caminhões até outros portos para escoar a safra ao mercado externo.</p>

<p>Priorizamos tecnologia e processos eficientes. O ano de 2017 foi importante para a consolidação de aquisições e projetos de melhorias das fábricas. Investimos R$ 4,6 bilhões no País nos últimos sete anos e estimamos injetar até R$ 400 milhões em 2018.</p>
<p>Ao longo do ano, ampliamos a fábrica de moagem de grãos de soja de Três Lagoas (MS), elevando sua capacidade de processamento de 2.100 toneladas/dia para 3.200 toneladas/dia. Também compramos 100% dos ativos da Integral, ampliando nosso negócio de nutrição animal.</p>
<p>A inovação também está intimamente atrelada ao mercado interno: apostamos no desenvolvimento de ingredientes e produtos para uma alimentação mais saudável e sustentável; no relacionamento com os clientes e produtores; e em novas tecnologias que trazem valor ao negócio. Somente em 2017, o Centro de Inovação Cargill para a América Latina, desenvolveu 81 projetos.</p>
<div class="row">
    <div class="decor onethird full top-left bottom-right">
    &nbsp;
    &nbsp;
    </div>
    <div class="twothird full top-left bottom-right">
        <blockquote><p class="destaque">“Esse é o grande legado que pretendemos deixar – de uma empresa que mantém a postura de parceria, que investe, que valoriza a sustentabilidade de toda a cadeia produtiva”</p></blockquote>
    </div>
</div>
<p>Tivemos importantes lançamentos no <em>food service</em>, como novas versões dos atomatados Elefante, Pomarola e Tarantella e também no varejo, com a maionese LIZA Caseira Ervas Finas e a linha Genuine de chocolates em pó.</p>
<p>Em relação à cadeia produtiva do cacau, em 2017, atingimos a marca de 90 fazendas com a certificação UTZ, que garante produção e fruto sob rigorosas regras, abrangendo desde o manejo da lavoura até o atendimento às legislações ambientais e trabalhistas.</p>
<p>Signatários do Pacto Global e do Tropical Forest Alliance, monitoramos a nossa cadeia produtiva, com o apoio do nosso Comitê de Sustentabilidade e de fóruns específicos, como os grupos de trabalho da Soja e do Cerrado, nos quais atuamos com outras organizações.</p>
<p>Também celebramos o desempenho da Fundação Cargill. Em 2017, a organização desenvolveu projetos que beneficiaram quase 38 mil pessoas e lançou a Tese de Impacto Social em Alimentação, um mapeamento inédito realizado em parceria com aceleradora Artemísia que identifica oportunidades para empreender no setor.</p>
<p>Outras marcas da gestão são a segurança e a diversidade. Revisitamos nossos valores e reafirmamos globalmente nosso compromisso com a ética, pessoas, sustentabilidade e diversidade. Nossos acidentes graves tiveram redução significativa e a Semana da Diversidade demostrou o total engajamento da liderança com o tema. Em 2018, iniciaremos um programa para contratação de pessoas transgêneros e a adaptação das instalações para recebê-los, buscando ser uma empresa cada vez mais inclusiva. </p>
<p>Tudo isso não poderia ser diferente em uma companhia cujo propósito é ser o líder global em nutrir o mundo de maneira segura, responsável e sustentável. A inclusão e a diversidade são nossos facilitadores para alcançar este objetivo.</p>
<p class="color"><strong>Luiz Pretti</strong>
    <br>Presidente da Cargill no Brasil</p>
