<h2>&nbsp;</h2>
<p>A atuação responsável permeia todas as atividades da Cargill, desde o relacionamento com os produtores rurais até ações no pós-consumo. Dessa forma, a empresa cumpre seu compromisso de alimentar o mundo de maneira segura, saudável e acessível, ao passo em que inspira boas práticas e prospera ao lado de parceiros, clientes e comunidades.</p>
<p>Na última década, a evolução da companhia no tema trouxe resultados significativos na gestão das cadeias produtivas. Por meio de métricas, protocolos e índices, a Cargill realiza a gestão de dados para uma atuação mais estratégica dos negócios, alinhada às práticas e aos compromissos globais.</p>
  <div class="row">
    <div class=" twothird full top-left bottom-right">
      <h3>Princípios Éticos Cargill</h3>
      <ol class="destaque">
          <li>
              Cumprimos a lei
          </li>
          <li>
              Conduzimos nosso negócio com integridade
          </li>
          <li>
              Mantemos registros precisos e honestos
          </li>
          <li>
              Honramos as obrigações de nosso negócio
          </li>
          <li>
              Tratamos pessoas com dignidade
          </li>
          <li>
              Protegemos as informações, os ativos e os interesses da Cargill
          </li>
          <li>
              Estamos comprometidos com uma cidadania global e responsável
          </li>
      </ol>
    </div>
    <div class="decor onethird full bottom-left top-right ">
      &nbsp;
      &nbsp;
    </div>
  </div>

<h3>Gestão de riscos</h3>
<p>O sistema de gerenciamento de riscos é outro componente do sucesso da gestão. Ao antecipar riscos que possam impactar as operações, a empresa consegue tomar decisões mais assertivas de forma ágil e responsável. Os principais riscos monitorados
    são: crédito; taxas de câmbio e juros; liquidez; preços de <em>commodities</em> e riscos decorrentes de mudanças climáticas.</p>
        <h1>Governança Corporativa <span class="gri">GRI 102-18</span></h1>
        <p>A liderança global da Cargill é de responsabilidade da Diretoria Executiva, formada pelo presidente e por oito diretores. Em 2017, dois entre esses nove executivos eram mulheres.</p>
        <p>A Diretoria comanda a execução das estratégias globais, com o apoio de cinco comitês permanentes e, eventualmente, comitês temporários criados para atender a questões pontuais.</p>
        <p>Executivos da Cargill de várias partes do mundo, inclusive do Brasil, compõem os comitês corporativos, garantindo que as especificidades dos negócios em cada localidade sejam consideradas na criação de iniciativas e projetos. Atualmente, os comitês
            estão estruturados da seguinte forma:</p>
        <p><strong class="color">Comitê de Ética nos Negócios</strong> – Zela pelo cumprimento do Código de Conduta e atua na gestão de riscos relacionados à marca e à reputação. Também define o posicionamento da companhia diante de políticas públicas e do relacionamento
            com os <em>stakeholders</em>, para garantir a integridade e a transparência na condução dos negócios.</p>
        <p><strong class="color">Comitê de Recursos Humanos</strong> – Apoia o trabalho de atração, seleção e gestão de talentos com base em diretrizes para a promoção da diversidade e da inclusão. Também discute e revisa as políticas relacionadas à remuneração,
            aos benefícios, às práticas trabalhistas, aos investimentos de fundos de pensão e às iniciativas de transição de carreira.</p>
        <p><strong class="color">Comitê de Riscos Financeiros</strong> – Define políticas, padrões e procedimentos para a gestão de riscos, a fim de garantir a sustentabilidade dos negócios ante os fatores econômico-financeiros que podem impactar as operações.</p>
        <p><strong class="color">Comitê de Saúde e Segurança no Trabalho</strong> – Monitora os indicadores relacionados à saúde e à segurança dos funcionários, além de atuar no suporte das iniciativas que visam ao cumprimento e ao aperfeiçoamento das normas e
            dos procedimentos de segurança dentro e fora da companhia.</p>
        <p>No Brasil, a liderança é apoiada por três comitês locais.</p>
        <ul>
            <li>
                <p><strong class="color">Comitê de Saúde</strong> – Conecta e potencializa as iniciativas relacionadas à saúde na Cargill, como a área de benefícios, os ambulatórios e as campanhas de prevenção. Com uma série de ações planejadas em parceria com o departamento de Recursos Humanos, o Comitê busca fazer com que os funcionários sejam protagonistas nos cuidados com a própria saúde. </p>
            </li>
            <li>
                <p><strong class="color">Comitê de Diversidade</strong> – Grupo multidisciplinar com profissionais de todas as áreas e níveis hierárquicos. Valida as diretrizes relacionadas às singularidades humanas, ações, metas e indicadores bem como acompanha as ações dos Business Resource Group (BRG) - Pride Network, AfroCargill, MOB e CWN Brasil. </p>
            </li>
            <li>
                <p><strong class="color">Comitê de Sustentabilidade</strong> – Formado por 11 gestores da alta liderança, o Comitê de Sustentabilidade da Cargill no Brasil se reúne a cada trismestre e atua por meio de grupos de trabalho. Em 2017, dedicou-se prioritariamente a três planos de ação que tratam dos temas: Gestão da Jornada de Trabalho; Saúde e Segurança do Trabalho e Uso do Solo. </p>
            </li>
        </ul>


        <div class="box right">
            <h2>Conduta Ética <span class="gri">GRI 102-16</span></h2>
        <p>A conduta ética da Cargill tem sido um rico legado no desenvolvimento e sustentação do agronegócio, da indústria e do setor de alimentos no País. Sua sólida posição de liderança no mercado global é construída diariamente sobre os pilares da transparência e do respeito. Todos os negócios partem do princípio da concorrência leal e são promovidos de forma justa e honesta.</p>
        <p>Para garantir esses princípios, há um Código de Conduta que descreve os padrões éticos e de conformidade da empresa para conduzir negócios ao redor do mundo e serve de guia para os 150 mil funcionários. Todos os funcionários recebem treinamento sobre o código quando ingressam na empresa, tornando-se responsáveis pelo seu cumprimento, bem como pela prevenção, detecção e comunicação de qualquer violação às leis ou políticas da empresa. Há uma linha ética, na qual qualquer colaborador ou terceiro pode denunciar uma atitude inapropriada. <span class="gri">GRI 103-412, 412-2</span></p>
        <p>A Cargill desenvolveu também o Código de Conduta do Fornecedor, que determina parâmetros éticos exigidos em toda a sua cadeia de valor.</p>
        </div>

        <h1>Cadeia produtiva <span class="gri">GRI 102-9, 103-408, 103-409, 103-411</span></h1>
        <p>O compromisso da empresa com a ética e as boas práticas socioambientais se estende a toda a cadeia produtiva, uma vez que a qualidade e a segurança dos alimentos oferecidos pela Cargill dependem dos vínculos de confiança estabelecidos com os fornecedores.
            Além do Código de Conduta do Fornecedor, há o Código de Ética do Comprador, que reúne um conjunto de regras relacionadas ao tema.</p>
        <p>A política interna segue a legislação e as operações de compras diretas de materiais e insumos são regidas pelo Código de Conduta do Fornecedor, cujo aceite formal é condição para participação em qualquer processo de compras da companhia.Todos
            os contratos possuem cláusulas referentes a regras relacionadas a <em>compliance</em> e direitos humanos, o que inclui os direitos dos povos indígenas. <span class="gri">GRI 412-1, 412-3</span></p>
        <p>Além disso, os fornecedores não devem, em hipótese alguma, empregar, direta ou indiretamente, mão de obra infantil, e/ou utilizar-se de mão de obra em condições de trabalho análogo ao escravo. O descumprimento desses critérios resulta em quebra legal de contrato.</p>
        <p>Signatária do Pacto Empresarial Contra a Exploração Sexual de Crianças e Adolescentes nas Rodovias Brasileiras, a Cargill considera a exploração sexual infantil um risco entre os fornecedores. Para mitigá-lo, é apoiadora do Programa Na Mão Certa,
            em que motoristas recebem orientações contra esta prática. O programa, iniciativa da Childhood Brasil, visa mobilizar governos, empresas e organizações do terceiro setor no enfrentamento da exploração sexual de crianças e adolescentes nas
            rodovias e estradas brasileiras. Em 2017, foram realizadas três diferentes campanhas em seis unidades da companhia, com a participação de mais de 640 caminhoneiros. Para 2018, a empresa pretende expandir as ações a todas as localidades onde
            está presente, assim como possuir pelo menos uma pessoa treinada e apta a realizar as campanhas do Na Mão Certa em cada uma dessas comunidades. <span class="gri">GRI 408-1, 414-2</span></p>
        <h3>Parcerias</h3>
        <p>Como parte da comunidade global, a Cargill reconhece a importância do seu papel em ajudar a enfrentar alguns dos desafios mais significativos mundialmente. Dessa forma, trabalha em parceria com governos e organizações de bem-estar social para
            tratar da preocupação com problemas relacionados aos direitos humanos, que incluem trabalho forçado, tráfico humano e outras práticas ilegais. <span class="gri">GRI 103-412</span></p>
        <p>Entre os impactos sociais negativos na sua cadeia produtiva, a Cargill mapeou riscos de trabalho escravo, desmatamento ilegal e descumprimento da legislação ambiental na compra de matéria-prima de agricultores.</p>
        <p>A Cargill possui um sistema central automatizado em seus controles de compras, emissão de notas fiscais e recebimento que bloqueia todos os empregadores presentes na lista suja do trabalho escravo. Signatária do Pacto Nacional para a Erradicação
            do Trabalho Escravo, a empresa utiliza a lista elaborada pela ONG Inpacto, parceira institucional que tem como missão erradicar o trabalho escravo. O mesmo sistema também bloqueia qualquer tipo de comercialização com pessoas jurídicas e/ou
            físicas que estejam listadas pelo IBAMA. <span class="gri">GRI 412-3, 414-2</span></p>
        <p>Em 2016, foi estabelecida globalmente uma parceria com a ONG World Resources Institute (WRI), que visa fortalecer a sustentabilidade na cadeia de suprimentos e garantir aos parceiros a segurança e a transparência em práticas ambientais. O WRI
            desenvolveu uma plataforma para consolidar dados de perda de florestas, na qual a Cargill Brasil também contribui, a fim de tornar as informações disponíveis mais robustas e precisas para a companhia, o setor e demais públicos de interesse.
            O <a href="https://www.cargill.com.br/pt_BR/proteção-do-planeta" target="_blank" rel="noopener noreferrer">Relatório de 2017 sobre Florestas</a>, publicado no site da Cargill, traz mais informações sobre o assunto. <span class="gri">GRI 102-12, 304-2</span></p>
        <h2>Avaliação Social <span class="gri">GRI 103-414</span></h2>
        <p>A Cargill aplica os formulários de capacidades (VMO, Vendor Management Office) e de solicitação de informações (RFI, Request for Information) nos sistemas de busca por novos fornecedores para identificar e avaliar os impactos reais e potenciais
            negativos da cadeia de suprimentos. </p>
        <p>Chamado de Strategic Sourcing, tal sistema não inclui algumas situações em que contratos com fornecedores são estabelecidos diretamente com áreas interessadas, agricultores, transportadoras e terceiros. Dentro disso, foram avaliados 2.120 novos
            fornecedores de acordo com critérios de direitos humanos em 2017, 49% mais que os 1.418 avaliados em 2016. <span class="gri">GRI 414-1</span></p>
        <p>O processo inclui ações de prevenção, mitigação ou retenção desses impactos, tais como: envio de informações para o comitê de fornecedores, busca de parecer jurídico e até bloqueio do fornecedor.</p>
        <p>A avaliação da capacidade do fornecedor considera se há uma declaração formal ou política interna – e se essa é estendida aos seus fornecedores. Já o monitoramento inclui informações sobre segurança e saúde no trabalho, emissões atmosféricas,
            gerenciamento de efluentes, estoque e manuseio, solo e proteção do lençol freático, biomassa, controle de ruídos e outros assuntos ligados a projetos de ecoeficiência, área embargada, região de escassez de água, erradicação de mão de obra
            infantil, mão de obra análoga à escrava, erradicação a exploração sexual infantil. Os indicadores que medem o desempenho em sustentabilidade dos fornecedores contratados são atualizados trimestralmente. </p>
        <p> A estratégia com o apoio do Comitê de Sustentabilidade, que possui indicadores específicos para ajudar na melhoria desse desempenho. No terceiro quadrimestre do ano fiscal 2017/2018, o índice de fornecedores avaliados em sustentabilidade foi de
            72% (meta era 75%). Entre os novos fornecedores, 56% dos que receberam <em>Requests for Proposal</em> (convites para venda) estavam em conformidade com os critérios de sustentabilidade, sendo que 100% dos contratados atenderam aos critérios
            estabelecidos. <span class="gri">GRI 414-1</span></p>
        <!-- <fieldset data-alert="Arte em desevolvimento">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td> <a id="_Hlk517166614">[texto primeira linha]</a> Suprimentos, equipamentos e conhecimento para os produtores Armazenagem e transporte globais Processamento de commodities para alimentação humana, nutrição animal e combustível Ingredientes
                    para distribuidores e companhias de bens de consumo Alimentos vendidos e em restaurantes [texto segunda linha] Obtenção de ingredientes para nutrição animal Animal alimentado – produção desenvolvido e transformação em produtos proteicos
                    Alimentos vendidos por meio dos diversos canais -Agriculture Supply Chain - Animal Nutrition &amp; Protein - Food Ingredients &amp; Bioindustrials - Transportation, Energy &amp; Financial Services </td>
            </tr>
        </table>
        </fieldset> -->
        <h2>Saúde e segurança do consumidor <span class="gri">GRI 103-416</span></h2>
        <p>A Cargill possui uma definição clara para segurança dos alimentos: proteger as pessoas e animais de doenças ou acidentes provenientes do manuseio ou consumo de seus produtos alimentícios.</p>
        <p>Sua política de alimentos seguros <em>(food safety)</em> está fundamentada em: padrões e princípios do Codex Alimentarius para alimentação humana e animal; princípios da Organização Mundial para a Saúde dos Animais (OIE) para questões relacionadas à saúde animal; e princípios da Comissão Internacional de Proteção à Vegetação (IPCC) para questões relacionadas à saúde vegetal.</p>
        <p>A empresa adota uma abordagem científica baseada nos riscos para a segurança dos alimentos, com sistemas que priorizam ações preventivas que tratam de danos biológicos, químicos e físicos. Esse modelo inclui programas sólidos de pré-requisitos, compostos de princípios de higiene, de Análises de Perigos e Pontos Críticos de Controle (APPCC) e de responsabilidades de gerenciamento definidas.</p>
        <p>Considerando que as práticas para a segurança dos alimentos, a legislação e a supervisão normativa variam de acordo com cada país, e a Cargill é uma empresa internacional, seu sistema de <em>food safety</em> foi construído globalmente para preservar a integridade das cadeias de fornecimento locais, regionais e globais, geralmente ultrapassando as normas locais. Sua metodologia considera prevenção, intervenção e resposta ao aprimoramento da saúde pública.</p>
        <p>Do ponto de vista regulatório, o principal compromisso é cumprir a legislação e manter a equipe atualizada sobre os requisitos regulatórios. Para isso, tem como meta, atualizar 100% do time sobre legislação de alimentos que possam impactar nossos produtos e negócios, fornecendo treinamentos regulatórios sobre temas prioritários como: contaminantes em alimentos, rotulagem geral e nutricional, prazos de validade e alergênicos.</p>

        <h1>Gestão da sustentabilidade</h1>
        <p>Alinhada ao propósito global da companhia, a estratégia de sustentabilidade da Cargill até 2020 está pautada em contribuir para que a empresa seja reconhecida como a fonte mais confiável de produtos e serviços sustentáveis. Tal estratégia já começou a dar resultado e, em novembro 2017, a Cargill foi reconhecida entre as melhores empresas do setor de Agronegócio do Guia Exame de Sustentabilidade pelo segundo ano consecutivo.</p>
        <div class="row">
          <div class="half full bottom-left top-right">

            <p class="destaque"><strong>Cargill</strong> foi reconhecida <strong class="bigger">entre as melhores</strong> do agronegócio pelo segundo ano consecutivo</p>
          </div>
          <div class="decor quarter bottom-right top-left">
            &nbsp;
          </div>
        </div>
        <p>Focado em governança e parcerias estratégicas, o posicionamento da Cargill em sustentabilidade, comunicação e educação, em 2017, concentrou esforços em temas prioritários divididos em três pilares: Nutrir o mundo, Proteger o planeta e Valorizar nossas comunidades. Apoiando a tomada de decisão da Cargill, o Comitê de Sustentabilidade faz parte da estrutura de governança, sendo formado por 11 gestores da alta liderança. A Cargill também se comprometeu com metas de melhoria nos principais temas que influenciam o seu negócio (<em>veja quadro a seguir</em>).</p>

        <!-- <fieldset data-alert="diagramação com fotos"> -->
        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <thead>
              <tr>
                  <th> Pilares </th>
                  <th> Objetivos </th>
                  <th> Temas prioritários </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td rowspan="3"> <strong>1. Nutrir o mundo</strong> </td>
                  <td rowspan="3"> Melhorar a segurança dos alimentos e a nutrição, progredir com as inovações do sistema alimentar e fortalecer a subsistência dos produtores. </td>
                  <td> Segurança dos alimentos e nutrição </td>
              </tr>
              <tr>
                  <td> Inovação no sistema alimentar </td>
              </tr>
              <tr>
                  <td> Boas práticas agrícolas </td>
              </tr>
              <tr>
                  <td rowspan="4"> <strong>2. Proteger o planeta</strong> </td>
                  <td rowspan="4"> Melhorias no uso do solo, o avanço das soluções climáticas e a proteção dos recursos hídricos. </td>
                  <td> Uso do solo </td>
              </tr>
              <tr>
                  <td> Mudanças Climáticas </td>
              </tr>
              <tr>
                  <td> Fornecedores </td>
              </tr>
              <tr>
                  <td> Recursos hídricos </td>
              </tr>
              <tr>
                  <td rowspan="5"> <strong>3. Valorizar nossas comunidades</strong> </td>
                  <td rowspan="5"> Fortalecer a economia e o desenvolvimento da comunidade, além de motivar um impacto duradouro, por meio do engajamento dos funcionários. </td>
                  <td> Apoio financeiro e de gestão a projetos de impacto social </td>
              </tr>
              <tr>
                  <td> Voluntariado nas comunidades locais </td>
              </tr>
              <tr>
                  <td> Funcionários </td>
              </tr>
              <tr>
                  <td> Saúde e Segurança </td>
              </tr>
              <tr>
                  <td> Clientes </td>
              </tr>
            </tbody>
        </table>
        <!--</fieldset>
         <fieldset>
            <p>Arte colada, dados abaixo </p>
            <p>Cargill foi reconhecida entre as melhores do agronegócio pelo segundo ano consecutivo</p>
        </fieldset> -->

        <p>Toda a estratégia é acompanhada em reuniões periódicas pelo Comitê de Sustentabilidade por meio de indicadores e metas, conforme apresentado abaixo.</p>

        <table border="0" cellspacing="0" cellpadding="0" class="left" >
            <thead><tr>
                <th colspan="6">Indicadores do Comitê de Sustentabilidades (KPIs)</th>
            </tr></thead>
            <tr>
                <th rowspan="2"> Tema </th>
                <th rowspan="2" style="width: 30%;"> Objetivo estratégico </th>
                <th rowspan="2" class="center"> Meta </th>
                <th colspan="3" class="center"> Desempenho <sup>1</sup></th>
            </tr>
            <tr class="center">
                <th> 3T 15/16 </th>
                <th> 3T 16/17 </th>
                <th> 3T 17/18 </th>
            </tr>
            <tr>
                <td> Mudanças climáticas </td>
                <td> Reduzir as emissões de gases de efeito estufa </td>
                <td class="center"> 10% </td>
                <td class="center"> -12,50% </td>
                <td class="center"> -1,33% </td>
                <td class="center"> 8,99% </td>
            </tr>
            <tr>
                <td rowspan="2"> Energia </td>
                <td> Aumentar a eficiência energética </td>
                <td class="center"> 5% </td>
                <td class="center"> 3,51% </td>
                <td class="center"> 2,65% </td>
                <td class="center"> 9,03% </td>
            </tr>
            <tr>
                <td> Aumentar o uso de energia renovável </td>
                <td class="center"> 18% </td>
                <td class="center"> 89% </td>
                <td class="center"> 91,63% </td>
                <td class="center"> 92,77% </td>
            </tr>
            <tr>
                <td> Água </td>
                <td> Aumentar a eficiência de uso de água </td>
                <td class="center"> 5% </td>
                <td class="center"> -4,20% </td>
                <td class="center"> 1,27% </td>
                <td class="center"> 6,35% </td>
            </tr>
            <tr>
                <td> Saúde e Segurança </td>
                <td> Eliminar a ocorrência de acidentes reportáveis associados à saúde e à segurança dos funcionários e contratados </td>
                <td class="center"> 0,10 </td>
                <td class="center"> - </td>
                <td class="center"> - </td>
                <td class="center"> 0,07 </td>
            </tr>
            <tr>
                <td> Comunidades </td>
                <td> Melhorar o relacionamento com as comunidades, por meio de engajamento e medidas que promovam seu desenvolvimento econômico e social </td>
                <td class="center"> &gt;70% </td>
                <td class="center"> 94% </td>
                <td class="center"> 95% </td>
                <td class="center"> 90% </td>
            </tr>
            <tr>
                <td> Fornecedores </td>
                <td> Avaliar o desempenho em sustentabilidade dos fornecedores<sup>1 </sup></td>
                <td class="center"> 75% </td>
                <td class="center"> 84% </td>
                <td class="center"> 97% </td>
                <td class="center"> 72%<sup>2</sup> </td>
            </tr>
            <caption>
              1 Números referentes aos terceiros trimestres de cada safra em relação à meta. <br>
              2 Revisão anual da segmentação de categorias e fornecedores e a dinâmica padrão de entrada e saída de fornecedores da base alteraram o baseline. Apesar da queda percentual, a avaliação foi aprimorada. </caption>
        </table>


        <h3>Política para Proteção das Florestas <span class="gri">GRI 103-304</span></h3>
        <p>A empresa apoia a Declaração de Nova York sobre Florestas desde 2014 e, com o compromisso de ajudar a acabar com o desmatamento nas cadeias de fornecimento, lançou em 2015 a Política para Florestas da Cargill. O documento expressa globalmente o compromisso de proteger as áreas de maior biodiversidade do planeta com a redução de 50% do desmatamento em toda a cadeia produtiva agrícola até 2020 e de 100% até 2030. Em 2016, equipes começaram a medir e monitorar o desmatamento na produção de soja no Brasil.</p>
        <p>A cadeia da soja no Brasil está entre as prioritárias e recebeu um plano de ação específico, cuja primeira etapa é a adesão dos fornecedores ao Cadastro Ambiental Rural (CAR), o primeiro e mais importante passo para a regularidade ambiental da propriedade rural previsto no Código Florestal Brasileiro. O objetivo é conscientizar os fornecedores sobre as vantagens de estar em dia com a legislação ambiental e mostrar o caminho para isso.</p>
        <p>A campanha contou com o desenvolvimento e distribuição de <em>folders</em>, cartilhas, <em>banners</em> e, em 2017, uma série de vídeos com um passo-a-passo para atingir o público alvo. Os cinco vídeos estão disponíveis <a href="https://www.youtube.com/channel/UCB4RvfrWUqDrpPwLFTk2UXg/search?query=CAR" target="_blank" rel="noopener noreferrer">no canal do Youtube da Cargill Brasil</a>.</p>

        <h3 class="color">Coalizão Brasil: Clima, Florestas e Agricultura</h3>
        <p class="color">Movimento multissetorial formado por associações empresariais, empresas e sociedade interessados em contribuir com o avanço e a sinergia das agendas de proteção, conservação e uso sustentável das florestas. Membro da coalizão e uma das líderes do grupo de trabalho para implantação do Código Florestal Brasileiro e de Logística Sustentável, a Cargill participa de discussões sobre agricultura sustentável e mitigação e adaptação às mudanças climáticas sob a ótica de uma nova economia, de baixo carbono.</p>

        <h2>Produção sustentável da soja</h2>

        <h3>Programa 3S</h3>
        <p>O programa de certificação para os produtores de soja 3S (Soluções para Suprimentos Sustentáveis) trabalha, desde 2010, com indicadores definidos em um rigoroso <em>benchmarking</em>. Após reformulação em 2015, foi reconhecido pela Federação de Produtores de Ração da Europa (FEFAC). É um modelo inovador de certificação criado pela Cargill focado em rastreabilidade, melhoria contínua e sustentabilidade que prioriza e promove ações nas fazendas certificadas, engajando os produtores numa trajetória em que práticas sustentáveis são incentivadas e reconhecidas. De adesão gratuita e voluntária, tem como objetivo prever soluções para que as diferentes etapas da cadeia produtiva sejam ainda mais responsáveis socioambientalmente. Desde 2016, o programa conta com a parceria do Instituto BioSistêmico (IBS) para fornecer assistência técnica para os produtores. Em 2017, foi expandido para Goiás e agora está presente em quatro estados (Paraná, Mato Grosso, Pará e Goiás), somando 163 propriedades e mais de 394 mil hectares de fazendas monitoradas. A eficiência do programa nos últimos 18 meses é atestada em resultados qualitativos – com a redução de autuações nas fiscalizações da legislação – e quantitativos: houve avanços em nos três pilares da sustentabilidade. Indicadores internos que consideram o manejo correto do solo e da água, o uso de defensivos agrícolas e o descarte do lixo, por exemplo, levaram a melhorias de pelo menos cinco pontos percentuais em cada aspecto. No tema ambiental, o incremento foi de 43,60% para 51,37%; no social, de 47,48% para 52,56%; e no aspecto produtivo (pilar econômico), de 49,48% para 54,81%.</p>
        <h3>Soja Plus</h3>
        <p>Programa educacional gratuito e voluntário de melhoria contínua da gestão econômica, social e ambiental da propriedade rural brasileira, preparando-a para uma produção sustentável e que atenda às demandas de mercado. A iniciativa surgiu em 2011 por uma parceria entre a Abiove e a Associação dos Produtores de Soja e Milho do Mato Grosso (Aprosoja-MT) e é realizada em cinco estados: Mato Grosso, Mato Grosso do Sul, Minas Gerais, Bahia e Goiás. A Cargill financia o Soja Plus em Minas Gerais, onde funciona com a parceria da Universidade Federal de Viçosa (UFV) e da Federação da Agricultura e Pecuária do Estado de Minas Gerais (FAEMG), e também em Goiás, onde expandiu o programa no final de 2017 para um piloto com 31 produtores, todos indicados pela empresa.</p>
        <h3>Grupo de Trabalho e Moratória da Soja</h3>
        <p>A Cargill participa ativamente de todas as reuniões do Grupo de Trabalho da Soja (GTS), formado pelas empresas associadas à Associação Brasileira das Indústrias de Óleos Vegetais (Abiove), Associação Brasileira dos Exportadores de Cereais (Anec), Ministério do Meio Ambiente, Banco do Brasil e outras organizações da sociedade civil como Greenpeace e WWF-Brasil. A Moratória da Soja é um acordo setorial firmado por esse grupo em 2006 por meio do qual as empresas se comprometeram a não comercializar nem financiar a soja produzida em áreas que foram desmatadas no bioma Amazônia após 2008. A Cargill tem sido auditada anualmente nesse sentido desde então e seu relatório de 2017 foi muito bem avaliado pelo grupo. </p>
        <h3>Grupo de Trabalho do Cerrado</h3>
        <p>Criado em 2017, o Grupo de trabalho dedicado ao Cerrado (GTC) reúne ONGs, empresas, governo, bancos e consumidores nacionais e internacionais e foi coordenado pela Cargill em parceria com a WWF-Brasil em seu primeiro ano. O grupo multisetorial tem como objetivo erradicar, no menor prazo possível, o desmatamento no bioma do Cerrado, conciliando a produção de soja com os interesses ambientais, econômicos e sociais. Para isso, o GT tem examinado uma série de soluções e opções para enfrentar os problemas.</p>
        <h3 class="color">Protocolo Verde de Grãos</h3>
        <p class="color">Trata-se de um acordo entre o governo do Pará, o Ministério Público e o setor privado para eliminar o desmatamento das principais cadeias produtivas paraenses. Ele estabelece critérios e diretrizes para garantir transações comerciais responsáveis entre empresas e produtores do Pará, a fim de evitar que os grãos provenham de áreas ilegalmente desmatadas. Instrumento voluntário assinado em 2014, a Cargill aprimorou seus procedimentos em 2017 para atender ainda melhor o compromisso.</p>
        <h2>Produção sustentável do cacau</h2>
        <p>Há uma demanda crescente por chocolate que aumenta na mesma proporção que a população mundial, entre 2% e 3% ao ano. Isso mantém os investimentos do setor e estimula o crescimento da produção de cacau na América Latina. O Brasil tem papel fundamental nesse cenário, pois possui terra, clima, tecnologia, genética e capacidade de investimento. Com isso, a Cargill continua investindo na expansão do cacau no Pará e na recuperação da produção na Bahia em uma estratégia alinhada à Associação das Indústrias Processadoras de Cacau (AIPC), da qual é membro ativa. Investir na produção do cacau significa desenvolver produtos de melhor qualidade para os clientes, e o aprimoramento desta produção traz benefícios para a companhia e para a comunidade produtora de cacau em todo mundo.</p>
        <h3>Cacau Floresta</h3>
        <p>Desenvolvido em parceria com a The Nature Conservancy (TNC) e o Ministério da Agricultura, o projeto Cacau Floresta busca a recuperação de áreas degradadas no Pará utilizando o cacau no Sistema Agroflorestal (SAF). Por meio desse modelo, a Cargill pretende expandir a cultura sem derrubar uma única árvore no estado, importante região produtora de cacau no Brasil. O projeto vem sendo executado desde 2013 na região de São Félix do Xingu por meio da Comissão Executiva do Plano da Lavoura Cacaueira (Ceplac) e da Cooperativa Alternativa de Pequenos Produtores Rurais e Urbanos de São Félix do Xingu (Cappru). A iniciativa já analisou 70 propriedades e beneficiou 123 produtores familiares em uma área de aproximadamente 450 hectares, que correspondem a uma produtividade de 900 kg por hectare.</p>
        <h3>Projeto Tuerê</h3>
        <p>Também no Pará, na cidade de Novo Repartimento, a Cargill desenvolve o Projeto Tuerê em parceria com a Solidaridad Network, a Ceplac e a Secretaria Municipal de Agricultura. O projeto atua dentro do maior assentamento rural da América Latina, onde residem cerca de três mil famílias. Com a experiência de ter desenvolvido projetos similares com 13 culturas em 37 países, a ONG Solidariedad selecionou produtores para participarem da aplicação da ferramenta Horizonte Rural, que diagnostica os principais gargalos da produção e apresenta alternativas. A análise mostrou a necessidade de assistência técnica, regularização ambiental e melhor acesso ao mercado. O projeto já apresentou resultados em qualidade do fruto, produtividade e redução de emissões de gases de efeito estufa. Em 2017, 96 produtores participavam do programa de assistência técnica continuada e a expectativa é que em dezembro de 2018 chegue a 150 produtores.</p>
        <h3>Cocoa Promisse e Certificação UTZ</h3>
        <p>Compromisso que permeia o trabalho da Cargill nos últimos dez anos, o Cocoa Promisse reafirma os esforços da Companhia em desenvolver as fazendas produtoras de cacau de forma sustentável. Em 2012, a empresa trouxe para o Brasil a certificação UTZ, que garante produção sob rigorosas regras, abrangendo desde o manejo da lavoura até o atendimento às legislações ambientais e trabalhistas. A Cargill encerrou 2017 com 90 fazendas certificadas na Bahia, no Espírito Santos e no Pará. O objetivo é chegar a 200 propriedades até 2019. Para isso, toda a cadeia vem sendo trabalhada para melhorar a condição de vida do produtor, garantir condição ambiental ideal e qualidade do produto final diferenciada.</p>


        <h1>Fundação Cargill <span class="gri">GRI 103-413</span></h1>
        <p>Com a missão de promover a alimentação saudável, segura, sustentável e acessível, do campo ao consumidor, há 45 anos a Fundação Cargill desenvolve e apoia projetos voltados à transformação social e geração de valor na cadeia de produção alimentar.
            Direcionados às comunidades do entorno da Cargill, os projetos envolvem voluntários da própria companhia, organizações da sociedade civil, instituições e associações diversas.</p>
        <p>Em 2017, a Fundação Cargill desenvolveu projetos em 12 municípios, que beneficiaram 37.960 pessoas, considerando que 7% das operações da Cargill possuem o programa, percentual calculado de acordo com o escopo do relatório, de 176 operações. <span class="gri">GRI
            413-1</span></p>
        <p>Grande parte dos projetos é selecionada por meio de editais. Seis iniciativas receberam apoio de gestão e financeiro no valor de até R$ 100 mil em 2017, beneficiando mais de 459 mil pessoas. Já o edital de 2018 selecionou sete projetos entre 168
            inscritos que juntos beneficiarão 15.988 pessoas. As inscrições estão abertas e até dezembro de 2018 serão selecionados projetos de impacto social que estejam num raio de até 150 quilômetros do entorno das unidades e escritórios da Cargill.
            Eles receberão de R$ 50 mil à R$ 200 mil. </p>

        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <tr>
                <th colspan="3"> 2017 </th>
            </tr>
            <tr>
                <th> Projeto </th>
                <th> Instituição </th>
                <th> Localidade </th>
            </tr>
            <tr>
                <td> <strong class="color">Adubo Sustentável</strong> </td>
                <td> Associação dos Pequenos Produtores do Vale do Limoeiro e Adjacências (APPVL) </td>
                <td> Ilhéus (BA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Merenda Escolar e as cidades: responsabilidade de todos </strong></td>
                <td> Comunitas </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Programa Oficina Educativa</strong> </td>
                <td> Verde Vida </td>
                <td> Chapecó (SC) </td>
            </tr>
            <tr>
                <td> <strong class="color">Rede de Atores para a Redução de Perdas e Desperdícios de Alimentos no Brasil</strong> </td>
                <td> WRI Brasil </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Super Vitaminados</strong> </td>
                <td> Instituto de Desenvolvimento de Talentos </td>
                <td> Curitiba (PR) </td>
            </tr>
            <tr>
                <td> <strong class="color">Viveiro Orgânico</strong> </td>
                <td> Ação Moradia </td>
                <td> Uberlândia (MG) </td>
            </tr>
            <tr>
                <th colspan="3"> 2018 </th>
            </tr>
            <tr>
                <th> <strong class="color">Projeto</strong> </th>
                <th> Instituição </th>
                <th> Localidade </th>
            </tr>
            <tr>
                <td> <strong class="color">Bota na Mesa</strong> </td>
                <td> Fundação Getulio Vargas </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Comer na Escola Serve para quê?</strong> </td>
                <td> Avisa Lá </td>
                <td> Itapira (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Cozinha Experimental</strong> </td>
                <td> Lar das Moças Cegas </td>
                <td> Santos (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Fazenda Aquapônica Urbana</strong> </td>
                <td> Associação Reciclázaro </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Frutos do cerrado</strong> </td>
                <td> Instituto Avançado de Ensino Superior de Barreiras </td>
                <td> Barreiras (BA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Pão para viver (cozinha experimental)</strong> </td>
                <td> Viver Ações Sociais </td>
                <td> Chapecó (SC) </td>
            </tr>
            <tr>
                <td> <strong class="color">Programa de Educação Alimentar e Nutricional</strong> </td>
                <td> Universidade Federal de Goiás (UFG) </td>
                <td> Goiânia (GO) </td>
            </tr>
            <tr>
                <td> <strong class="color">Projeto Alto Arapiuns de Segurança Alimentar e Conservação Ambiental</strong> </td>
                <td> Aeroclube de Voo e Vela CTA </td>
                <td> Santarém (PA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Sabores e Conexões</strong> </td>
                <td> ONG Arrastão Movimento de Promoção Humana </td>
                <td> São Paulo (SP) </td>
            </tr>
        </table>
        <h2>Tese de Impacto Social em Alimentação</h2>
        <p>Em parceria com a aceleradora de projetos sociais Artemísia, a Fundação Cargill lançou em 16 de outubro, Dia Mundial da Alimentação, a Tese de Impacto Social em Alimentação, um mapeamento inédito que identifica oportunidades para empreender no setor de alimentação voltado à baixa renda. O projeto integra uma parceria das duas organizações para melhorar a qualidade de vida das pessoas.</p>
        <p>A tese reúne informações relevantes sobre os desafios enfrentados pela população de baixa renda no Brasil e pelo setor; e aponta oportunidades para o desenvolvimento de negócios de impacto social que possam contribuir de forma positiva à sociedade. Mais do que a sistematização do conhecimento, o estudo apresentou análises que servirão de insumo para o setor, apoiando o desenvolvimento de uma nova geração de negócios de impacto social com soluções focadas em alimentação.</p>
        <p>Entre os negócios analisados, foi selecionado a <em>startup</em> Sumá, de Balneário Camboriú (SC), que oferece uma plataforma de comercialização justa da agricultura familiar: a solução conecta diretamente produtores com compradores de alimentos, tendo por objetivo aumentar as margens do pequeno produtor. Para isso, os empreendedores selecionam os produtores que apresentam produção qualificada, integrando-os a uma plataforma. Em piloto conduzido com 30 agricultores em 10 estados, os resultados apresentaram redução de 30% nos custos dos produtos comprados via Sumá em relação ao modelo de mercado tradicional. Os produtores não aprovados no processo também recebem qualificação.</p>
        <h3>Alimentação em foco</h3>
        <p>Voltado para projetos inovadores de universitários na área de alimentação saudável, o Prêmio Alimentação em Foco é realizado anualmente pela Fundação Cargill, em parceria com a Enactus Brasil, organização internacional sem fins lucrativos que
            fomenta o empreendedorismo social em 1.700 universidades de 36 países.</p>
        <p>O vencedor em 2017 foi o Projeto Mudas, do IFCE Iguatu (Instituto Federal de Educação, Ciência e Tecnologia do Ceará), que competirá na etapa internacional do Campeonato Enactus, em Londres. O grupo desenvolveu duas tecnologias para auxiliar na
            irrigação e controle do uso eficiente da água. Por meio delas, 15 famílias puderam aumentar seu rendimento médio em 82%, além de adquirirem novas funções como empreendedoras. O segundo lugar ficou para o Projeto Amitis, desenvolvido por alunos
            da Universidade Federal de Alagoas. Por meio da construção de uma horta hidropônica com base suspensa de madeira e garrafas PET, eles possibilitaram à comunidade acesso a produtos agroecológicos e com um preço mais acessível.</p>
        <p>Em 2018, 15 iniciativas foram selecionadas entre os 40 inscritos. Esses times receberão mentoria e apoio financeiro destinado ao desenvolvimento de projetos com foco em agricultura familiar, combate ao desperdício de alimentos, educação alimentar
            e/ou empreendedorismo na cadeia de valor da alimentação. O resultado será divulgado em julho.</p>
        <p>Em 2017, houve um reposicionamento do site do projeto <a href="http://www.alimentacaoemfoco.org.br/" target="_blank" rel="noopener noreferrer"><span class="T163">www.alimentacaoemfoco.org.br</span></a>, além do fortalecimento da presença em canais
            digitais. O site traz conteúdos exclusivos e uma cobertura completa das tendências, artigos e eventos sobre alimentação, recebendo uma média de 8.400 visitas mensais.</p>
        <div class="box right">
            <div class="row">
              <div class="twothird noborder">
                  <h2>NutriQuiz</h2>
                <p>Lançado em 2016, o aplicativo NutriQuiz é uma oportunidade de a Fundação Cargill interagir com o público e de identificar temas relevantes a ser trabalhados com a sociedade. Acessado por <em>smartphones</em>, trata-se de um jogo de perguntas e respostas sobre educação alimentar. São 400 perguntas agrupadas em temas, onde os conhecimentos sobre alimentação equilibrada são colocados de maneira lúdica e gratuita para qualquer interessado. Em dois anos, foram feitos mais 5,8 mil <em>downloads</em>.</p>
                <p>Com o objetivo de conscientizar os funcionários da Cargill a fazer boas escolhas em sua alimentação e aumentar seus conhecimentos sobre o tema, foi realizado o Desafio Nutriquiz. O concurso interno premiou os 10 funcionários que obtiveram as maiores pontuações ao longo do período preestabelecido e agregou 432 novos usuários ao aplicativo.</p>
              </div>

                <div class="half noborder">
                  <picture>
                    <source type="image/webp" srcset="../img/Nutriquiz.webp">
                    <img src="../img/Nutriquiz.jpg" alt="Nutriquiz">
                  </picture>
                </div>

        </div>
        </div>
