<h2> </h2>
        <p>Elaborado com base na metodologia da Global Reporting Initiative (GRI) – principal referência internacional para a comunicação da sustentabilidade – o Relatório Cargill 2017 considera pelo primeiro ano a versão Standard da GRI, nível Essencial.
            <span class="gri">GRI 102-54</span></p>
        <p>O documento inclui dados de indicadores da Cargill Alimentos Ltda. e de suas principais subsidiárias no Brasil, incluindo a Cargill Agrícola S.A., o Banco Cargill e a Cargill Animal Nutrition entre 1º de janeiro a 31 de dezembro de 2017, e algumas
            informações mercadológicas e de tendências do primeiro semestre de 2018. <span class="gri">GRI 102-45, 102-50</span></p>
        <p>Publicado anualmente em versões em português e inglês, é direcionado a todos os seus públicos de relacionamento e procura trazer as informações de maneira transparente e objetiva, demonstrando a evolução estratégica da companhia e seus impactos
            socioambientais positivos e negativos. <span class="gri">GRI 102-52</span></p>
        <p>Dúvidas, sugestões ou mais informações sobre o Relatório de Sustentabilidade 2017 da Cargill podem ser obtidas por meio do e-mail <a href="mailto:assuntos_corporativos@cargill.com"><span class="T76">assuntos_corporativos@cargill.com</span></a>            <span class="gri">GRI 102-53</span></p>
        <h1>Materialidade</h1>
        <p>O processo de materialidade que ajudou a definir o conteúdo do Relatório de Sustentabilidade da Cargill 2017 contou com a colaboração de públicos externos, que foram consultados sobre os temas da estratégia de sustentabilidade da empresa.</p>
        <p>Ao longo de dois meses, foram realizadas consultas online com colaboradores e público externo como fornecedores, profissionais de responsabilidade corporativa, governo e clientes, entre outros. Também foram feitas entrevistas com especialistas associados ao setor e organizações não governamentais. Esse trabalho de escuta qualificada dos públicos com os quais se relaciona ajudou a Cargill a mapear os compromissos e tema relacionados, baseado nos três pilares da estratégia: 1. Nutrir o mundo; 2. Proteger o planeta e 3. Valorizar nossas comunidades. Saiba mais sobre essa estratégia em <a href="ser-o-parceiro-mais-confiavel.html#">Gestão da sustentabilidade</a>. <span class="gri">GRI 102-40, 102-43</span></p>
        <p>A área de Assuntos Corporativos validou a relação de temas mais relevantes e seus respectivos indicadores, considerando uma metodologia de análise de priorização. Foi também Assuntos Corporativos que definiu a relação de <em>stakeholders</em> que seriam consultados. <span class="gri">GRI 102-42</span></p>
        <!-- <fieldset data-alert="Arte em desenvolvimento"> -->

            <table class="left">
            <thead>
                <tr>
        			<th> Pilar de Sustentabilidade <span class="gri">GRI 102-44, 102-46, 102-47</span> </th>
        			<th> Compromissos </th>
        			<th> Tema priorizado </th>
        			<th> Tópicos </th>
        		</tr>
            </thead>
            <tbody>

    		<tr>
    			<td rowspan="3"> <strong class="color">Nutrir o Mundo</strong> </td>
    			<td> 1. Boas Práticas Agrícolas </td>
    			<td> Fomentar o uso de tecnologias que promovam a aplicação de boas práticas agrícolas </td>
    			<td> - </td>
    		</tr>
    		<tr>
    			<td> 2. Segurança dos Alimentos e Nutrição </td>
    			<td> Promover o acesso a alimentos através de uma logística sustentável </td>
    			<td> 416: Saúde e segurança do cliente </td>
    		</tr>
    		<tr>
    			<td> 3. Inovação no sistema alimentar </td>
    			<td> Utilização de tecnologias inovadoras na produção, transporte e consumo dos alimentos </td>
    			<td> - </td>
    		</tr>
    		<tr>
    			<td rowspan="4"> <strong class="color">Proteger o Planeta</strong> </td>
    			<td> 1. Uso do solo </td>
    			<td> Promover a construção de mecanismos financeiros que promovam a proteção de florestas e o desenvolvimento da agricultura brasileira
    			</td>
    			<td> 304: Biodiversidade 307: Conformidade ambiental 411: Direitos dos povos indígenas e tradicionais </td>
    		</tr>
    		<tr>
    			<td>
    				2.
    Recursos hídricos
    			</td>
    			<td>
    				Preservação
    da água (reduzir impactos na retirada de fontes e garantir que os
    efluentes estejam em condições adequadas para lançamento em
    corpos d'água)
    			</td>
    			<td>
    				303:
    Água
    				306:
    Efluentes e resíduos
    			</td>
    		</tr>
    		<tr>
    			<td>
    				3.
    Mudanças Climáticas
    			</td>
    			<td>
    				Reduzir
    a intensidade das emissões de gases de efeito estufa nos
    processos produtivos, industriais e transporte
    			</td>
    			<td>
    				305:
    Emissões
    			</td>
    		</tr>
    		<tr>
    			<td>
    				4.
    Fornecedores e produtores rurais
    			</td>
    			<td>
    				Avaliar
    o desempenho de fornecedores e produtores rurais com base nos
    critérios de sustentabilidade
    			</td>
    			<td>
    				411:
    Direitos dos povos indígenas e tradicionais
    				412:
    Avaliação em Direitos humanos
    				414:
    Avaliação social de fornecedores
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">
    				<strong class="color">Valorizar nossas comunidades</strong>
    			</td>
    			<td>
    				1.
    Apoio a projetos de impacto socioambiental
    			</td>
    			<td>
    				Promover
    projetos que aumentem o acesso a alimentos seguros, saudáveis e
    sustentáveis
    			</td>
    			<td>
    				413:
    Comunidades Locais
    			</td>
    		</tr>
    		<tr>
    			<td>
    				2.
    Voluntariado nas comunidades locais
    			</td>
    			<td>
    				Fortalecer
    parcerias com outras organizações que tenham como foco o
    desenvolvimento comunitário
    			</td>
    			<td>
    				413:
    Comunidades Locais
    			</td>
    		</tr>
    		<tr>
    			<td>
    				3.
    Saúde e Segurança
    			</td>
    			<td>
    				Criar
    soluções inovadoras para mudar a forma como trabalhamos para
    promover a saúde e segurança de nossos trabalhadores
    			</td>
    			<td>
    				403:
    Saúde e segurança ocupacional
    			</td>
    		</tr>
    		<tr>
    			<td>
    				4.
    Funcionários
    			</td>
    			<td>
    				Garantir
    um ambiente seguro e inclusivo de trabalho
    			</td>
    			<td>
    				406:
    Não discriminação
    				407:
    Liberdade de associação e negociação coletiva
    				408:
    Trabalho infantil
    				409:
    Trabalho forçado ou escravo
    			</td>
    		</tr>
    	</tbody>
    </table>
    <!-- </fieldset> -->

    <h1>Créditos</h1>

<p><strong>CONSELHO EDITORIAL</strong><br>
  <strong>Comunicação</strong> <br>
  Lívia Souza<br>
  Luciane Reis</p>

<p><strong>Sustentabilidade</strong><br>
  Álvaro Modesto<br>
  Tainah Villela<br>
  Yuri Feres</p>

<p><strong>IMAGENS</strong><br>
  Banco de Imagens Cargill</p>

<p><strong>Consultoria GRI, redação, edição, design e web</strong><br>
  Report Sustentabilidade<br>
  <a href="http://www.reportsustentabilidade.com.br">www.reportsustentabilidade.com.br</a></p>

<p><strong>Revisão ortográfica</strong><br>
  Alícia Toffani</p>

<h1>Informações Corporativas</h1>
<p>Avenida Chucri Zaidan, 1240<br>
  CEP: 04711-130<br>
  São Paulo (SP), Brasil<br>
  Telefone: (+55 11) 5099 3311<br>
  <a href="http://www.cargill.com.br">www.cargill.com.br</a></p>
