<p>As premissas Liderar nos mercados, Desenvolver o potencial dos nossos funcionários, Ser o parceiro mais confiável, Usar o nosso porte a nosso favor e Ser excelente nas tarefas básicas, inspiram os títulos dos capítulos do Relatório de Sustentabilidade 2017 da Cargill porque são pilares que direcionam toda a estratégia da companhia.</p>
<p>Focada em seu propósito, visão e direção, a maior empresa de capital privado do mundo considerou tais pilares ao definir medidas e habilidades em um sólido plano para o sucesso.</p>
<p>A partir do engajamento de toda a liderança da companhia, teve início o chamado Game Change Challenge, uma série de eventos criados para desafiar os funcionários ao longo de todo o ano fiscal de 2017 a vivenciarem as cinco principais habilidades, presentes no nosso GPS (Game Plan for Success), que diferenciam a Cargill do mercado e permitirão que a companhia atinja o seu propósito.</p>
<div class="box right">
    <h2>OPTA SERE LAMUS</h2>
    <img src="../img/angelika_hallstatt.jpg" alt="">
</div>
<div class="box left">
    <h2>MONILAS ET VERSA</h2>
    <img src="../img/angelika_hallstatt.jpg" alt="">
</div>
<img src="../img/angelika_hallstatt.jpg" alt="">
<h1>Gestão estratégico</h1>
<p>As premissas Liderar nos mercados, Desenvolver o potencial dos nossos funcionários, Ser o parceiro mais confiável, Usar o nosso porte a nosso favor e Ser excelente nas tarefas básicas, inspiram os títulos dos capítulos do Relatório de Sustentabilidade 2017 da Cargill porque são pilares que direcionam toda a estratégia da companhia.</p>
<p>Focada em seu propósito, visão e direção, a maior empresa de capital privado do mundo considerou tais pilares ao definir medidas e habilidades em um sólido plano para o sucesso.</p>
<p>A partir do engajamento de toda a liderança da companhia, teve início o chamado Game Change Challenge, uma série de eventos criados para desafiar os funcionários ao longo de todo o ano fiscal de 2017 a vivenciarem as cinco principais habilidades, presentes no nosso GPS (Game Plan for Success), que diferenciam a Cargill do mercado e permitirão que a companhia atinja o seu propósito.</p>
<div class="box sides center color">
    <div class="third">
        <img src="../img/angelika_hallstatt.jpg" alt="">
        <p><strong class="large">12,5<small>%</small></strong>
            <br> rectatio quasimet laborum eum hil incto denet lam</p>
    </div>
    <div class="third">
        <img src="../img/angelika_hallstatt.jpg" alt="">
        <p><strong class="large">2.2 mil</strong>
            <br> rectatio quasimet laborum eum hil incto denet lam</p>
    </div>
    <div class="third">
        <img src="../img/angelika_hallstatt.jpg" alt="">
        <p><strong class="large">165</strong>
            <br> rectatio quasimet laborum eum hil incto denet lam</p>
    </div>
</div>
<div class="box photo">
    <img src="../img/angelika_hallstatt.jpg" alt="">
    <div>
        <h2>Agniande eteum</h2>
        <p>As premissas habilidades, presentes no porte nosso a GPS funcionários, as Ser o parceiro mais confiável, Usar o nosso nosso (Game for Success), diferenciam Cargill do e favor e Plan Ser excelente nas que tarefas básicas, a inspiram os mercado títulos dos permitirão que Relatório a companhia atinja o seu propósito. capítulos do de Sustentabilidade 2017 da Cargill.</p>
    </div>
</div>
<p>As premissas Liderar nos mercados, Desenvolver o potencial dos nossos funcionários, Ser o parceiro mais confiável, Usar o nosso porte a nosso favor e Ser excelente nas tarefas básicas, inspiram os títulos dos capítulos do Relatório de Sustentabilidade 2017 da Cargill porque são pilares que direcionam toda a estratégia da companhia.</p>
<p>Focada em seu propósito, visão e direção, a maior empresa de capital privado do mundo considerou tais pilares ao definir medidas e habilidades em um sólido plano para o sucesso.</p>
<p>A partir do engajamento de toda a liderança da companhia, teve início o chamado Game Change Challenge, uma série de eventos criados para desafiar os funcionários ao longo de todo o ano fiscal de 2017 a vivenciarem as cinco principais habilidades, presentes no nosso GPS (Game Plan for Success), que diferenciam a Cargill do mercado e permitirão que a companhia atinja o seu propósito.</p>