<h2>&nbsp;</h2>
<p><span class="gri">GRI 102-55</span></p>

        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <tr>
                <th colspan="6"> <h1>Divulgações gerais</h1> </th>
            </tr>
            <tr>
			      		<th colspan="5"> Perfil organizacional </th>
						</tr>
						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="13"> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-1</strong> Nome da organização </td>
							<td>
                  <a href="">Liderar nos mercados</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-2</strong> Atividades, marcas, produtos e serviços </td>
							<td>
                    <a href="">Liderar nos mercados</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-3</strong> Localização da sede
							</td>
							<td>
                    <a href="">Liderar nos mercados</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-4</strong> Localização das operações
							</td>
							<td>
                    <a href="">Liderar nos mercados</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-5</strong> Natureza da propriedade e forma jurídica
							</td>
							<td>
                    <a href="">Liderar nos mercados</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-6</strong> Mercados atendidos </td>
							<td>
                    <a href="">Liderar nos mercados</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-7</strong> Porte da organização </td>
							<td>
                <a href="">Mensagem do presidente</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2">
								<strong>102-8</strong> Informações sobre empregados e trabalhadores </td>
							<td>
                <a href="">Desenvolver o potencial de nossos funcionários</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-9</strong> Cadeia de fornecedores </td>
							<td>
								<a href="">Ser o parceiro mais confiavel</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-10</strong> Mudanças significativas na organização e na sua cadeia de fornecedores </td>
							<td>
								<a href="">Liderar nos mercados</a> / <a href="">Usar nosso porte a nosso favor</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-11</strong> Abordagem ou princípio da precaução </td>
							<td colspan="2"> O princípio da precaução não é adotado formalmente pela Cargill no Brasil, mas a empresa segue procedimentos previstos em lei para evitar ou mitigar eventuais danos em suas operações potencialmente perigosas ao meio ambiente, a pessoas e comunidades. Em caso de acidentes ambientais, a Cargill possui procedimentos documentados para a prevenção e a remediação de eventuais danos causados ao meio ambiente. Esses procedimentos fazem parte dos processos de verificação formais da companhia em todas as suas operações que envolvem transporte e armazenamento de materiais potencialmente danosos ao meio ambiente. </td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-12</strong> Iniciativas desenvolvidas externamente </td>
							<td>
									<a href="">Ser o parceiro mais confiavel</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-13</strong> Participação em associações </td>
							<td colspan="2"> A Cargill participa de associações e entidades de classe que discutem infraestrutura, logística e desenvolvimento socioeconômico no Brasil. Entre elas estão: Associação Brasileira de Grandes Consumidores Industriais de Energia e de Consumidores Livres (Abrace), Associação Brasileira da Cadeia Produtiva de Tomate Industrial (Abratop), Associação Nacional dos Exportadores de Cereais (Anec), Associação Brasileira de Terminais Portuários (ABTP), Associação das Indústrias Processadoras de Cacau (AIPC), Associação Brasileira da Indústria de Chocolates, Cacau, Amendoim, Balas e Derivados (Abicab), Câmara Americana de Comércio (Amcham/ SP), Associação Brasileira da Indústria da Alimentação (Abia), Associação Brasileira da Indústria de Óleos (Abiove), Federação das Indústrias do Estado de São Paulo (Fiesp), Federação das Indústrias de Minas Gerais (Fiemg), Federação das Indústrias de Goiás (Fieg), Associação Brasileira de Comunicação Empresarial (Aberje), Associação Brasileira de Agronegócio (Abag). </td>
						</tr>
						<tr>
							<th colspan="5"> Estratégia </th>
						</tr>
						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>
						<tr>
							<td> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-14</strong> Declaração do tomador de decisão sênior </td>
							<td>
								<a href="">Mensagem do presidente</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="5"> Ética e integridade </th>
						</tr>

						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>
						<tr>
							<td> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-16</strong> Valores, princípios, padrões e normas de comportamento </td>
							<td>
									<a href="">Liderar nos mercados</a> /
									<a href="">Ser o parceiro mais confiavel</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="5"> Governança </th>
						</tr>

						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>
						<tr>
							<td> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-18</strong> Estrutura da governança </td>
							<td>
								<a href="">Ser o parceiro mais confiavel</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="5"> Engajamento de stakeholders </th>
						</tr>

						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="5"> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-40</strong> Lista de grupos de stakeholders </td>
							<td>
								<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-41</strong> Acordos de negociação coletiva </td>
							<td> 100% dos empregados cobertos por acordos ou convenções coletivas. </td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-42</strong> Identificação e seleção de stakeholders </td>
							<td>
								<a href="">Sobre o relatório</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-43</strong> Abordagem para engajamento de stakeholders </td>
							<td>
								<a href="">Sobre o relatório</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-44</strong> Principais tópicos e preocupações levantadas </td>
							<td>
								<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="5"> Práticas de reporte </th>
						</tr>
						<tr>
								<th> GRI Standard </th>
								<th colspan="2"> Divulgação </th>
								<th> Página/URL </th>
								<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="12"> GRI 102: Divulgações gerais </td>
							<td colspan="2"> <strong>102-45</strong> Entidades incluídas nas demonstrações financeiras consolidadas </td>
							<td>
								<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-46</strong> Definindo o conteúdo do relatório e limites do tópico </td>
							<td>
								<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-47</strong> Lista dos tópicos materiais </td>
							<td>
								<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-48</strong> Reformulações de informações </td>
							<td>

							</td>
							<td>
                Não houve.
							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-49</strong> Mudanças no relatório </td>
							<td>
								<a href="">Usar nosso porte ao nosso favor</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-50</strong> Período do relatório </td>
							<td>
									<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-51</strong> Data do relatório mais recente </td>
							<td>
								2016
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-52</strong> Ciclo do relatório </td>
							<td>

									<a href="">Sobre o relatório</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-53</strong> Ponto de contato para perguntas sobre o relatório </td>
							<td>
								<a href="">Sobre o relatório</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-54</strong> Opção de acordo com o GRI Standards </td>
							<td>
								<a href="">Sobre o relatório</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-55</strong> Sumário de Conteúdo GRI </td>
							<td>
								<a href="">Sumário de conteúdo da GRI</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="2"> <strong>102-56</strong> Asseguração externa </td>
							<td>

							</td>
							<td>
								Não houve.
							</td>
						</tr>
				</table>

        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <tr>
                <th colspan="5"><h1>Tópicos materiais</h1></th>
            </tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Usar nosso porte a nosso favor</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Usar nosso porte a nosso favor</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Usar nosso porte a nosso favor</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 201: Desempenho econômico </td>
							<td> <strong>201-1</strong> Valor econômico direto gerado e distribuído </td>
							<td>
								<a href="">Usar nosso porte a nosso favor</a>

							</td>
							<td>

							</td>
						</tr>

						<tr>
							<th colspan="4"> Água </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>

									<a href="">Ser excelente nas tarefas mais básicas</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="2"> GRI 303: Água </td>
							<td> <strong>303-1</strong> Total de retirada de água por fonte </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>303-3</strong> Percentual e volume total de água reciclada e reutilizada </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Biodiversidade </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 304: Biodiversidade </td>
							<td> <strong>304-2</strong> Impactos significativos de atividades, produtos e serviços sobre a biodiversidade </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Emissões </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="4"> GRI 305: Emissões </td>
							<td> <strong>305-1</strong> Emissões diretas de gases de efeito estufa (Escopo 1) </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>305-2</strong> Emissões indiretas de gases de efeito estufa (Escopo 2) </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>305-4</strong> Intensidade de emissões de gases de efeito estufa </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>305-7</strong> Emissões de NOx, SOx e outras emissões atmosféricas significativas </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Efluentes e resíduos </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="3"> GRI 306: Efluentes e resíduos </td>
							<td> <strong>306-1</strong> Descarte de água, discriminado por qualidade e destinação </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>306-2</strong> Resíduos, discriminado por tipo e método de disposição </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>306-4</strong> Transporte de resíduos perigoso </td>
							<td>
								<a href="">Ser excelente nas tarefas mais básicas</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Conformidade ambiental </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td rowspan="3"> A política adotada para conformidade ambiental é de manter o cumprimento da legislação vigente que aborda o tema. </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 307: Conformidade ambiental </td>
							<td> <strong>307-1</strong> Não-conformidade com leis e regulamentos ambientais </td>
							<td>
								Em 2017, a Cargill recebeu dois autos de infração totalizando R$ 20 mil em multas. <br> <strong>Ibiá (MG):</strong> R$ 15.000,00 por atraso no requerimento de renovação da licença. Medida adotada: plano de ação para que não haja atraso novamente e a licença já foi emitida. <br> <strong>Três Lagoas (MS):</strong> R$ 5.000,00 por emissão de ruídos. Medida adotada: plano de ação para atendimento dos parâmetros. <br> <strong>	Histórico:</strong> R$390.000,00 em 2015 e R$372.017,00 em 2016.
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Saúde e segurança ocupacional </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="2"> GRI 403: Saúde e segurança ocupacional </td>
							<td> <strong>403-2</strong> Tipos de lesões, taxas de lesões, doenças ocupacionais, dias perdidos, absenteísmo e número de mortes relacionadas ao trabalho </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>403-3</strong> Trabalhadores com alta incidência ou alto risco de doenças relacionadas à sua ocupação </td>
							<td>

							</td>
							<td>
								Informação não disponível em tempo para o reporte.
							</td>
						</tr>
						<tr>
							<th colspan="4"> Não discriminação </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 406: Não-discriminação </td>
							<td> <strong>406-1</strong> Casos de discriminação e medidas corretivas tomadas </td>
							<td> A Cargill relatou dois casos de discriminação iniciados em 2017 (em 2016 havia sido um): um pede por danos morais sob a alegação de discriminação por ser deficiente físico e outro pede indenização por danos morais diante da dispensa discriminatória e tratamento ríspido de sua supervisora. O caso de 2016 que estava pendente em 2016 foi julgado como improcedente pela Justiça do Trabalho e encerrado quanto ao pedido de discriminação. </td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Liberdade de associação e negociação coletiva </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td rowspan="3"> Não há interferência da empresa, estando qualquer trabalhador livre para formar ou juntar-se a um sindicato ou mesmo participar das negociações coletivas. </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 407: Liberdade de associação e negociação coletiva </td>
							<td> <strong>407-1</strong> Operações e fornecedores identificados em que o direito de exercer a liberdade de associação e a negociação coletiva possa estar sendo violado ou haja risco </td>
							<td> Não foi identificado nenhum risco ou violação do direito de exercer liberdade de associação e negociação coletiva no ano. </td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="4"> Trabalho infantil </td>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 408: Trabalho infantil </td>
							<td> <strong>408-1</strong> Operações e fornecedores identificados como de risco significativo para a ocorrência de trabalho infantil </td>
							<td> Não foram identificados como riscos significativos ocorrência de trabalho infantil em relação aos fornecedores da Cargill. No caso das operações, foi identificado risco de exploração sexual infantil no transporte de carga. <br>
								<a href="">Ser o parceiro mais confiável</a> </td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Trabalho forçado ou análogo ao escravo </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 409: Trabalho forçado ou análogo ao escravo </td>
							<td> <strong>409-1</strong> Operações e fornecedores identificados como de risco significativo para a ocorrência de trabalho forçado ou análogo ao escravo </td>
							<td> O mapeamento de riscos considera fornecedores rurais de produtos agrícolas como soja, tomate, cacau, algodão, palma, entre outros. A Cargill mantém o compromisso de não tolerar ocorrências de trabalho escravo em suas cadeias de suprimentos, não registrando nenhum tipo de problema nos últimos anos. </td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Práticas de segurança </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
									<a href="">Desenvolver o potencial dos nossos funcionários</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
									<a href="">Desenvolver o potencial dos nossos funcionários</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
									<a href="">Desenvolver o potencial dos nossos funcionários</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 410: Práticas de segurança </td>
							<td> <strong>410-1</strong> Pessoal de segurança treinado em políticas ou procedimentos relativos a direitos humanos </td>
							<td>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td colspan="4"> Direitos dos povos indígenas </td>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td rowspan="3"> Não há abordagem de gestão específica para direitos indígenas, uma vez que não é um risco identificado na cadeia de suprimentos. <br> <a href="">Ser o parceiro mais confiável</a> </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 411: Direitos dos povos indígenas </td>
							<td> <strong>411-1</strong> Casos de violação de direitos de povos indígenas </td>
							<td> Não foram identificadas ocorrências de violação de direitos de povos indígenas e tradicionais nas operações no ano. </td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Avaliação em direitos humanos </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="3"> GRI 412: Avaliação em direitos humanos </td>
							<td> <strong>412-1</strong> Operações submetidas a análises ou avaliações de impacto em direitos humanos </td>
							<td> 100% das operações são submetidas a avaliações de impactos ou análises em direito humanos, assim como a processos de verificação quanto a questões abordadas no Código de Conduta. <br><a href="">Ser o parceiro mais confiável</a></td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>412-2</strong> Empregados treinados em políticas e práticas de direitos humanos </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>412-3</strong> Acordos e contratos de investimentos significativos que incluem cláusulas de direitos humanos ou que foram submetidos à avaliação referente a direitos humanos </td>
							<td><a href="">Ser o parceiro mais confiável</a> </td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Comunidades locais </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a> /
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a> /
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a> /
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 413: Comunidades locais </td>
							<td> <strong>413-1</strong> Operações com programas implementados de engajamento da comunidade local, avaliação de impactos e desenvolvimento local </td>
							<td>
								<a href="">Desenvolver o potencial dos nossos funcionários</a> /
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Avaliação social de fornecedores </th>
						</tr>

						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>

						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td rowspan="2"> GRI 414: Avaliação social de fornecedores </td>
							<td> <strong>414-1</strong> Novos fornecedores selecionados com base em critérios sociais </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>414-2</strong> Impactos sociais negativos na cadeia de fornecedores e medidas tomadas </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<th colspan="4"> Saúde e segurança do consumidor </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td rowspan="3"> GRI 103: Abordagem de gestão 2017 </td>
							<td> <strong>103-1</strong> Explicação sobre o tópico material e seus limites </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-2</strong> Abordagem de gestão e seus componentes </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> <strong>103-3</strong> Evolução da abordagem de gestão </td>
							<td>
								<a href="">Ser o parceiro mais confiável</a>

							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td> GRI 416: Saúde e segurança do consumidor </td>
							<td> <strong>416-1</strong> Produtos e serviços para os quais são avaliados impactos na saúde e segurança </td>
							<td>

							</td>
							<td> Informação não disponível em tempo para o reporte </td>
						</tr>
						<tr>
							<td> Suplemento Setorial de Alimentos - Saúde e segurança do consumidor </td>
							<td> <strong>FP5</strong> Percentagem do volume de produção fabricado em locais certificados por terceiros, de acordo com normas internacionalmente reconhecidas </td>
							<td>

							</td>
							<td> Informação não disponível em tempo para o reporte </td>
						</tr>
						<tr>
							<th colspan="4"> Marketing e rotulagem </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td> Suplemento Setorial Financeiro- Marketing e rotulagem </td>
							<td> <strong>FP8</strong> Políticas e práticas de comunicação aos consumidores sobre ingredientes e informações nutricionais além dos requisitos legais </td>
							<td>

							</td>
							<td> Informação não disponível em tempo para o reporte </td>
						</tr>
						<tr>
							<th colspan="4"> Terceirização e compras </th>
						</tr>
						<tr>
							<th> GRI Standard </th>
							<th> Divulgação </th>
							<th> Página/URL </th>
							<th> Omissão </th>
						</tr>
						<tr>
							<td> Suplemento Setorial de Alimentos - Terceirização e compras </td>
							<td> <strong>FP1</strong> Percentagem de volume comprado de fornecedores em conformidade com política de compras da organização </td>
							<td> No Relatório de Sustentabilidade 2016 da Cargill, foram publicados os dados referentes a toda a América Latina, onde constou uma taxa de 84% do volume de compra de fornecedores em conformidade com a política de práticas de compra. Atualmente há controle dos dados da região LATAM e país: No Brasil, para o ano fiscal 2016-2017 o percentual é de 60% (somando R$ 59.375.651,98), agora gerenciado com maior visualização das categorias e também pela área de Vendor Management Office (VMO). </td>
							<td>

							</td>
						</tr>
					</tbody>
				</table>
