<h2>&nbsp;</h2>
<p><span class="gri">GRI 102-10</span> A Cargill possui 23 fábricas, seis terminais portuários, 189 armazéns e transbordos e dois centros de inovação operados por cerca de 10 mil funcionários em 160 municípios de 17 estados e do Distrito Federal. O porte da Cargill é um dos seus maiores ativos, que estrategicamente, vem sendo usado ao seu favor: 2017 foi importante para que uma das maiores indústrias de alimentos do Brasil consolidasse aquisições, projetos em andamento e melhorias em suas fábricas.</p>
<p>Em outubro de 2017, a companhia assinou a compra da Integral Nutrição, empresa de produtos para bovinos de leite e corte no centro-oeste do País cuja receita líquida era de R$ 80 milhões por ano. A Cargill assumiu 100% dos ativos no primeiro dia útil de 2018. A aquisição incluiu uma fábrica em Goianira (GO) com cerca de 100 funcionários e um portfólio com produtos de suplementos minerais a premixes. <span class="gri">GRI 102-49</span></p>
<p>Também ocorreram mudanças em relação à Central Energética Vale do Sapucaí Ltda. (Cevasa), em Patrocínio Paulista (SP). Houve uma reavaliação do plano de negócios da <em>joint venture</em> com a Canagril, que transferiu sua participação acionária para a Cargill. <span class="gri">GRI 102-49</span></p>
<p>Ainda em 2017, a Cargill acertou a venda da sua operação na unidade de São José do Rio Pardo (SP) para a Doehler. A decisão considerou aspectos estratégicos e de alinhamento deste segmento com a estratégia global da companhia, que optou por sair do negócio de preparados de frutas, recheios e coberturas no Brasil.</p>
<p>A empresa conta também com a Cargill Risk Management (CRM), unidade de negócio responsável por oferecer soluções na área de gerenciamento de risco a produtores rurais e empresas do setor agrícola e da indústria de alimentos. A CRM auxilia os clientes na proteção dos riscos de mercado quanto à precificação de seus produtos, oferecendo soluções diferenciadas para diversas <em>commodities</em> agrícolas.</p>

<div class="row">
  <div class="onethird full top-left bottom-right">
    <picture>
      <source type="image/webp" srcset="../img/icone-fabricas.webp" alt="">
      <source type="image/svg+xml" srcset="../img/icone-fabricas.svg" alt="">
      <img src="../img/icone-fabricas.png" alt="">
    </picture>
    <p class="destaque"><strong>23 fábricas</strong></p>
  </div>
  <div class="onethird full top-right bottom-left">
      <picture>
        <source type="image/webp" srcset="../img/icone-terminais-portuarios.webp" alt="">
        <source type="image/svg+xml" srcset="../img/icone-terminais-portuarios.svg" alt="">
        <img src="../img/icone-terminais-portuarios.svg" alt="">
      </picture>
      <p class="destaque"><strong>6 terminais portuários</strong></p>
  </div>
</div>
<div class="row">
  <div class="onethird full top-right bottom-left">
    <picture>
      <source type="image/webp" srcset="../img/icone-funcionarios.webp">
      <source type="image/svg+xml" srcset="../img/icone-funcionarios.svg">
      <img src="../img/icone-funcionarios.png" alt="icone-funcionarios">
    </picture>
    <p class="destaque">
      <strong>10 mil funcionários</strong>
    </p>
  </div>
  <div class="onethird full top-right bottom-left">
    <picture>
      <source type="image/webp" srcset="../img/icone-estados.webp">
      <source type="image/svg+xml" srcset="../img/icone-estados.svg">
      <img src="../img/icone-estados.png" alt="icone-estados">
    </picture>
    <p class="destaque"> <strong>17 estados</strong> </p>
  </div>
</div>
<!--
<fieldset data-alert="Arte em desenvolvimento">
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td> <a id="_Hlk517167562">Principais unidades brasileiras</a> [legendas com ícones, aqui em números] 1 Açúcar e etanol 2 Amidos e adoçantes 3 Biodiesel (soja) 4 Cacau e chocolate 5 Cargill Industrial Specialties 6 Centro de Serviços Compartilhados
            7 Cargill Animal Nutrition 8 Centro de inovação 9 Escritório central 10 Foods 11 Soja (grãos) 12 Terminal – açúcar 13 Terminal – grãos [textos unidades] Fábricas, portos e escritórios na região sudeste 2, 11 Uberlândia (MG) – Processamento
            de soja e de milho (para produção de amidos e ingredientes derivados) e produção de acidulantes 6 Centro de Serviços Compartilhados – Uberlândia (MG) 1 Cevasa* Patrocínio Paulista (SP) – Usina de açúcar, etanol e energia 2, 4 Porto
            Ferreira (SP) – Produção de maltodextrinas e glicoses; fabricação de chocolate e coberturas para o mercado industrial de <em>food services</em> 5, 10 Mairinque (SP) – Produção e comercialização de gorduras vegetais, maionese, óleos,
            óleos compostos e especialidades industriais 7 Itapira (SP) – Nutrição Animal 7 Centro de Inovação CAN Mogi Mirim (SP) – Nutrição Animal 13 TEG* Terminal de Exportação do Guarujá (SP) – Exportação de grãos 13 TEAG* Terminal de Exportação
            de Açúcar do Guarujá (SP) – Exportação de açúcar 8 Centro de Inovação Campinas (SP) 9 Escritório Central São Paulo (SP) Fábricas e porto na região sul 7 Toledo (PR) – Nutrição Animal 2 Castro (PR) – Processamento e produção de ingredientes
            à base de milho 5, 11 Ponta Grossa (PR) – Moagem e degomagem de soja; produção de óleo bruto e farelo para nutrição animal; especialidades industriais 13 Paranaguá (PR) – Terminal portuário de exportação de grãos 7 Chapecó (SC) – Nutrição
            Animal <strong>Fábricas na região nordeste</strong> 11 Barreiras (BA) – Esmagamento de soja para a produção de farelo; refino de óleo de soja e fornecimento para produção de biodiesel 4 Ilheus (BA) – Processamento de derivados de cacau
            para indústria alimentícia <strong>Fábricas na região centro-oeste</strong> 11 Primavera do Leste (MT) – Processamento de soja; produção de farelo e de óleo bruto e refinado; envase, comercialização e distribuição de óleo. 3, 11 Três
            Lagoas (MS) –Processamento de soja; produção de óleo vegetal degomado e de biodiesel; fabricação de farelo de soja 10 Goiânia (GO) – Produção de atomatados 10 Itumbiara (GO) – Produção de gordura vegetal 10, 11 Rio Verde (GO) – Moagem
            de soja; produção de farelo; produção de óleo bruto; refino, envase, comercialização e distribuição de óleo 1 SJC Cachoeira Dourada (GO) – Usina de açúcar 2 SJC Quirinópolis (GO) – Usina de açúcar, etanol e bioenergia <strong>Portos na região norte</strong>                    13 Porto Velho (RO) – Terminal de grãos 13 Santarém (PA) – Terminal portuário de exportação de grãos 13 Distrito de Miritituba, Itaituba (PA) – Terminal de transbordo rodofluvial de grãos [nota de rodapé] *Nessas unidades a Cargill
            possui participação por meio de <em>joint ventures</em> </td>
    </tr>
</table>
</fieldset> -->
<h3>Banco Cargill</h3>
<p>Outro diferencial da companhia é o Banco Cargill, seu braço financeiro, que ajuda no estabelecimento de relacionamentos de confiança e longo prazo na cadeia agrícola. A instituição presta serviços e fornece empréstimos a clientes agrícolas, industriais
    e cooperativas, por meio de um processo de aprovação de crédito ágil, conquistado pela credibilidade da Cargill e por seu conhecimento sobre o agronegócio.</p>
<p>Em 2017, uma vez que os bancos restringiram o acesso ao crédito de maneira geral, o Banco Cargill também se readequou a nova condição mercadológica e reduziu sua carteira de empréstimos, restringindo-a aos clientes relacionados ao agronegócio,
    mantendo a postura ética em todos os casos e a parceria consistente com os produtores rurais.</p>
<p>Dessa forma, o Banco Cargill encerrou o exercício de 2017 com R$ 3.288.348 mil em ativos, redução de 30% em relação ao apresentado no exercício anterior e a carteira de crédito apresentou decréscimo de 25%, atingindo R$ 2.228.920 mil. Além disso,
    encerrou o exercício com prejuízo de R$ 53.811 mil, gerado principalmente pela provisão para créditos de liquidação duvidosa devido ao cenário econômico adverso. Tais créditos foram renegociados com sucesso e os clientes são constantemente
    monitorados pelas áreas de Crédito e Risco e Comercial do Banco.</p>

<h1>Desempenho econômico-financeiro <span class="gri">GRI 103-201</span></h1>
<h3>Cenário macroeconômico</h3>
<p>O índice de atividade do Banco Central bem como o índice de crescimento do PIB divulgado pelo IBGE, ambos próximos a 1%, demonstram que o País está retomando a sua capacidade de crescimento, saindo da profunda recessão dos últimos anos. </p>
<p>O agronegócio continuou demonstrando a sua capacidade de gerar riqueza devido, principalmente, ao ganho de produtividade dos últimos anos, resultado de grandes investimentos e diligência dos participantes da cadeia.</p>
<p>Em relação aos índices de preço, o nível ainda elevado de ociosidade da economia, com o hiato do produto em território negativo, em conjunto com a maior safra de grãos da história do País, contribuiu para o comportamento benigno do índice nacional de preços ao consumidor amplo (IPCA), que fechou 2017 em 2,95%, abaixo do piso estabelecido pelo Banco Central. Esse cenário possibilitou a continuidade do ciclo de corte da taxa básica de juros e a Selic encerrou o ano em 7% ao ano.</p>
<h3>Resultados financeiros</h3>
<p>Com esse cenário, a receita operacional líquida da Cargill no Brasil alcançou R$ 35 bilhões em 2017, o que representa o crescimento de 6% em relação a 2016. Apesar de a receita ter sido maior em comparação com 2016, o lucro líquido caiu R$ 115 milhões (16%), encerrando o ano em R$ 593 milhões. O resultado se deve a margens pressionadas por uma safra maior.</p>
<p><strong>Investimentos</strong> – A Cargill investiu R$ 790 milhões no Brasil em 2017, totalizando R$ 4,6 bilhões de investimentos nos últimos sete anos. A previsão é que invista de R$ 300 a R$ 400 milhões em 2018, números inferiores ao exercício anterior uma vez que os investimentos de 2017 estão em fase de maturação.No ano, o endividamento da companhia subiu 8% em relação a 2016 – de R$ 8,8 bi para R$ 9,5 bi (variação de R$ 736 milhões). O crescimento é considerado inexpressivo considerando o padrão da dívida da Cargill, que basicamente recebe dinheiro via matriz com um custo de capital menor que os empréstimos realizados no Brasil.</p>

<table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th colspan="7">Resultados financeiros 2017 Cargill Alimentos<br><strong>(CASA + NUTRIÇÃO ANIMAL) – R$/MM </strong><span class="gri">GRI 201-1</span></th>
        </tr>
    </thead>
    <tr>
        <th> Cargill Alimentos Ltda. </th>
        <th colspan="2"> 2016 </th>
        <th colspan="2"> 2017 </th>
        <th colspan="2"> Variação </th>
    </tr>
    <tr>
        <td> <strong class="color">Receita Operacional Líquida </strong></td>
        <td colspan="2"> 33.053 </td>
        <td colspan="2"> 34.955 </td>
        <td colspan="2"> 6% </td>
    </tr>
    <tr>
        <td> <strong class="color">Lucro líquido do Exercício</strong> </td>
        <td colspan="2"> 708 </td>
        <td colspan="2"> 593 </td>
        <td colspan="2"> -16% </td>
    </tr>
    <tr>
        <td> <strong class="color">Patrimônio Líquido</strong> </td>
        <td colspan="2"> 3.593 </td>
        <td colspan="2"> 4.193 </td>
        <td colspan="2"> 17% </td>
    </tr>
    <tr>
        <td> <strong class="color">Investimentos (Imobilizado)</strong> </td>
        <td colspan="2"> 775 </td>
        <td colspan="2"> 793 </td>
        <td colspan="2"> 2% </td>
    </tr>
    <tr>
        <td> <strong class="color">Total Ativos </strong></td>
        <td colspan="2"> 13.177 </td>
        <td colspan="2"> 14.590 </td>
        <td colspan="2"> 11% </td>
    </tr>
    <tr>
        <th colspan="7"> CAL Consolidado. </th>
    </tr>
    <tr>
        <th> Receita Líquida (milhares) </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <td> <strong class="color">Mercado Interno<sup>1</sup></strong> </td>
        <td> 11.546.491 </td>
        <td colspan="2"> 35% </td>
        <td colspan="2"> 10.311.634 </td>
        <td> 29% </td>
    </tr>
    <tr>
        <td> <strong class="color">Mercado Externo</strong> </td>
        <td> 21.506.200 </td>
        <td colspan="2"> 65% </td>
        <td colspan="2"> 24.643.544 </td>
        <td> 71% </td>
    </tr>
    <tr class="total">
        <th> Total receita operacional líquida </th>
        <th> 33.052.691 </th>
        <th colspan="2"> 100% </th>
        <th colspan="2"> 34.955.178 </th>
        <th> 100% </th>
    </tr>
    <tr>
        <th colspan="7"> CAL Consolidado. </th>
    </tr>
    <tr>
        <th> Receita Bruta (milhares) </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <td> <strong class="color">Mercado Interno</strong> </td>
        <td> 12.904.319 </td>
        <td colspan="2"> 38% </td>
        <td colspan="2"> 11.258.724 </td>
        <td> 32% </td>
    </tr>
    <tr>
        <td> <strong class="color">Mercado Externo</strong> </td>
        <td> 21.506.200 </td>
        <td colspan="2"> 62% </td>
        <td colspan="2"> 24.643.544 </td>
        <td> 68% </td>
    </tr>
    <tr class="total">
        <th> Total receita bruta </th>
        <th> 34.419.519 </th>
        <th colspan="2"> 100% </th>
        <th colspan="2"> 36.172.268 </th>
        <th> 100% </th>
    </tr>
    <caption>1 Considerando todas as deduções (impostos e abatimentos) do mercado interno.</caption>
</table>


<h2>Receita operacional líquida - R$/MM</h2>

<picture>
  <source type="image/webp" srcset="../img/grafico-receita-operacional-liquida.webp">
  <source type="image/svg+xml" srcset="../img/grafico-receita-operacional-liquida.svg">
  <img src="../img/grafico-receita-operacional-liquida.png" alt="grafico-receita-operacional-liquida">
</picture>



<h1>Desempenho operacional</h1>
<h2>Cenário setorial</h2>
<p>Dados da Companhia Nacional de Abastecimento (Conab) apontam que a safra de grãos brasileira de 2016/2017 ultrapassou 238 milhões de toneladas, ou seja, mais de uma tonelada por habitante.</p>
<p>O crescimento de mais de 26% foi impulsionado principalmente pela soja, responsável por quase a metade dessa expansão, sendo que a soja produzida na América do Sul responde por mais da metade da produção global.</p>
<h2>Resultados operacionais</h2>
<p>A companhia deu continuidade à estratégia de crescimento por meio de investimentos e inovações. Em 2017, concluímos a expansão da fábrica de Três Lagoas (MS), que passa a ter capacidade de esmagar mais de 1 milhão de toneladas de soja anualmente. A fábrica teve ainda renovada a sua certificação ISCC (International Sustainability &amp; Carbon Certification) para a produção de biodiesel, combustível com taxas de emissão de CO2 mais de 60% menores em relação à queima de combustíveis fósseis.</p>
<p>No início do ano, foi concluída a aquisição da empresa SGS Microingredients em Ponta Grossa (PR), alinhada à estratégia de expansão da atuação no ramo de óleo química e inserção no setor de emulsificantes. Além de novos produtos no mercado, a Companhia tem mais espaço para ampliar sua capacidade produtiva. Serão investimentos de cerca de R$ 20 milhões ao longo de um ano e meio na nova unidade.</p>
<p>Ampliando a atuação no segmento de óleo vegetal, a Companhia conquistou importantes clientes para fornecimento do Envirotemp™ FR3™, fluido vegetal para transformadores inovador nos aspectos de sustentabilidade, segurança e eficiência. Além do produto, a Cargill fornece suporte técnico para validar a aplicação da tecnologia, que substitui óleo mineral por óleo vegetal, em transformadores utilizados pelas maiores concessionárias de energia do País.</p>
<p>A Cargill também apresentou ao mercado novos produtos na área de consumo, desenvolvidos e lançados para atender tendências como saudabilidade, busca por preços mais acessíveis e porções menores, que evitam o desperdício e são mais amigáveis ao meio ambiente. Para 2018, a expectativa é que os produtos de consumo e <em>food service</em> apresentem crescimento de 4% a 5% no ano.</p>
<p>Na linha de nutrição animal, o <em>market share</em> da companhia aumentou de 14% para 16% em volume de produtos, considerando a tonelagem convertida em ração.</p>
<h1>Prêmios e reconhecimentos</h1>
<p>O trabalho em busca de ser líder em nutrir o mundo de forma segura, responsável e sustentável rendeu diversos prêmios e reconhecimentos à Cargill ao longo de 2017.</p>
<ul>
    <li>
        <p><strong class="color">3º Prêmio Vox Empresarial:</strong> 2ª empresa mais lembrada no município de Santarém (PA) </p>
    </li>
    <li>
        <p><strong class="color">As melhores da Dinheiro Rural:</strong> melhor gestão corporativa </p>
    </li>
    <li>
        <p><strong class="color">Empresas que Melhor se Comunicam com Jornalistas</strong></p>
    </li>
    <li>
        <p><strong class="color">Folha Top of Mind: </strong>Elefante vencedor em três categorias </p>
    </li>
    <li>
        <p><strong class="color">Guia Exame de Sustentabilidade:</strong> melhores índices entre as empresas do agronegócio </p>
    </li>
    <li>
        <p><strong class="color">Líderes de Vendas, </strong><strong><em>ranking</em></strong><strong> Abras – Revista SuperHiper:</strong> prêmio nas categorias óleo composto, molho para salada, purê e polpa de tomate e molho refogado </p>
    </li>
    <li>
        <p><strong class="color">Love Mondays: </strong>37ª colocação entre as 50 empresas mais amadas segundo os funcionários </p>
    </li>
    <li>
        <p><strong class="color">Marcas de Confiança Revista Seleções:</strong> LIZA vencedor na categoria Alimentos e Bebidas – Óleo Comestível </p>
    </li>
    <li>
        <p><strong class="color">Melhores do Agronegócio 2017 – Globo Rural:</strong> Indústria de Soja e Óleos, a maior entre as 500 e Nutrição Animal </p>
    </li>
    <li>
        <p><strong class="color">Melhores e maiores Revista Exame:</strong> a maior do agronegócio </p>
    </li>
    <li>
        <p><strong class="color">Merco 2016 Reputação Corporativa:</strong> classificada entre as 100 empresas com melhor reputação corporativa no Brasil </p>
    </li>
    <li>
        <p><strong class="color">Prêmio Líderes do Brasil LIDE:</strong> categoria líderes em agronegócio </p>
    </li>
    <li>
        <p><strong class="color">Ranking Reputation Institute: </strong>16ª empresa de melhor reputação no Brasil </p>
    </li>
    <li>
        <p><strong class="color">Revista Sul for Export:</strong> 11ª colocação entre empresas exportadoras </p>
    </li>
    <li>
        <p><strong class="color">Troféu Agroleite</strong>: categoria Nutrição (marca Nutron vencedora pelo 16º ano consecutivo) </p>
    </li>
    <li>
        <p><strong class="color">Troféu </strong><strong><em>Benchmarking</em></strong><strong> Brasil: </strong>categoria Educação, Informação e Comunicação Socioambiental, com o case Campanha Pró Código Florestal </p>
    </li>
    <li>
        <p><strong class="color">Troféu fornecedor Nota 10 da Abad:</strong> categoria Caldos, Molhos e Condimentos </p>
    </li>
    <li>
        <p><strong class="color">Troféu Gente Nossa Fornecedores:</strong> indústria fornecedora de óleos e azeites </p>
    </li>
</ul>
<div class="premios-reconhecimentos-bigger">
  <div class="row">
    
  </div>

</div>
