</section>
</article>
</main>
<footer>
    <div class="wrapper">
        <h1 lang="pt">CARGILL <small>RELATÓRIO DE SUSTENTABILIDADE 2017</small></h1>
        <h1 lang="en">CARGILL <small>2017 SUSTAINABILITY REPORT</small></h1>
        <div>
            <div class="third">
                <ul>
                    <li>
                        <a lang="pt" href="">Mensagem do presidente</a>
                        <a lang="en" href="">Message from the president</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Destaques do ano</a>
                        <a lang="en" href="">2017 headlines</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Liderar nos mercados</a>
                        <a lang="en" href="">Lead in our markets</a>
                    </li>
                    <li>
                        <a lang="pt" href="liderar-nos-mercados.html#perfil">Perfil</a>
                        <a lang="en" href="lead-in-our-markets.html#">Profile</a>
                    </li>
                    <li>
                        <a lang="pt" href="liderar-nos-mercados.html#gestao-estrategica">Gestão estratégica</a>
                        <a lang="en" href="lead-in-our-markets.html#">Strategic management</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Usar nosso porte a nosso favor</a>
                        <a lang="en" href="">Use our size to our advantage</a>
                    </li>
                    <li>
                      <a lang="pt" href="usar-nosso-porte-a-nosso-favor.html#desempenho-economico-financeiro">Desempenho econômico-financeiro</a>
                      <a lang="en" href="use-our-size-to-our-advantage.html#">Economic and financial performance</a>
                    </li>
                    <li>
                        <a lang="pt" href="usar-nosso-porte-a-nosso-favor.html#desempenho-operacional">Desempenho operacional</a>
                        <a lang="en" href="use-our-size-to-our-advantage.html#">Operating performance</a>
                    </li>
                    <li>
                        <a lang="pt" href="usar-nosso-porte-a-nosso-favor.html#premios-e-reconhecimentos">Prêmios e reconhecimentos</a>
                        <a lang="en" href="use-our-size-to-our-advantage.html#">Awards and recognition</a>
                    </li>
                </ul>

            </div>
            <div class="third">
                <ul>
                    <li>
                        <a lang="pt" href="">Desenvolver o potencial dos nossos funcionários</a>
                        <a lang="en" href="">Unleash our people's potential</a>
                    </li>
                    <li>
                        <a lang="pt" href="desenvolver-o-potencial-dos-nossos-funcionarios.html#diversidade">Diversidade</a>
                        <a lang="en" href="unleash-our-people-s-potential.html#">Diversity</a>
                    </li>
                    <li>
                        <a lang="pt" href="desenvolver-o-potencial-dos-nossos-funcionarios.html#saude-e-seguranca">Saúde e Segurança</a>
                        <a lang="en" href="unleash-our-people-s-potential.html#">Health and safety</a>
                    </li>
                    <li>
                        <a lang="pt" href="desenvolver-o-potencial-dos-nossos-funcionarios.html#semeando-futuro">Semeando Futuro</a>
                        <a lang="en" href="unleash-our-people-s-potential.html#">Semeando Futuro</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Ser o parceiro mais confiável</a>
                        <a lang="en" href="">Be the most trusted partner</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-o-parceiro-mais-confiavel.html#governanca-corporativa">Governança Corporativa</a>
                        <a lang="en" href="be-the-most-trusted-partner.html#">Corporate Governance</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-o-parceiro-mais-confiavel.html#cadeia-produtiva">Cadeia produtiva</a>
                        <a lang="en" href="be-the-most-trusted-partner.html#">Value chain</a>
                    </li>
                    <!-- <li>
                        <a href="">Saúde e segurança</a>
                    </li> -->
                    <li>
                        <a lang="pt" href="ser-o-parceiro-mais-confiavel.html#gestao-da-sustentabilidade">Gestão da sustentabilidade</a>
                        <a lang="en" href="be-the-most-trusted-partner.html#">Sustainability management</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-o-parceiro-mais-confiavel.html#fundacao-cargill">Fundação Cargill</a>
                        <a lang="en" href="be-the-most-trusted-partner.html#">Fundação Cargill</a>
                    </li>
                </ul>

            </div>
            <div class="third">
                <ul>
                    <li>
                        <a lang="pt" href="">Ser excelente nas tarefas mais básicas</a>
                        <a lang="en" href="">Do the ordinary extraordinarily well</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-excelente-nas-tarefas-mais-basicas.html#inovacao-infraestrutura-e-qualidade">Inovação, infraestrutura e qualidade</a>
                        <a lang="en" href="do-the-ordinary-extraordinarily-well.html#">Innovation and technology</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-excelente-nas-tarefas-mais-basicas.html#lancamentos-de-produtos">Lançamentos de produtos</a>
                        <a lang="en" href="do-the-ordinary-extraordinarily-well.html#">Product launches</a>
                    </li>
                    <li>
                        <a lang="pt" href="ser-excelente-nas-tarefas-mais-basicas.html#gestao-ambiental">Gestão ambiental</a>
                        <a lang="en" href="do-the-ordinary-extraordinarily-well.html#">Environmental management</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Sobre o relatório</a>
                        <a lang="en" href="">About this report</a>
                    </li>
                    <li>
                        <a lang="pt" href="sobre-o-relatorio.html#materialidade">Materialidade</a>
                        <a lang="en" href="about-this-report.html#">Materiality</a>
                    </li>
                    <li>
                        <a lang="pt" href="sobre-o-relatorio.html#creditos">Créditos</a>
                        <a lang="en" href="about-this-report.html#">Credits</a>
                    </li>
                    <li>
                        <a lang="pt" href="sobre-o-relatorio.html#informacoes-corporativas">Informações Corporativas</a>
                        <a lang="en" href="about-this-report.html#">Corporate information</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a lang="pt" href="">Sumário de conteúdo da GRI</a>
                        <a lang="en" href="">GRI Content Index</a>
                    </li>
                    <li>
                        <a lang="pt" href="sumario-de-conteudo-da-gri.html#">Divulgações gerais</a>
                        <a lang="en" href="gri-content-index.html#">General disclosures</a>
                    </li>
                    <li>
                        <a lang="pt" href="sumario-de-conteudo-da-gri.html#">Tópicos materiais</a>
                        <a lang="en" href="gri-content-index.html#">Material topics</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="../js/basket.full.min.js"></script>
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/picturefill.min.js"></script>
<script src="../js/scrollMonitor.js"></script>
<script src="../editor/editor.js"></script>
<script src="../js/main.js"></script>
</body>

</html>
