<h1>Main headlines</h1>
  <div class="row">
    <div class="half bottom-left top-right full">
      <hr>
      <p class="destaque"><strong>155,000 employees </strong>worldwide and <strong>more than 10,000 in Brazil</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-brasil.webp">
        <source type="image/svg+xml" srcset="../img/icone-brasil.svg">
        <img src="../img/icone-brasil.png" alt="icone-brasil">
      </picture>
      <hr>

    </div>
    <div class="half bottom-right top-left full">
      <hr>
      <p class="destaque"><strong>R$ <span class="bigger">35 billion</span> </strong>in net operating revenue </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-cifrao.webp">
        <source type="image/svg+xml" srcset="../img/icone-cifrao.svg">
        <img src="../img/icone-cifrao.png" alt="icone-cifrao">
      </picture>
      <hr>
    </div>

  </div>
  <div class="row">
    <div class="onethird bottom-right top-left">
        <p>Invested <strong><span class="bigger">R$ 790 million</span></strong> in 2017 and <strong class="bigger">R$ 4,6 billion</strong> in the last 7 years</p>
    </div>
    <div class="twothird bottom-left top-right full">
      <p class="destaque">915 <br><em>Semeando o futuro</em> volunteers participated in initiatives <strong>that benefited more than <span class="bigger">21,000</span> people</strong> in 49 cities </p>
    </div>
  </div>
  <div class="row">
    <div class="half full bottom-left top-right">
      <hr>
      <p class="destaque">Fundação Cargill <strong>celebrated its <span class="bigger">45th</span> anniversary</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-calendario.webp">
        <source type="image/svg+xml" srcset="../img/icone-calendario.svg" >
        <img src="../img/icone-calendario.png" alt="icone-calendario">
      </picture>
      <hr>

    </div>
    <div class="half full bottom-right top-left">
      <hr>
      <p><strong>Triple S</strong> (Sustainably Sourced & Supplied) certification program present in four states: Paraná, Mato Grosso, Pará and Goiás</p>
      <picture>
        <source type="image/webp" srcset="../img/icone-soja.webp">
        <source type="image/svg+xml" srcset="../img/icone-soja.svg">
        <img src="../img/icone-soja.png" alt="icone-soja">
      </picture>

      <hr>

    </div>
  </div>
  <div class="row">
    <div class="twothird full bottom-left top-right">
      <hr>
      <p class="destaque">Our <em>Cacau Floresta</em> program assessed 70 properties and <strong>benefited <br><span class="bigger">123 family</span> farms</strong> </p>
      <picture>
        <source type="image/webp" srcset="../img/icone-cacau.webp">
        <source type="image/svg+xml" srcset="../img/icone-cacau.svg">
        <img src="../img/icone-cacau.png" alt="icone-cacau">
      </picture>
      <hr>
    </div>

  <div class="onethird full bottom-right top-left">
    <hr>
    <p class="destaque"><strong>Shareholders’ equity</strong> grew by <span class="bigger">17%</span> in the year</p>
    <picture>
      <source type="image/webp" srcset="../img/icone-grafico-sobe.webp">
      <source type="image/svg+xml" srcset="../img/icone-grafico-sobe.svg">
      <img src="../img/icone-grafico-sobe.png" alt="icone-grafico-sobe">
    </picture>
    <hr>

  </div>
</div>

<div class="row">
  <div class="full half bottom-right top-left">
    <p><strong>Disposed of <span class="bigger">650,000 liters</span> of used cooking oil</strong> through our <em>Ação Renove o Meio Ambiente</em> program in 2017</p>
  </div>
  <div class="half bottom-left top-right">
    <p>Five days of lectures, workshops and special programs in different locations <strong>to discuss Diversity</strong> </p>
  </div>
</div>

<h1>Product launches</h1>

<div class="row">
  <div class="full bottom-right top-left">
    <p class="destaque">More than a dozen product launches in retail and food service including...</p>
    <p>New LIZA Mayonnaise flavors <br>
    New Pomarola, Elefante and Tarantela-branded tomato products<br>
    Our new Genuine baking cocoa range<br>
    New Nutron Livelle and Proobefef Resist animal nutrition ranges</p>
  </div>
</div>
