<h2> </h2>
<p>This report has been prepared in accordance with the reporting framework established by the Global Reporting Initiative (GRI), a recognized authority in sustainability reporting, and is our first report based on the GRI Standards, using the Core option.<span class="gri">GRI 102-54</span></p>
<p>The report contains data for Cargill Alimentos Ltda. and its primary subsidiaries in Brazil, including Cargill Agrícola S.A., Banco Cargill and Cargill Animal Nutrition, for the period from January 1 to December 31, 2017, as well as information about the market and trends in the first half of 2018. <span class="gri">GRI 102-45, 102-50</span></p>
<p>Published annually in both Portuguese and English, our reports are addressed to all our stakeholders and are designed to provide information in a transparent and objective manner, describing our strategic agenda and our positive and negative social and environmental impacts.<span class="gri">GRI 102-52</span></p>
<p>Any questions, suggestions or requests for further information about our Sustainability Report 2017 can be sent by e-mail to <a href="mailto:assuntos_corporativos@cargill.com"><span class="T76">assuntos_corporativos@cargill.com</span></a>            <span class="gri">GRI 102-53</span></p>

        <h1>Materiality</h1>
        <p>The materiality process used to inform the content for our Sustainability Report 2017 elicited inputs from external stakeholders in a survey on the topics in Cargill’s sustainability strategy.</p>
        <p>Over a period of two months, an online survey was taken by employees and external stakeholders, including suppliers and corporate responsibility, environment and governance professionals. We also held interviews with industry experts and nongovernment organizations. This structured stakeholder survey helped us to map our priority topics based on the three pillars of our strategy: 1. Nourish the world; 2. Protect our planet and 3. Enrich our communities.  Learn more about our strategy in <a href="be-the-most-trusted-partner.html#">Sustainability management</a>. <span class="gri">GRI 102-40, 102-43</span></p>
        <p>Our Corporate Affairs Department validated the most material topics and their disclosures against the company’s global standards, in a prioritizing exercise. Our businesses and functions each provided a list of their stakeholders, and Corporate Affairs then prepared a consolidated list of stakeholders to be surveyed for the materiality process.<span class="gri">GRI 102-42</span></p>
        <!-- <fieldset data-alert="Arte em desenvolvimento"> -->

            <table class="left">
            <thead>
                <tr>
        			<th> Pilar de Sustentabilidade <span class="gri">GRI 102-44, 102-46, 102-47</span> </th>
        			<th> COMMITMENTS </th>
        			<th> PRIORITIZED TOPICS </th>
        			<th> TOPICS </th>
        		</tr>
            </thead>
            <tbody>

                <tr>
    			<td rowspan="3">

    <strong class="color">Nourishing
              the
              world</strong>
    			</td>
    			<td>

    1.
    Good agricultural
    				practices
    			</td>
    			<td>

    Promoting the use of
    technologies in
    				support
    of good agricultural practices
    			</td>
    			<td>

    -
    			</td>
    		</tr>
    		<tr>
    			<td>

    2.
    Food security and nutrition
    			</td>
    			<td>

    Securing access to food
    through
    				sustainable
    logistics
    			</td>
    			<td>

    416:
    Customer health and
    				safety
    			</td>
    		</tr>
    		<tr>
    			<td>

    3.
    Food system
    				innovation
    			</td>
    			<td>

    Using
    innovative technologies in food production, transportation and
    consumption
    			</td>
    			<td>

    -
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">

    <strong class="color">Protecting
              our
              planet</strong>
    			</td>
    			<td>

    1.
    Land use
    			</td>
    			<td>

    Building
    financial mechanisms that help to protect forests and develop
    agriculture in Brazil
    			</td>
    			<td>

    304:
    Biodiversity
    				307:
    Environmental compliance
    				411:
    Rights of indigenous
    				and
    traditional peoples
    			</td>
    		</tr>
    		<tr>
    			<td>

    2.
    Water resources
    			</td>
    			<td>

    Water
    conservation (reduce impacts from water withdrawal and ensure
    effluents are in a condition to be discharged into water bodies)
    			</td>
    			<td>

    303:
    Water
    				306:
    Effluents and waste
    			</td>
    		</tr>
    		<tr>
    			<td>

    3.
    Climate change
    			</td>
    			<td>

    Reducing greenhouse gas
    emissions
    				intensity
    in our processes, facilities and transportation
    			</td>
    			<td>

    305:
    Emissions
    			</td>
    		</tr>
    		<tr>
    			<td>

    4.
    Suppliers and rural producers
    			</td>
    			<td>

    Evaluating
    the sustainability performance of suppliers and farmers
    			</td>
    			<td>

    411:
    Rights of indigenous
    				and
    traditional peoples
    				412:
    Human rights assessment
    				414:
    Supplier social assessment
    			</td>
    		</tr>
    		<tr>
    			<td rowspan="4">

    <strong class="color">Enriching
              our
              communities</strong>
    			</td>
    			<td>

    1.
    Supporting projects
    				with
    social and
    				environmental
    impact
    			</td>
    			<td>

    Developing
    projects that increase access to safe, healthy and sustainable
    food
    			</td>
    			<td>

    413:
    Local communities
    			</td>
    		</tr>
    		<tr>
    			<td>

    2.
    Volunteer work in local communities
    			</td>
    			<td>

    Strengthening
    partnerships with other organizations with a focus on community
    development
    			</td>
    			<td>

    413:
    Local communities
    			</td>
    		</tr>
    		<tr>
    			<td>

    3.
    Health & safety
    			</td>
    			<td>

    Creating
    innovative solutions that change the way we work to enhance the
    health and safety of our employees
    			</td>
    			<td>

    403:
    Occupational health
    				&
    safety
    			</td>
    		</tr>
    		<tr>
    			<td>

    4.
    Employees
    			</td>
    			<td>

    Providing a safe and
    inclusive work
    				environment
    			</td>
    			<td>

    406:
    Non-discrimination
    				407:
    Freedom of association and collective
    				bargaining
    				408:
    Child labor
    				409:
    Forced or compulsory labor
    			</td>
    		</tr>
    	</tbody>
    </table>
    <!-- </fieldset> -->

    <h1>Credits</h1>

<p><strong>EDITORIAL BOARD</strong><br>
  <strong>Communications</strong> <br>
  Lívia Souza<br>
  Luciane Reis</p>

<p><strong>Sustainability</strong><br>
  Álvaro Modesto<br>
  Tainah Villela<br>
  Yuri Feres</p>

<p><strong>Images</strong><br>
 Cargill Image Bank</p>

<p><strong>GRI Consulting, writing, editing and design </strong><br>
  Report Sustentabilidade<br>
  <a href="http://www.reportsustentabilidade.com.br">www.reportsustentabilidade.com.br</a></p>

  <p><strong>Translation</strong> <br>
      Latin America Translation</p>

<h1>Corporate information</h1>
<p>Avenida Chucri Zaidan, 1240<br>
  CEP: 04711-130<br>
  São Paulo (SP), Brasil<br>
  Telefone: (+55 11) 5099 3311<br>
  <a href="http://www.cargill.com.br">www.cargill.com.br</a></p>
