<h2>&nbsp;</h2>
<p>Corporate responsibility permeates everything we do at Cargill, from our relations with farmers to our post-consumer initiatives. This also helps us to deliver on our commitment to nourishing the world in a safe, healthy and sustainable way, while inspiring good practices and thriving alongside our partners, customers and communities.</p>
<p>Progress in the last decade has generated significant results across our supply chains. We use a range of metrics, protocols and indexes to track data and take a more strategic approach to business management, in line with our global practices and commitments.</p>
  <div class="row">
    <div class=" twothird full top-left bottom-right">
      <h3>Cargill’s Guiding Principles</h3>
      <ol class="destaque">
        <li>We obey the law</li>
        <li>We conduct our business with integrity</li>
        <li>We keep accurate and honest records</li>
        <li>We honor our business obligations</li>
        <li>We treat people with dignity and respect</li>
        <li>We protect Cargill’s information, assets and interests</li>
        <li>We are committed to being a responsible global citizen</li>
      </ol>
    </div>
    <div class="decor onethird full bottom-left top-right ">
      &nbsp;
      &nbsp;
    </div>
  </div>

<h3>Risk management</h3>
<p>Our risk management system is another successful componente of our management approach. By anticipating risks with the potential to impact our operations, we are able to make better-informed, more agile and more responsible decisions. The primary risks we monitor are: credit risk; foreign-exchange and interest rates; commodities prices; and climate change.</p>

        <h1>Corporate Governance <span class="gri">GRI 102-18</span></h1>
        <p>Cargill’s global leadership is the responsibility of our Executive Board, which is formed by our CEO and eight executive officers. In 2017, two of our executives were women.</p>
        <p>The Executive Board oversees the execution of our overall strategy, and is supported by five permanent committees as well as ad hoc temporary committees to address emerging issues. Cargill executives from around the world, including Brazil, form corporate committees that ensure specific business matters in each location are taken into account in developing global initiatives and programs.</p>

        <p><strong class="color">Business Ethics Committee</strong> – This committee ensures compliance with our Code of Conduct and manages brand and reputation risk. It also provides guidance on government policy and stakeholder engagement to ensure we do business with integrity and transparency.</p>
        <p><strong class="color">Human Resources Committee</strong> – This committee supports our efforts to attract, select and manage talent in a way that promotes diversity and inclusion. It also discusses and reviews our policies on compensation, benefits, labor practices, pension fund investments and career transition initiatives.</p>
        <p><strong class="color">Financial Risk Committee</strong> — This committee develops risk management policies, standards and procedures to ensure the business remains sustainable in the face of economic and financial factors with the potential to impact our operations.</p>
        <p><strong class="color">Occupational Health & Safety Committee</strong> – This committee monitors indicators related to employee health and safety, and supports initiatives to ensure compliance with and improve safety standards both within and outside the company.</p>
        <p>Our leadership team in Brazil is supported by three local committees.</p>

        <ul>
            <li>
                <p><strong class="color">Health Committee</strong> – This committee helps to strengthen and connect our health-related initiatives at Cargill, such as rewards and compensation, health clinics and prevention campaigns. Through a range of initiatives developed in partnership with our Human Resources Department, the Committee encourages employees to take the reins of their own health.</p>
            </li>
            <li>
                <p><strong class="color">Diversity Committee</strong> – A multidisciplinary group of employees from all levels and functions within the organization, this committee validates company policy on individual uniqueness, initiatives, targets and indicators, and oversees the activities of our Business Resource Group (BRG) - Pride Network, AfroCargill, MOB and CWN Brazil.</p>
            </li>
            <li>
                <p><strong class="color">Sustainability Committee</strong> – Composed of 11 members of senior management, Cargill Brazil’s  Sustainability Committee meets on a quarterly basis and is supported by a range of working groups. In 2017,  the committee focused on three action plans addressing the following issues: Working Hours Management; Occupational Health & Safety, and Land Use</p>
            </li>
        </ul>


        <div class="box right">
            <h2>Ethical Conduct <span class="gri">GRI 102-16</span></h2>
            <p>Ethical business conduct at Cargill has helped us to build a rich legacy of developing and supporting agribusiness and the food industry in Brazil. Our global leadership is built on a daily basis on the pillars of transparency and respect. All business transactions are guided by the principles of fair competition and honesty.</p>
            <p>To ensure our principles and values are adhered to, Cargill’s Code of Conduct outlines our company’s ethical and compliance standards for conducting business throughout the world and serves as a guide for our 150 employees. All employees receive training on the Code when they join the Company, and are responsible for complying with the Code and for preventing, detecting and communicating any violations of applicable laws and regulations or our policies. Our Ethics Open Line is available for employees and third parties to report concerns. <span class="gri">GRI 103-412, 412-2</span></p>
            <p>Cargill has also developed a Supplier Code of Conduct establishing ethics requirements that apply to our entire supply chain.</p>
        </div>

        <h1>Value chain <span class="gri">GRI 102-9, 103-408, 103-409, 103-411</span></h1>
        <p>Cargill’s commitment to ethics and good social and environmental practices extends to our value chain, as we recognize that the quality and safety of our food products is dependent on trusted business relations with suppliers. In addition to our Supplier Code of Conduct, we also have a Buyer’s Code of Ethics containing a set of rules related to procurement.</p>
        <p>Our internal policy is compliant with applicable laws and regulations, and direct purchases of materials are governed by a Supplier Code of Ethics, which must be formally accepted as a condition of doing business with the Company. We also have a Buyer’s Code of Ethics containing a set of rules related to procurement.</p>
        <p>We also have a Buyer’s Code of Ethics containing a set of rules related to procurement. All agreements contain clauses establishing rules on compliance and human rights, including the rights of indigenous peoples. <span class="gr">GRI 412-1, 412-3</span></p>
        <p>In addition, suppliers should not, under any circumstances, have, directly or indirectly, child labor and/or work conditions analogous to slavery. Failure to comply with these criteria results in legal breach of contract.</p>
        <p>As a signatory of the Business Pacct against Roadside Sexual Exploitation of Children and Adolescents, Cargill addresses sexual exploitation of children as a risk inherent to some of our suppliers. To mitigate this risk, we support a program called Na Mão Certa, in which truck drivers receive guidance on combating these practices. An initiative run by NGO Childhood  Brazil, the program aims to engage governments, businesses and third-sector organizations in combating the sexual exploitation of children and adolescents on Brazil’s roads. In 2017 we organized three different campaigns at six business units, with more than 640 truck drivers participating. In 2018 we plan to expand initiatives to all locations where we are present, and to have at least one person trained and qualified to run Na Mão Certa campaigns in each of these communities. <span class="gr">GRI 408-1, 414-2</span></p>

        <h3>Partnerships</h3>
        <p>As part of the global community, Cargill recognizes the importance of its role in helping to address some of the world’s most significant challenges. We partner with governments and social welfare organizations to address concerns related to human rights, including forced labor, human trafficking and other illegal practices.<span class="gri">GRI 103-412</span></p>
        <p>Among the potential negative social impacts from our supply chain, we have identified risks that include slave labor, illegal logging, and non-compliance with environmental law in the acquisition of materials sourced from farmers.</p>
        <p>Our central procurement, invoicing and receipt management system automatically blocks all employers listed in the Brazilian Ministry of Employment’s “slave labor blacklist”. We are also a signatory of the National Pact to Eradicate Slave Labor and an institutional partner of InPACTO, an organization that works to unite the private sector and civil society organizations in preventing and eradicating slave labor. The system also screens for any transactions with individuals and/or entities on the IBAMA blacklist. <span class="gri">GRI 412-3, 414-2</span></p>
        <p>In 2016 we established a global partnership with NGO World Resources Institute (WRI) to strengthen sustainability across supply chains and provide greater assurance and transparency to our partner’s environmental practices. WRI has developed a platform to compile data on deforestation, and Cargill Brazil is contributing to make available information more robust and accurate for the Company, our industry and other stakeholders. Our <a href="https://www.cargill.com.br/pt_BR/proteção-do-planeta" target="_blank" rel="noopener noreferrer">2017 Report on Forests</a>, available on the Cargill website, contains further information on the subject.<span class="gri">GRI 102-12, 304-2</span></p>

        <h2>Social screening <span class="gri">GRI 103-414</span></h2>

        <p>Cargill uses Vendor Management Office (VMO) capability assessment and Request for Information (RFI) forms in our vendor screening systems to identify and assess actual or potential negative impacts from supply chains.</p>
        <p>Conducted by our Strategic Sourcing function, these screening assessments do not include certain situations in which supplier contracts are concluded directly with the relevant functions, farmers, trucking companies and third parties. As part of this, a total of 2,120 new suppliers were screened against human rights requirements in 2017, 49% more than the 1,418 suppliers screened in 2016. <span class="gri">GRI 414-1</span></p>
        <p>The process includes actions to prevent, mitigate or contain these impacts, such as: escalating information to our supplier committee, obtaining a legal opinion, or blocking the relevant supplier.</p>
        <p>The supplier capability assessment evaluates whether suppliers have formal policies and whether these are extended to their suppliers. Request for information forms include information on occupational health and safety, air emissions, effluent management, inventory and materials handling, soil and groundwater protection, biomass, waste management and other aspects related to eco-efficiency, protected areas, water-stressed areas, eradication of child and forced labor, and eradication of child sexual exploitation. Indicators measuring our supplier’s sustainability performance are updated on a quarterly basis.</p>
        <p>Our strategy is supported by our Sustainability Committee, which uses appropriate indicators to help improve performance. In the third four-month period of 2017/2018, 72% of our suppliers were screened for sustainability (against a target of 75%). Among new suppliers, 56% of suppliers receiving Requests for Proposal were compliant with sustainability requirements, and 100% of selected suppliers met established requirements. <span class="gri">GRI 414-1</span></p>
        <!-- <fieldset data-alert="Arte em desevolvimento">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td> <a id="_Hlk517166614">[texto primeira linha]</a> Suprimentos, equipamentos e conhecimento para os produtores Armazenagem e transporte globais Processamento de commodities para alimentação humana, nutrição animal e combustível Ingredientes
                    para distribuidores e companhias de bens de consumo Alimentos vendidos e em restaurantes [texto segunda linha] Obtenção de ingredientes para nutrição animal Animal alimentado – produção desenvolvido e transformação em produtos proteicos
                    Alimentos vendidos por meio dos diversos canais -Agriculture Supply Chain - Animal Nutrition &amp; Protein - Food Ingredients &amp; Bioindustrials - Transportation, Energy &amp; Financial Services </td>
            </tr>
        </table>
        </fieldset> -->
        <h2>Consumer health and safety <span class="gri">GRI 103-416</span></h2>

        <p>Cargill has a clear commitment on food safety: to protect people and animals from diseases or injuries caused by the handling or consumption of our food products.</p>
        <p>Our food safety policy is based on: the Codex Alimentarius standards and principles for human and animal food; the principles of the World Organization for Animal Health (OIE) on matters related to animal health; and the principles of the International Plant Protection Convention (IPPC) on matters related to plant health.</p>
        <p>We use a scientific approach based on food safety risks, and systems that prioritize actions to prevent biological, chemical and physical damage. Cargill’s approach includes robust programs covering hygiene, Hazard Analysis and Critical Control Points (HACCP), and defined management responsibilities.</p>
        <p>Food safety practices, regulations and regulatory oversight vary from one country to another. As a global company, our food safety system has been designed to protect the integrity of local, regional and global supply chains by generally exceeding local requirements. Our approach covers prevention, intervention and response to help improve public health.</p>
        <p>From a regulatory standpoint, our primary commitment is to complying with applicable regulations and ensuring our team is up to date on regulatory requirements. As part of this commitment, we have established a goal of providing 100% of our team with up-to-date information on food regulations applicable to our products and businesses through regulatory training on priority topics such as: food contamination, labeling and nutrition claims, expiration dates, and allergens.</p>

        <h1>Sustainability management</h1>
        <p>Cargill’s Sustainability Strategy 2020 is designed to help the company achieve recognition as the most trusted source of sustainable products and services. This strategy has begun to deliver results and recognition. In November 2017 Cargill ranked among the best companies in the agribusiness sector for the second year running in <em>Guia Exame de Sustentabilidade</em>. </p>

        <div class="row">
          <div class="half full bottom-left top-right">

            <p class="destaque"><strong>Cargill</strong> ranked <strong class="bigger">among the best</strong> companies in agribusiness for the second consecutive year</p>
          </div>
          <div class="decor quarter bottom-right top-left">
            &nbsp;
          </div>
        </div>
        <p>Focused on governance and strategic partnerships, Cargill’s approach to sustainability, communications and education in 2017 targeted efforts at priority issues across three pillars: Nourishing the world, Protecting our planet, and Enriching our communities. Supporting decision making at Cargill, our Sustainability Committee is part of our governance structure and is composed of 11 members of senior management. Cargill has also committed to achieve improvement on key issues affecting our business (<em>see the table opposite</em>).</p>

        <!-- <fieldset data-alert="diagramação com fotos"> -->
        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <thead>
              <tr>
                  <th> Pillars </th>
                  <th> Goals </th>
                  <th> Priority issues </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td rowspan="3"> <strong class="color">1. Nourishing the world</strong> </td>
                  <td rowspan="3"> Improving food security and nutrition, advancing food system innovation and strengthening farmer livelihoods.</td>
                  <td> Food security and nutrition </td>
              </tr>
              <tr>
                  <td> Food system innovation </td>
              </tr>
              <tr>
                  <td> Good agricultural practices </td>
              </tr>
              <tr>
                  <td rowspan="4"> <strong class="color">2. Protecting our Planet</strong> </td>
                  <td rowspan="4"> Improving land use, advancing climate solutions and protecting water resources. </td>
                  <td> Land use </td>
              </tr>
              <tr>
                  <td> Climate change </td>
              </tr>
              <tr>
                  <td> Suppliers </td>
              </tr>
              <tr>
                  <td> Water resources </td>
              </tr>
              <tr>
                  <td rowspan="5"> <strong class="color">3. Enriching our communities</strong> </td>
                  <td rowspan="5"> Strengthening economic and community development and driving lasting impact through employee engagement. </td>
                  <td> Financial and management support for social-impact programs</td>
              </tr>
              <tr>
                  <td> Volunteer work in local communities </td>
              </tr>
              <tr>
                  <td> Employees </td>
              </tr>
              <tr>
                  <td> Health & Safety </td>
              </tr>
              <tr>
                  <td> Customers </td>
              </tr>
            </tbody>
        </table>
        <!--</fieldset>
         <fieldset>
            <p>Arte colada, dados abaixo </p>
            <p>Cargill foi reconhecida entre as melhores do agronegócio pelo segundo ano consecutivo</p>
        </fieldset> -->

        <p>We assess the performance of our strategy in periodic Sustainability Committee meetings, against the following indicators and targets.</p>

        <table border="0" cellspacing="0" cellpadding="0" class="left" >
            <thead><tr>
                <th colspan="6">SUSTAINABILITY COMMITTEE INDICATORS KPIs</th>
            </tr></thead>
            <tr>
      			<td rowspan="2">

      ISSUE
      			</td>
      			<td rowspan="2">

      STRATEGIC
      OBJECTIVE
      			</td>
      			<td rowspan="2">

      Target
      			</td>
      			<td colspan="3">

      Performance<sup>1</sup>
      			</td>
      		</tr>
      		<tr>
      			<td>

      3Q
      15/16
      			</td>
      			<td>

      3Q
      16/17
      			</td>
      			<td>

      3Q
      17/18
      			</td>
      		</tr>
      		<tr>
      			<td>

      Climate
      change
      			</td>
      			<td>

      Reduce
      greenhouse gas emissions
      			</td>
      			<td>

      10%
      			</td>
      			<td>

      -12.50%
      			</td>
      			<td>

      -1.33%
      			</td>
      			<td>

      8.99%
      			</td>
      		</tr>
      		<tr>
      			<td rowspan="2">

      Energy
      			</td>
      			<td>

      Improve
      energy efficiency
      			</td>
      			<td>

      5%
      			</td>
      			<td>

      3.51%
      			</td>
      			<td>

      2.65%
      			</td>
      			<td>

      9.03%
      			</td>
      		</tr>
      		<tr>
      			<td>

      Increase
      the use of renewable energy
      			</td>
      			<td>

      18%
      			</td>
      			<td>

      89%
      			</td>
      			<td>

      91.63%
      			</td>
      			<td>

      92.77%
      			</td>
      		</tr>
      		<tr>
      			<td>

      Water
      			</td>
      			<td>

      Increase
      water efficiency
      			</td>
      			<td>

      5%
      			</td>
      			<td>

      -4.20%
      			</td>
      			<td>

      1.27%
      			</td>
      			<td>

      6.35%
      			</td>
      		</tr>
      		<tr>
      			<td>

      Health
      & Safety
      			</td>
      			<td>

      Eliminate
      reportable injuries related to the health and safety of employees
      and contractors
      			</td>
      			<td>

      0.10
      			</td>
      			<td>

      -
      			</td>
      			<td>

      -
      			</td>
      			<td>

      0.07
      			</td>
      		</tr>
      		<tr>
      			<td>

      Communities
      			</td>
      			<td>

      Improve
      our relations with communities through engagement and initiatives
      to support their economic and social development
      			</td>
      			<td>

      >70%
      			</td>
      			<td>

      94%
      			</td>
      			<td>

      95%
      			</td>
      			<td>

      90%
      			</td>
      		</tr>
      		<tr>
      			<td>

      Suppliers
      			</td>
      			<td>

      Assess
      our suppliers<sup>1</sup> -
      economic and social sustainability performance
      			</td>
      			<td>

      75%
      			</td>
      			<td>

      84%
      			</td>
      			<td>

      97%
      			</td>
      			<td>

      72%<sup>2</sup>
      			</td>
      		</tr>
            <caption>
              1 These figures are for the third quarter of each crop year and are measured against the relevant target. <br>
              2 The baseline has changed as a result of an annual review of category and supplier segments and the standard approach to supplier onboarding and offboarding. Despite the percent reduction, the overall rating improved. </caption>
        </table>


        <h3>Cargill policy on forests <span class="gri">GRI 103-304</span></h3>
        <p>Cargill has supported the New York Declaration on Forests since 2014 and, as part of our commitment to end deforestation in our supply chains, in 2015 we launched the Cargill Policy on Forests. The Policy expresses our global commitment to protect the areas with the greatest biodiversity on our planet by halving deforestation by 2020 and ending it completely by 2030. In 2016 our teams began measuring and monitoring deforestation in the soy supply chain in Brazil.</p>
        <p>Brazil’s soybean supply chain is among the company’s priorities and is addressed by a dedicated action plan for suppliers. The first step is registration with the Rural Environmental Registry (CAR), an important step in achieving compliance wit the Brazilian Forest Code. The goal is to raise suppliers’ awareness about the benefits of achieving environmental compliance, and to point them the way.</p>
        <p>A range of folders, booklets and banners were developed for our campaign, and in 2017 we developed a video series providing step-by-step instructions for farmers. The five videos are available on the <a href="https://www.youtube.com/channel/UCB4RvfrWUqDrpPwLFTk2UXg/search?query=CAR" target="_blank" rel="noopener noreferrer">Cargill Brazil YouTube channel</a>.</p>


        <h3 class="color">Brazilian Coalition on Climate, Forestry and Agriculture</h3>
        <p class="color">A multisectoral movement formed by business associations, companies and civil society organizations seeking to advance and achieve synergies in the protection, conservation and sustainable use of forests. As a member of the coalition and a leader of the working group to implement the Brazilian Forest Code and Sustainable Logistics, Cargill participates in discussions on sustainable agriculture and mitigating and adapting to climate change in a new, low-carbon economy.</p>

        <h2>Sustainable soybean production</h2>

        <h3>Triple S Program</h3>
        <p>Since 2010, our Triple S (Sustainably Sourced & Supplied) certification program has assessed suppliers against a range of indicators in a stringent benchmarking program. After a reformulation in 2015, the program was recognized by the European Feed Manufacturers' Federation (FEFAC). This innovative certification program is focused on traceability, continual improvement and sustainability. Actions are prioritized and implemented on certified farms, engaging farmers on a journey in which sustainable practices are encouraged and recognized. The program, to which farmers can subscribe free of charge and on a voluntary basis, aims to provide solutions to increase social and environmental responsibility in each stage of the supply chain. In 2016 the program partnered with Instituto BioSistêmico (IBS) to provide technical assistance to farmers. The program was expanded to Goiás in 2017 and is now present in four states (Paraná, Mato Grosso, Pará and Goiás), with a total of 163 properties and more than 394,000 hectares of farmland currently being monitored. Positive program performance in the last 18 months has translated into both qualitative results—including a reduction in fines following labor audits—and quantitative results—with progress across the three pillars of sustainability. Internal indicators on soil and water management, pesticide use and waste disposal, for example, have shown improvement in each dimension: from 43.60% to 51.37 % in the environmental dimension; from 47.48% to 52.56% in the social dimension; and from 49.48% to 54.81% in the production dimension (economic pillar).</p>

        <h3><em>Soja</em> Plus</h3>
        <p>This is a free and voluntary educational program to help Brazilian farmers achieve continuous improvement in the economic, social and environmental management of their properties, preparing them for the sustainable farming practices that markets now demand. The initiative was created in 2011 by a partnership between ABIOVE and the Mato Grosso Soybean and Corn Farmers’ Association (APROSOJA-MT) and is present in five states: Mato Grosso, Mato Grosso do Sul, Minas Gerais, Bahia and Goiás.</p>
        <p>Cargill provides funding to <em>Soja Plus</em> in Minas Gerais, where a collaboration has been established with the Federal University of Viçosa (UFV) and the Minas Gerais Agriculture Federation (FAEMG); and in Goiás, where at year-end 2017 the program was expanded into a pilot involving 31 farmers, all recommended by the company.</p>

        <h3>Soy Working Group and Moratorium</h3>
        <p>Cargill actively participates in meetings of the Soy Working Group (GTS), formed by members of the Brazilian Association of Vegetable Oil Producers (ABIOVE), the Brazilian Association of Cereal Exporters (Anec), the Ministry of the Environment, Banco do Brasil and other civil society organizations, such as Greenpeace and WWF-Brazil. The Soy Moratorium is an industry agreement signed by the group in 2006 whereby companies pledged not to market or finance soybeans produced in areas in the Amazon that have been deforested post-2008.</p>
        <p>Cargill has been audited annually since then and our 2017 report was positively assessed by the group.</p>

        <h3><em>Cerrado</em> Working Group</h3>
        <p>Created in 2017, the Cerrado Working Group (GTC) brings together Brazilian and international NGOs, companies, governments, banks and consumers. In its first year, it was led by Cargill in partnership with WWF-Brazil. The multisectoral group aims to eradicate deforestation in the Cerrado and to reconcile soybean production with environmental, economic and social interests. To achieve this, the WG has explored a variety of solutions and options to address existing problems.</p>

        <h3 class="color">Green Grain Protocol </h3>
        <p class="color">Signed in 2014, this voluntary agrément between the government of Pará, the Public Prosecutors’ Office and the private sector aims to eliminate deforestation in Pará’s main production chains. It establishes requirements and guidelines to ensure business transactions between companies and farmers in Pará are environmentally responsible to prevent grains from being sourced from illegally deforested areas. Cargill strengthened its procedures in 2014 to better deliver on our commitment.</p>

        <h2>Sustainable cocoa production</h2>
        <p>Demand for chocolate grows at the same rate as the global population, between 2% and 3% a year. This attracts investments to the sector and has led to growth in cocoa production in Latin America. Brazil has the land, climate, technology, genetics capabilities, and investment capacity to become a major player in this sector. Cargill has continued to invest in expanding cocoa production in Pará and rebuilding production in Bahia, working with the Brazilian Association of Cocoa Processing Companies (AIPC). Investing in cocoa production means developing better-quality products for customers, and enhancing farming methods brings benefits both to the company and to the cocoa-producing community around the world.</p>

        <h3><em>Cacau</em> Forest</h3>
        <p>Developed in partnership with The Nature Conservancy (TNC) and the Ministry of Agriculture, the Cacau Floresta program aims to rehabilitate degraded areas in Pará though agroforestry. Through this model, Cargill hopes to expand cocoa production without felling a single tree in the state. The project was initiated in 2013 in the region of São Félix do Xingu, in a collaboration with the Cocoa Plan Executive Committee (CEPLAC) and the São Félix do Xingu Smallholders and Small Business Cooperative (CAPPRU).</p>
        <p>To date, the initiative has assessed 70 properties and benefited 123 family farmers in an area of approximately 450 hectares, with an average yield of 900 kg per hectare.</p>

        <h3>Tuerê Project</h3>
        <p>In Novo Repartimento, Pará, Cargill runs the Tuerê Program in partnership with Solidaridad Network, CEPLAC and the Municipal Department of Agriculture. The project operates within the largest smallholder settlement in Latin America, home to around three thousand families.</p>
        <p>Drawing on experience from similar projects involving 13 crops in 37 countries, NGO Solidariedad selected farmers to undergo assessments and receive support through the Horizonte Rural platform, which identifies and develops solutions for key production bottlenecks, with the assessment indicating the need for technical assistance, environmental compliance, and better market access.</p>
        <p>The program has delivered results that include better produce quality, yields and lower greenhouse gas emissions. In 2017, 96 farmers participated in the continued technical assistance program and the number is expected to reach 150 farmers by December 2018.</p>

        <h3>Cargill Cocoa Promise and UTZ</h3>
        <p>A commitment that has permeated our operations at Cargill in the last ten years, the Cocoa Promise has strengthened our efforts to help develop cocoa-producing farms in a sustainable way. In 2012 we introduced UTZ certification in Brazil, which attests that agricultural products are produced to stringent standards, from crop management to compliance with environmental and labor legislation.</p>
        <p>Cargill ended 2017 with 90 certified farms in Bahia, Espírito Santo and Pará. Our goal is to reach 200 properties by 2019. To achieve this, the entire supply chain has been engaged around improving living conditions for farmers, providing optimal environmental conditions and delivering superior produce quality.</p>


        <h1>Fundação Cargill <span class="gri">GRI 103-413</span></h1>
        <p>With a mission of promoting healthy, safe, sustainable and affordable food—from farms to consumers—for 45 years Fundação Cargill has developed and supported projects aimed at social transformation and value creation in the food supply chain. Geared to communities surrounding our operations, the Foundation’s projects involve volunteers from the company, civil society organizations, institutions and associations.</p>
        <p>In 2017 Fundação Cargill ran programs in 12 municipalities, benefiting 37,960 people. Around 7% of the 176 operations within the scope of this report were benefited by the programs. <span class="gri">GRI 413-1</span></p>
        <p>Most projects are selected through public calls for proposals. Six initiatives received management and financial support of up to R$ 100,000 in 2017, benefiting more than 459,000 people. The call for proposals in 2018 selected seven projects out of 168 candidates, which will collectively benefit 15,988 people. The Foundation will continue to accept proposals through December 2018 for projects with a social impact within a radius of up to 150 kilometers from Cargill's operations and offices. Selected projects will receive from R$ 50,000 to R$ 200,000 in funding.</p>

        <table border="0" cellspacing="0" cellpadding="0" class="left">
            <tr>
                <th colspan="3"> 2017 </th>
            </tr>
            <tr>
                <th> Project </th>
                <th> Institution  </th>
                <th> Location </th>
            </tr>
            <tr>
                <td> <strong class="color">Adubo Sustentável</strong> </td>
                <td> Associação dos Pequenos Produtores do Vale do Limoeiro e Adjacências (APPVL) </td>
                <td> Ilhéus (BA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Merenda Escolar e as cidades: responsabilidade de todos </strong></td>
                <td> Comunitas </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Programa Oficina Educativa</strong> </td>
                <td> Verde Vida </td>
                <td> Chapecó (SC) </td>
            </tr>
            <tr>
                <td> <strong class="color">Rede de Atores para a Redução de Perdas e Desperdícios de Alimentos no Brasil</strong> </td>
                <td> WRI Brasil </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Super Vitaminados</strong> </td>
                <td> Instituto de Desenvolvimento de Talentos </td>
                <td> Curitiba (PR) </td>
            </tr>
            <tr>
                <td> <strong class="color">Viveiro Orgânico</strong> </td>
                <td> Ação Moradia </td>
                <td> Uberlândia (MG) </td>
            </tr>
            <tr>
                <th colspan="3"> 2018 </th>
            </tr>
            <tr>
                <th> <strong class="color">Projeto</strong> </th>
                <th> Instituição </th>
                <th> Localidade </th>
            </tr>
            <tr>
                <td> <strong class="color">Bota na Mesa</strong> </td>
                <td> Fundação Getulio Vargas </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Comer na Escola Serve para quê?</strong> </td>
                <td> Avisa Lá </td>
                <td> Itapira (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Cozinha Experimental</strong> </td>
                <td> Lar das Moças Cegas </td>
                <td> Santos (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Fazenda Aquapônica Urbana</strong> </td>
                <td> Associação Reciclázaro </td>
                <td> São Paulo (SP) </td>
            </tr>
            <tr>
                <td> <strong class="color">Frutos do cerrado</strong> </td>
                <td> Instituto Avançado de Ensino Superior de Barreiras </td>
                <td> Barreiras (BA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Pão para viver (cozinha experimental)</strong> </td>
                <td> Viver Ações Sociais </td>
                <td> Chapecó (SC) </td>
            </tr>
            <tr>
                <td> <strong class="color">Programa de Educação Alimentar e Nutricional</strong> </td>
                <td> Universidade Federal de Goiás (UFG) </td>
                <td> Goiânia (GO) </td>
            </tr>
            <tr>
                <td> <strong class="color">Projeto Alto Arapiuns de Segurança Alimentar e Conservação Ambiental</strong> </td>
                <td> Aeroclube de Voo e Vela CTA </td>
                <td> Santarém (PA) </td>
            </tr>
            <tr>
                <td> <strong class="color">Sabores e Conexões</strong> </td>
                <td> ONG Arrastão Movimento de Promoção Humana </td>
                <td> São Paulo (SP) </td>
            </tr>
        </table>

        <h2>Social Impact Thesis on Food </h2>
        <p>In partnership with social project accelerator Artemísia, in October Fundação Cargill launched the Social Impact on Food Assessment (Tese de Impacto Social em Alimentação), an unprecedented initiative to identify opportunities in the food industry with a focus on low-income communities. The project is part of a partnership between the two organizations to improve people's quality of life.</p>
        <p>The thesis provides relevant information on the challenges faced by low-income communities and the industry in Brazil; and points to opportunities for the development of social-impact businesses that can make a positive contribution to society. More than just providing data, the study has provided valuable insights for the industry, supporting the development of a new generation of social-impact businesses with solutions focused on the food industry.</p>
        <p>One of the selected businesses was startup Sumá in Balneário Camboriú (SC), which offers a fair marketing platform for family farms: the solution connects farmers directly to food buyers, increasing their margins. The entrepreneurs select farmers with high-quality produce and integrate them on the platform. In a pilot involving 30 farmers in 10 states, the cost of produce purchased via the Sumá platform was reduced by 30% in relation to the regular market. Farmers who fail the screening assessment also receive training.</p>
        <h3>Food in Focus</h3>
        <p>Our Food in Focus Award—which recognizes innovative projects in healthy nutrition at universities—is organized annually by the Cargill Foundation in partnership with Enactus, an international non-profit organization that promotes social enterprise in 1,700 universities in 36 countries.The winner in 2017 was a seedling program run by IFCE Iguatu (the Federal Institute for Education, Science & Technology in Ceará), which will compete in the international phase of the Enactus championship in London. The group developed two technologies to improve irrigation and water efficiency. Through these technologies, 15 families improved their average income by 82%, while also embracing new roles as entrepreneurs. Ranking second was Amitis, a project developed by students at the Federal University of Alagoas. They developed a hydroponic vegetable garden system consisting of a suspended frame made of wood and PET bottles, providing the community with access to environmentally friendly vegetables at more affordable prices.</p>
        <p>In 2018, 15 initiatives were selected from a total of 40 candidates. These teams receive mentoring and financial support to develop projects focused on family farming, reducing food waste, providing food education and/or promoting entrepreneurism in the food supply chain. The results will be announced in July.</p>
        <p>In 2017 the project website, <a href="http://www.alimentacaoemfoco.org.br">www.alimentacaoemfoco.org.br</a>, was redesigned and the project increased its presence on digital media. The website provides exclusive content and complete coverage including trends, food-related articles, and events, with an average of 8,400 visits per month.</p>

        <div class="box right">
            <div class="row">
              <div class="twothird noborder">
                  <h2>NutriQuiz</h2>
                <p>Launched in 2016, the NutriQuiz mobile app is an opportunity for Fundação Cargill to interact with stakeholders and identify material issue needing to be addressed in society. The free trivia app contains a total of 400 questions and answers related to nutrition education, using an entertaining approach to provide information about balanced nutrition. A “Nutriquiz Challenge” was also launched to raise awareness among Cargill employees about making better food choices and to enhance their knowledge about the subject. The internal contest awarded prizes to the 10 employees with the highest scores during a specified period, and helped to recruit 432 new app users.</p>
              </div>

                <div class="half noborder">
                  <picture>
                    <source type="image/webp" srcset="../img/Nutriquiz.webp">
                    <img src="../img/Nutriquiz.jpg" alt="Nutriquiz">
                  </picture>
                </div>

        </div>
        </div>
