<h1>Innovation and technology</h1>
<p>Through innovation and technology, Cargill does the ordinary extraordinarily well. We continually invest in more efficient processes and management models, and work to develop ingredients and products supporting healthier and more sustainable nutrition.</p>
<p>A highlight in 2017 was the launch of our Lévia+ range, an oils and fats portfolio solution developed in collaboration with the State University of Campinas (UNICAMP). The new range uses innovative, patented technology to reduce saturated fat content without an increase in trans fats. The product is ideally suited as a filling ingredient for cookies, panettones, cakes, ice cream, chocolate bonbons, and other products.</p>
<p>In addition, the product incorporates traditional raw materials sourced from the market, produced from soybeans and cotton seeds.</p>
<p>Cargill operates two innovation centers in São Paulo State (Campinas and Mogi Mirim). The Cargill Innovation Center for Latin America, in Campinas, researches and develops ideas that benefit customers and help to integrate our food ingredients business units continent-wide. A total of 81 B2B projects were developed in 2017, including 41 projects directly with customers, 11 Innovation Days; and 32 customer visits.</p>

<p>Cargill also invests in customer and partner relations and new value-adding technologies:</p>

<p><strong>GPS – Farmer relations</strong>: Cargill Brazil is working on an innovative farmer relations platform that will introduce new ways of interacting with farmers. The home-grown system has the potential to be replicated across all our agriculture operations worldwide.</p>
<p><strong>Nutron startup circuit</strong>: Entrepreneurs from 15 agribusiness startups showcased the products they are developing during an event organized in partnership with AgTech Garage, which selected participants based on potential synergies with our Animal Nutrition business. Working with technology startups means we can achieve our goal of delivering the best solutions to customers more effectively and in shorter time frames.</p>
<p>D<strong>igital Business Day</strong>: ​Held in December in São Paulo, this was Cargill Brazil’s first event organized around this theme. More than 120 leaders attended a panel and lectures with executives from several leading companies as guest speakers. Participants experienced an “immersion” in technology, in which they learned about industry best practice and technologies holding promise for the future. The initiative led to the creation of DataViz, in which Cargill employees present project proposals describing ways that data analytics can improve business performance, activities and internal procedures. Following a period of six months of development with technical support from technology experts at Cargill, six finalists were assessed and two projects were selected as winners: one relating to confinement management for animal nutrition, and the other relating to grain volume and quality control.</p>
<p><strong>SAP Technology</strong>: Cargill is currently implementing SAP technology across all business units worldwide. The project will be rolled out in Brazil in the second half of 2018, in an investment of approximately US$ 30 million between 2018 and 2020.</p>

<h2>Production lines</h2>
<p>In 2017 Cargill Animal Nutrition invested more than R$ 35 million in expanding production capacity at our Itapira (SP) plant for our Probeef product range for grazing beef cattle. Following the expansion, which includes dosing bins, a blending system and robotic palletizing units, the plant’s production capacity will be doubled in the second half of 2018.</p>
<p>In an investment of R$ 240 million, our soybean milling plant in Três Lagoas (MS) increased its processing capacity from 2,100 metric tons per day to 3,200 metric tons per day. Production of meal and oil for biodiesel has also increased.</p>

<h2>Progress on the North Route</h2>
<p>Brazil’s North is a strategic corridor for the outbound shipping of grains. Recognizing this, Cargill is developing a project called “North Route” in Pará. We believe these investments will help to make Brazil’s agricultural commodities more competitive in global markets, while providing better economic conditions for farmers. They are also helping to bring sustainability into agribusiness by providing job opportunities and reducing truck traffic in densely populated areas, such as along the roads leading to ports in Brazil’s Southeast—the North Route uses river barges producing extremely low levels of CO<sub>2</sub> emissions.</p>
<p>In 2017, work was completed on the Santarém (PA) grain terminal expansion, in an investment of R$ 240 million to increase annual handling capacity from two to five million metric tons. Much of the added grain volumes are being shipped via the Tapajós River from a new river transshipment terminal that was also delivered in 2017 in the district of Miritituba, in Itaituba (PA), in an investment of approximately R$ 180 million.</p>
<p>For this 300 kilometer section of river, Cargill has invested approximately R$120 million in a fleet of 20 barges and three towboats with a capacity to transport three million metric tons per year.</p>
<p>Through these investments, the region is set to become one of Brazil’s most important grain export corridors in the coming years. Cargill is also building a new port terminal in Capim Bay, Abaetetuba, Pará. The findings from a social and environmental, technical and financial feasibility assessment for the project were positive. The new private terminal, with an initial cost of R$ 700 million, will have a capacity to handle approximately six million metric tons of grains per year. The terminal is scheduled to commence operations between 2022 and 2025, depending on demand and other strategic decisions.</p>

        <h1>Product launches</h1>
        <h2>Mayonnaise</h2>
        <p>In the mayonnaise segment, we launched a new Fine Herb flavored mayonnaise product as part of our LIZA Caseira range (240g and 196g sachets).</p>
        <h2><em>Food Service</em></h2>
        <div class="row">
                <div class="noborder">
                        <picture>
                          <source type="image/webp" srcset="../img/prod-atomatados-food-service.webp">
                          <img src="../img/prod-atomatados-food-service.jpg" alt="prod-atomatados-food-service">
                        </picture>
                </div>
        </div>
        <p>Our tomato product portfolio was expanded in 2017 to offer greater versatility to the food service segment, with Elefante, Pomarola and Tarantella-branded tomato products now available in 1.02 kg and 2 kg sachet packaging.</p>

        <h2>Other tomato products</h2>

                <p class="color"><strong>Pomarola Chef:</strong> in 2017, renowned chef Erick Jacquin was featured in a TV commercial animation developed by Cargill. Titled “<em>O Molho de Jacquin</em>” (Jacquin’s Sauce), the four-part series satirized the overrating of modern cuisine.</p>

                <p class="color"><strong>Elefante: </strong>Elefante tomato paste was launched in two sizes of Tetra Pak packaging ,140g and 280g, in response to consumer demand.</p>

                <p class="color"><strong>Pomarola and Tarantella </strong> tomato sauce in 190g sachet Packaging: with consumers increasingly demanding more affordable pricing and smaller portions, and as part of our commitment to reducing consumer waste, in January 2018 Cargill launched a range of tomato sauces in new, 190g sachet packaging </p>



        <h2>Genuine range</h2>
        <p>In January 2017 Cargill launched a new range of baking cocoa:</p>
        <!-- <ul>
            <li>
                <p><strong>Genuine Cacau em Pó 100%, versão de 500g: </strong>ideal para decorar e aplicar em trufas, bebidas quentes e frias, bolos e sobremesas em geral; </p>
            </li>
            <li>
                <p><strong>Genuine Chocolate em Pó 50%, versão 1,05kg:</strong> possui teor de cacau equilibrado, perfeito para diversas aplicações; </p>
            </li>
            <li>
                <p><strong>Genuine Chocolate em Pó 33%, versão de 1,05kg:</strong> com cor e sabor mais suaves, combina em receitas de bolos, brigadeiros, recheios e caldas. </p>
            </li>
        </ul> -->

        <div class="row">
          <div class="onethird noborder">
                  <source type="image/webp" srcset="../img/prod-genuine-cacau-100.webp">
                  <img src="../img/prod-genuine-cacau-100.jpg" alt="prod-genuine-cacau-100">
          </div>
          <div class="twothird noborder">
                  <p><strong>Genuine 100% Baking Cocoa, available in 500g packaging: </strong>ideally suited for chocolate truffles, hot and cold beverages, cakes and desserts in general; </p>
          </div>
        </div>
        <div class="row">
          <div class="onethird noborder">
                  <source type="image/webp" srcset="../img/prod-genuine-cacau-50.webp">
                  <img src="../img/prod-genuine-cacau-50.jpg" alt="prod-genuine-cacau-50">
          </div>
          <div class="twothird noborder">
                  <p><strong>Genuine 50% Sweetened Baking Cocoa, available in 1.05kg packaging:</strong> this product has a ratio of cocoa to sugar that is ideally suited for a range of applications; </p>
          </div>
        </div>

        <div class="row">
          <div class="onethird noborder">
                  <source type="image/webp" srcset="../img/prod-genuine-cacau-33.webp">
                  <img src="../img/prod-genuine-cacau-33.jpg" alt="prod-genuine-cacau-50">
          </div>
          <div class="twothird noborder">
                  <p><strong>Genuine 33% Sweetened Baking Cocoa, available in 1.05kg packaging:</strong> with its milder color and flavor, this product is ideally suited for cakes, chocolate sweets, icing and chocolate sauces.</p>
          </div>
        </div>

        <h2>Animal Nutrition</h2>
        <p>A recent survey among Brazilian pig farmers found that the breeding stage is the most challenging in the pig farming lifecycle. In response, Cargill has developed Livelle, na integrated and innovative Nutron-branded solution that aims to meet nutritional, physiological and intestinal health needs in new sow lines in the breeding phase.</p>
        <p>Proobefef Resist, also from Nutron, is the first mineral supplement in Brazil that is resistant to rain and moisture. The solution provides optimal mineral supplementation for grazing cattle during the rainy season, while reducing or eliminating product losses due to hardening or sludging. This problem is recurrent during the rainy season, often due to deficient logistics infrastructure and the large investment required to build sheltered troughs.</p>

        <h2>LIZA Origens</h2>
        <div class="row">
          <div class="half top-left bottom-right">
                <picture style="text-align: center">
                        <source type="image/webp" srcset="../img/prod-liza-origens.webp">
                        <img src="../img/prod-liza-origens.jpg" alt="prod-liza-origens">
                </picture>
          </div>

          <div class="half noborder">
            <p>LIZA Origens is a five times extra filtered, 100% vegetable oil made from soybeans sourced from properties with Triple S (Sustainably Sourced & Supplied) certification, which promotes initiatives for continual improvement on certified farms (saiba mais em <a href="be-the-most-trusted-partner.html#">Sustainable soybean production</a>). LIZA Origens is also tracked for greenhouse gas (GHG) emissions using an inventory method that measures emissions at each stage of the supply chain, delivering a more transparente and responsible product.</p>
          </div>
        </div>

        <p><strong class="color">Bottled composite oils</strong><strong> –</strong> Olívia Compostos launched a new, more practical and modern packaging option for consumers. Available in the following flavors: Traditional, Fine Herbs, Onion and Garlic, Oregano and Basil. </p>
        <p><strong class="color">Liza Soy Pink October –</strong> This special edition featured information about the Pink October campaign and tips on preventing breast cancer.</p>

        <!-- <h2>Linha MyCelle</h2>
        <p>Avanço tecnológico da Cargill para a indústria alimentícia, os emulsificantes MyCelle foram lançados no início de 2018 como alternativas para os mais diversos segmentos desse mercado, permitindo formulações mais completas e robustas que, aplicadas à cadeia de produção, aceleraram a inovação e permitem a eficiência máxima na produtividade de pães, massas e chocolates a produtos cárneos, óleos e gorduras.</p> -->

        <h1>Environmental management</h1>
        <p>Environmental management at Cargill conforms to the company’s international and local standards, and is focused on: using natural resources, such as water, efficiently; properly disposing of effluents and waste; protecting biodiversity; and minimizing greenhouse gas emissions.</p>
        <p>Environmental performance disclosures related to water, effluents, and waste and emissions cover the following business units and their operations:</p>
        <table class="left">
                <tr>
        			<th>Business units </th>
        			<th> Operations </th>
        		</tr>
        		<tr>
        			<td> <strong class="color">Starches & Sweeteners</strong> </td>
        			<td> Uberl&acirc;ndia and Castro </td>
        		</tr>
        		<tr>
        			<td>

        <strong class="color">Sugar & Ethanol</strong>
        			</td>
        			<td>

        CEVASA and SJC BioEnergia
        			</td>
        		</tr>
        		<tr>
        			<td>

        <strong class="color">Cocoa & Chocolate</strong>
        			</td>
        			<td>

        Ilh&eacute;us and Porto Ferreira
        			</td>
        		</tr>
        		<tr>
        			<td>

        <strong class="color">Foods</strong>
        			</td>
        			<td>

        Mairinque, Itumbiara and Goi&acirc;nia
        			</td>
        		</tr>
        		<tr>
        			<td>

        <strong class="color">Animal Nutrition</strong>
        			</td>
        			<td>

        Chapec&oacute;, Itapira and Toledo
        			</td>
        		</tr>
        		<tr>
        			<td>

        <strong class="color">Industrial Specialties</strong>
        			</td>
        			<td>

        Mairinque and Ponta Grossa
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="3">

        <strong class="color">Grains & Processing</strong>
        			</td>
        			<td>

        Plants: Uberl&acirc;ndia, Ponta Grossa,
        Barreiras, Primavera do Leste, Tr&ecirc;s Lagoas, Rio Verde
        			</td>
        		</tr>
        		<tr>
        			<td>

        Ports
        			</td>
        		</tr>
        		<tr>
        			<td>

        Warehouses
        			</td>
        		</tr>
      </table>

        <h2>Waste management <span class="gri">GRI 103-306, 306-2</span></h2>
        <p>Cargill’s waste and effluent management system conforms to our EHS (Environment, Health and Safety) Policy and the company's global policy, which is adapted to the particularities and risks of each business. Internally audited every two years, the system has set global targets and also supports the Ministry of Environment’s National Policy on Water Resources and National Solid Waste Policy (PNRS).</p>
        <p>Waste is treated and disposed of properly and in accordance with specified requirements. Non-hazardous waste is sent for: reuse, recycling, energy recovery, underground waste injection, landfilling, composting and incineration. Hazardous waste is sent for: co-processing, local storage, recycling, reuse, incineration, landfilling, industrial landfills, or composting. Organic waste is sent for landfilling or composting.</p>

        <h3>Environmental education </h3>
        <p>Our <em>Renove o Meio Ambiente</em> initiative also has an environmental education and awareness component that is run in partnership with municipal governments. In Mairinque (SP), our “Environment at Schools” program collected more than 7,200 liters of residual vegetable oil for recycling and about 10,000 students learned about the importance of recycling and waste segregation in 2017.</p>
        <p>Reaching 32 public and private schools, the program has been a success case for residual vegetable oil collection and recycling. In addition to environmental awareness--raising initiatives, participating schools host collection stations for used vegetable oil. The proceeds from the collected oil were donated to the schools’ parent-teacher associations, helping to enhance cultural events that have been organized for all community residents. In November 2017, the program was launched in Praia Grande (SP), where 20 municipal schools were equipped with used vegetable oil collection stations and provided with communications materials to raise awareness about the importance of recycling among students and residents.</p>
        <div class="row">

                <div class="quarter decor top-left bottom-right to-bottom">
                        &nbsp;
                </div>
                <div class="half full top-left bottom-right">
                        <picture>
                                <source type="image/webp" srcset="../img/icone-pontos-coleta.webp">
                                <source type="image/svg+xml" srcset="../img/icone-pontos-coleta.svg">
                                <img src="../img/icone-pontos-coleta.png" alt="icone-pontos-coleta">
                        </picture>
                        <p class="destaque"><strong>900 collection stations</strong></p>
                </div>
        </div>
        <div class="box right">
          <h2>Ação Renove o Meio Ambiente</h2>
          <p>A highly successful post-consumer disposal program, our Renove o Meio Ambiente initiative collected 650,000 liters of used cooking oil for proper disposal in 2017, and has sent more than 2.7 million liters of oil for recycling since the program was implemented in 2010, providing a raw material for the production of biodiesel, a clean and renewable fuel. Led by our LIZA vegetable oil brand, the initiative combines cooking oil recycling with environmental education. More than 900 collection stations have been set up in nine states (SP, RJ, MG, GO, SC, PR, RS, MS and BA), including 70 stores operated by food-service partners such as KFC Burger King, Outback and Abbraccio.</p>
          <p>Our goal for 2018 is to expand the number of used vegetable oil collection stations in the North and Northeast, and encourage recycling through Loyalty Program machines.</p>
        </div>

        <div class="box left">
            <h2>CASA SO+MA</h2>
            <p>In 2017 Cargill opened Casa so+ma, a facility for disposing of recyclable waste in Grajaú, in the East side of São Paulo. Community residents can trade their recyclable waste for points in our so+ma rewards program. Points can be traded  for different types of rewards, such as groceries — including our entire range of Pomarola, Tarantela, Elefante and LIZA products—personal-care products, and professional education courses. The goal of the program is to support social and economic development and create new habits and an entrepreneurial culture in low income communities, using waste as a “currency” for engagement.</p>
            <p>The initiative is in line with Brazil’s <a href="http://www.mma.gov.br/política-de-resíduos-sólidos" target="_blank" rel="noopener noreferrer">National Solid Waste Policy</a> and has achieved significant results, including 502 families reached, 2,712 waste deliveries and 708 trade-ins. More than 27,417 kg of waste have been delivered for recycling, generating 86,387kwh in energy savings, 115,231 liters of water savings, and a 139,635kg reduction in CO<sub>2</sub> emissions.</p>

</div>
        <h3>Lifecycle assessment<span class="gri">GRI 103-303, 103-305</span></h3>
        <p>In 2017 Cargill conducted lifecycle assessments for our Elefante tomato paste products for the second consecutive year. The goal is to assess and identify impacts in each stage of the value chain. The assessments are conducted in collaboration with Fundação Espaço Eco, a sustainability consulting firm that develops projects that enable organizations to measure and understand the environmental, social and economic impacts from their products. The results from the assessments inform decisions on the use of raw materials and packaging materials, helping to reduce impacts more effectively. In 2018, lifecycle assessments will be extended to other products.</p>

        <div class="box-right">

                <div class="row">
                        <div class="half top-left bottom-right decor">
                                <picture style="text-align:center">
                                        <source type="image/webp" srcset="../img/3D_elefante_tetra_540g.webp">
                                        <img src="../img/3D_elefante_tetra_540g.png" alt="3D_elefante_tetra_540g">
                                </picture>
                        </div>
                        <div class="top-right bottom-left">
                                <p class="color">Elefante Tomato Paste (kg), comparison between 2014 and 2016: </p>
                                <ul class="color">
                                        <li>9% less GHG emissions (50 grams of GHG per kg of tomato paste)</li>
                                        <li>3.911 t reduction in CO<sub>2</sub>e/year (emissions from a fleet of 827 cars over a period of 1 year)</li>
                                        <li>4% reduction in the product’s water footprint</li>
                                        <li>17 liters of water per kg of tomato paste, a reduction of 1,216,335 m<sup>3</sup> of H<sub>2</sub>Oe per year, equivalent to a full year of water supply for an average of 16,662 people</li>
                                </ul>
                        </div>
                </div>
        </div>



        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="9">Waste by type <span class="gri">GRI 306-2</span></th>
                </tr>
            </thead>
                <tr>
			<th> Waste disposal<sup>1</sup> (t) </th>
			<th colspan="5"> 2015/2016 </th>
		</tr>
		<tr>
			<th> Unit </th>
			<th> Hazardous </th>
			<th colspan="2"> Nonhazardous </th>
			<th> Organic </th>
			<th> Total </th>
		</tr>
		<tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td>

432
			</td>
			<td colspan="2">

9,009
			</td>
			<td>

29,026
			</td>
			<td>

38,467
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td>

32
			</td>
			<td colspan="2">

1,275
			</td>
			<td>

47,985
			</td>
			<td>

49,293
			</td>
		</tr>
		<tr>
			<td>

Cargill
Animal Nutrition
			</td>
			<td>

275
			</td>
			<td colspan="2">

696
			</td>
			<td>

0
			</td>
			<td>

971
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td>

28
			</td>
			<td colspan="2">

18,209
			</td>
			<td>

30,249
			</td>
			<td>

48,486
			</td>
		</tr>
		<tr>
			<td>

Foods
			</td>
			<td>

2
			</td>
			<td colspan="2">

611
			</td>
			<td>

764
			</td>
			<td>

1,377
			</td>
		</tr>
		<tr>
			<td>

Cargill
Industrial Specialties
			</td>
			<td>

5
			</td>
			<td colspan="2">

1,849
			</td>
			<td>

2,107
			</td>
			<td>

3,961
			</td>
		</tr>
		<tr class="total">
			<td>

Total
			</td>
			<td>

774
			</td>
			<td colspan="2">

31,649
			</td>
			<td>

110,131
			</td>
			<td>

142,554
			</td>
		</tr>
		<tr>
			<th> Waste disposal<sup>1</sup> (t) </th>
			<th colspan="5"> 2016/2017 </th>
		</tr>
		<tr>
			<th> Unit </th>
			<th> Hazardous </th>
			<th colspan="2"> Nonhazardous </th>
			<th> Organic </th>
			<th> Total </th>
		</tr>
		<tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td>

345
			</td>
			<td>

8,714
			</td>
			<td colspan="2">

29,007
			</td>
			<td>

38,066
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td>

77
			</td>
			<td>

1,953
			</td>
			<td colspan="2">

38,344
			</td>
			<td>

40,
373
			</td>
		</tr>
		<tr>
			<td>

Cargill
Animal Nutrition
			</td>
			<td>

598
			</td>
			<td>

5,282
			</td>
			<td colspan="2">

48
			</td>
			<td>

5,928
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td>

13
			</td>
			<td>

963
			</td>
			<td colspan="2">

898
			</td>
			<td>

1,874
			</td>
		</tr>
		<tr>
			<td>

Foods
			</td>
			<td>

48
			</td>
			<td>

14,283
			</td>
			<td colspan="2">

18,709
			</td>
			<td>

33,040
			</td>
		</tr>
		<tr>
			<td>

Cargill
Industrial Specialties
			</td>
			<td>

38
			</td>
			<td>

225
			</td>
			<td colspan="2">

23
			</td>
			<td>

286
			</td>
		</tr>
		<tr class="total">
			<td>

Total
			</td>
			<td>

1,118
			</td>
			<td>

31,420
			</td>
			<td colspan="2">

87,030
			</td>
			<td>

119,568
			</td>
		</tr>
		<tr>
			<th> Waste disposal<sup>1</sup> (t) </th>
			<th colspan="5"> Jun to nov 2017 </th>
		</tr>
		<tr>
			<th> Unit </th>
			<th> Hazardous </th>
			<th colspan="2"> Nonhazardous </th>
			<th> Organic </th>
			<th> Total </th>
		</tr>
		<tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td>

134
			</td>
			<td colspan="2">

2,785
			</td>
			<td>

16,083
			</td>
			<td>

19,002
			</td>
		</tr>
		<tr>
			<td>

Sugar
& Ethanol
			</td>
			<td>

591
			</td>
			<td colspan="2">

353,400
			</td>
			<td>

0
			</td>
			<td>

353,993
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td>

38
			</td>
			<td colspan="2">

2,835
			</td>
			<td>

19,509
			</td>
			<td>

22,380
			</td>
		</tr>
		<tr>
			<td>

Cargill
Animal Nutrition
			</td>
			<td>

187
			</td>
			<td colspan="2">

1,935
			</td>
			<td>

23,2
			</td>
			<td>

2,146
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td>

4
			</td>
			<td colspan="2">

958
			</td>
			<td>

912.93
			</td>
			<td>

1,875
			</td>
		</tr>
		<tr>
			<td>

Foods
			</td>
			<td>

16
			</td>
			<td colspan="2">

6,049
			</td>
			<td>

14,033
			</td>
			<td>

20,099
			</td>
		</tr>
		<tr>
			<td>

Cargill
Industrial Specialties
			</td>
			<td>

74
			</td>
			<td colspan="2">

94
			</td>
			<td>

10
			</td>
			<td>

178
			</td>
		</tr>
		<tr class="total">
			<td>

Total
			</td>
			<td>

1,043
			</td>
			<td colspan="2">

368,058
			</td>
			<td>

50,568
			</td>
			<td>

419,670
			</td>
		</tr>
            <caption>1 Historical information is unavailable for our Sugar & Ethanol Business due to recent upgrades to the measurement system.<br>
            <!-- 2 Unidade Foods não contempla a operação de Itumbiara que começou a realizar o controle detalhado de dados em dezembro de 2017. -->
    </caption>
        </table>

        <!-- <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">Transporte de resíduos perigosos (t)<sup>1 2</sup> <span class="gri">GRI 306-4</span></th></tr></thead>
            <tr>
                <th> Tonelagem por método adotado </th>
                <th> 2015/2016 </th>
                <th> 2016/2017 </th>
                <th> Junho a nov./2017 </th>
            </tr>
            <tr>
                <td> Transportados/ tratados </td>
                <td> 816 </td>
                <td> 20.950 </td>
                <td> 19.509 </td>
            </tr>
            <caption>1 Nenhum resíduo perigoso é transportado internacionalmente e os resíduos são transportados para que tenham destinação final adequada.<br>
                2 Unidade Amidos e Adoçantes e a operação de Itumbiarada da Unidade Foods não estão contempladas.</caption>
        </table> -->

        <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">Transportation of hazardous waste (t) <sup>1 2</sup> <span class="gri">GRI 306-4</span></th></tr></thead>
        </table>

        <picture>
                <source type="image/webp" srcset="../img/grafico-transporte-residuos-en.webp">
                <source type="image/svg+xml" srcset="../img/grafico-transporte-residuos-en.svg">
                <img src="../img/grafico-transporte-residuos-en.png" alt="grafico-transporte-residuos">
        </picture>

        <table>
                <caption>1 All waste materials are transported for compliant treatment and final disposal. No hazardous waste materials are transported internationally.  <br> 2 Our Starches & Sweeteners business unit and the Itumbiara operation of our Foods business are not included.</caption>
         </table>


        <h2>Water <span class="gri">GRI 103-303</span></h2>
        <p>Cargill’s business units each have specific policies on water management; however, a single policy is in place company-wide to protect the environment and the health and safety of employees, contractors, customers and communities. Cargill has a global target of increasing water efficiency by 2020. From a 2015 baseline, water consumption has decreased by 8.9 million cubic meters.</p>
        <p>Programs have been implemented to ensure that our operations discharge no process or sanitary wastewater or storm water into, or cause any other adverse affects to, surface water and groundwater. Inventories are used to monitor our operations and groundwater quality, and engineering projects help to modify and minimize the use of groundwater.</p>
        <p>One of the three projects currently in progress at our starch and sweetener unit in Uberlândia (MG) will reduce potable water consumption at the plant by approximately 30%. In an investment of R$ 150 million, the project will be completed by the end of 2018, and will also introduce a new range of innovative solutions for beef and dairy cattle farmers in Brazil, as well as a modified starch for value-added products.</p>

        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="4">Water recycled and reused. <sup>1 2 </sup>- 2017<span class="gri">GRI 303-3</span> <br> Jun to nov 2017</th>
                </tr>
            </thead>
        </table>
        <picture>
                <source type="image/webp" srcset="../img/grafico-agua-reutilizada-en.webp">
                <source type="image/svg+xml" srcset="../img/grafico-agua-reutilizada-en.svg">
                <img src="../img/grafico-agua-reutilizada-en.png" alt="grafico-agua-reutilizada">
        </picture>
        <table>
                <caption>
                        1 Historical information is unavailable as the measurement system has been upgraded. <br> 2 The data covers the following business units: CEVASA: Water recycling estimates are made based on water balances for the manufacturing plant, with recycling amounts fluctuating depending on the production plan for the crop year. SJC Bioenergia: residual water is reused in fertigation (agricultural use). Our Animal Nutrition business unit has no water recycling or reuse processes. Starches & Sweeteners: water reuse declined in relation to the previous year as a result of the reduced use of condensate in evaporators (TK-6019) at the corn plant and reduced use of water from reverse osmosis at the citric acid plant.

                </caption>
        </table>

        <!-- <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">Percentual e volume total de água reciclada e reutilizada <span class="gri">GRI 303-3</span></th></tr></thead>
            <tr>
                <th> Água reciclada e reutilizada </th>
                <th> 2015/2016 </th>
                <th> 2016/2017 </th>
                <th> Jun./2017 a nov./2017 </th>
            </tr>
            <tr>
                <td> Águas reciclada e reutilizada pela organização (m<sup>3</sup>) </td>
                <td> 199.723 </td>
                <td> 2.366.080 </td>
                <td> 2.535.602 </td>
            </tr>
            <tr>
                <td> Água retirada (m<sup>3</sup>) </td>
                <td> 7.921.620 </td>
                <td> 8.704.263 </td>
                <td> 4.962.938 </td>
            </tr>
            <tr>
                <td> Percentual de reciclada e reutilizada (%) </td>
                <td> 3% </td>
                <td> 27% </td>
                <td> 51% </td>
            </tr>
            <caption>Dados contemplam as seguintes unidades:<br>1 <strong>CEVASA:</strong> estimativas de águas recicladas por balanço hídrico da planta industrial e os valores oscilam de acordo com o plano de produção da safra.<br>
            2 <strong>SJC Bioenergia:</strong> água residuária reaproveitada no processo de fertirrigação (aplicação na área agrícola).<br> 3 <strong>Cargill Nutrição Animal</strong> não possui processos de reciclagem ou reutilização de água.<br>4 <strong>Unidade Amidos e Adoçantes</strong>: volume de água reutilizada foi reduzido em relação ao período anterior devido a redução na utilização da água de condensado nos evaporadores (TK-6019) na fábrica do milho e redução da utilização da água da osmose reversa (tecnologia de tratamento de água) na fábrica do ácido cítrico.</caption>
        </table> -->

        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="4">Water withdrawal by source (m<sup>3</sup>) <span class="gri">GRI 303-1</span></th>
                </tr>
            </thead>
            <tr>
                <th> Water withdrawal by source (m<sup>3</sup>) </th>
                <th> 2015/2016 </th>
                <th> 2016/2017 </th>
                <th> Jun./2017 to nov./2017 </th>
            </tr>
            <tr>
			<td> Surface water, including water from wetlands, rivers, lakes, and oceans </td>
			<td>

3,067,797
			</td>
			<td>

6,530,834
			</td>
			<td>

6,634,930
			</td>
		</tr>
		<tr>
			<td>

Groundwater
			</td>
			<td>

2,676,493
			</td>
			<td>

2,493,273
			</td>
			<td>

1,473,751
			</td>
		</tr>
		<tr>
			<td>

Rainwater
collected directly and stored by the
				organization
			</td>
			<td>

0
			</td>
			<td>

58,686
			</td>
			<td>

57,982
			</td>
		</tr>
		<tr>
			<td>

Municipal
water supplies or other public or private water utilities
			</td>
			<td>

2,177,330
			</td>
			<td>

2,595,473
			</td>
			<td>

1,266,874
			</td>
		</tr>
		<tr class="total">
			<td>

Total
			</td>
			<td>

7,921,620
			</td>
			<td>

11,678,365
			</td>
			<td>

9,433,538
			</td>
		</tr>
            <caption>* Sugar & Ethanol Unit: water management is conducted using flow meters installed at water intake sites. Water consumption readings are taken daily and recorded in an information system called PIMS. <br>
**Starches & Sweeteners Unit: consumption is monitored using water meters and flow transmitters at the plant, and the data is compiled into spreadsheets that are monitored by the operation.</caption>
        </table>

        <table class="left">
        <thead>
                <tr>
                        <th colspan="5">Water discharge by quality and destination <span class="gri">GRI 306-1</span></th>
                </tr>

        </thead>
	<tbody>
                <tr>
			<th> Unit </th>
			<th> Periods </th>
			<th> Direct </th>
			<th> Indirect </th>
			<th> Total </th>
		</tr>
		<tr>
			<td rowspan="3"> Grains & Soybean Processing </td>
			<td>

2015/2016
			</td>
			<td>

417,907
			</td>
			<td>
Water recycled and reused.
199,164
			</td>
			<td>

617,071
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

527,325
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

308,296
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Foods<sup>1</sup>
			</td>
			<td>

2015/2016
			</td>
			<td>

1,280,431
			</td>
			<td>

36,179
			</td>
			<td>

1,316,610
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

1,132,202
			</td>
			<td>

17,367
			</td>
			<td>

1,149,569
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

1,090,849
			</td>
			<td>

0
			</td>
			<td>

1,090,849
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Cocoa
& Chocolate
			</td>
			<td>

2015/2016
			</td>
			<td>

111,419
			</td>
			<td>

0
			</td>
			<td>

111,419
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

239,060
			</td>
			<td>

0
			</td>
			<td>

239,060
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

172,964
			</td>
			<td>

0
			</td>
			<td>

172,964
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Starches
& Sweeteners
			</td>
			<td>

2015/2016
			</td>
			<td>

1,052,955
			</td>
			<td>

945,446
			</td>
			<td>

1,998,401
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

604,792
			</td>
			<td>

1,204,088
			</td>
			<td>

1,808,880
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

239,692
			</td>
			<td>

576,389
			</td>
			<td>

816,081
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Sugar
& Ethanol<sup>2</sup>
			</td>
			<td>

2015/2016
			</td>
			<td>

0
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

0
			</td>
			<td>

2,030,082
			</td>
			<td>

2,030,083
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

0
			</td>
			<td>

1,177,809
			</td>
			<td>

1,177,809
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Cargill
Animal Nutrition<sup>3</sup>
			</td>
			<td>

2015/2016
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

n.d.
			</td>
			<td>

9,530
			</td>
			<td>

9,530
			</td>
		</tr>
		<tr>
			<td rowspan="3">

Cargill
Industrial Specialties<sup>4</sup>
			</td>
			<td>

2015/2016
			</td>
			<td>

11,003
			</td>
			<td>

6,511
			</td>
			<td>

17,514
			</td>
		</tr>
		<tr>
			<td>

2016/2017
			</td>
			<td>

12,666
			</td>
			<td>

2,027
			</td>
			<td>

14,698
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

7,375
			</td>
			<td>

n.d.
			</td>
			<td>

7,375
			</td>
		</tr>
		<tr class="total">
			<td rowspan="3">

Total
			</td>
			<td>

2015/2016
			</td>
			<td>

2,873,715
			</td>
			<td>

1,187,300
			</td>
			<td>

4,061,015
			</td>
		</tr>
		<tr>
			<td>

2016/2017<sup>5</sup>
			</td>
			<td>

1,988,720
			</td>
			<td>

3,253,564
			</td>
			<td>

5,769,609
			</td>
		</tr>
		<tr>
			<td>

Jun
2017 to nov 2017
			</td>
			<td>

1,510,880
			</td>
			<td>

1,763,738
			</td>
			<td>

3,583,904
			</td>
		</tr>
	</tbody>
</table>

<p class="legenda">
        1 The Foods business unit includes the Goiânia (GO) operation only. <br>
2 No historical information is available due to a system upgrade.<br>
3 This data is being reported for the first time in this report.<br>
4 Not available; information on indirect water discharge was not included in the calculations.<br>
5. The sum of total direct and indirect water discharge volumes for the Grains and soybean processing unit.

</p>


        <h2>Emissions<span class="gri">GRI 103-305</span></h2>
        <p>More than 90% of the energy we use is renewable energy from biomass, which significantly reduces our direct greenhouse gas (GHG) emissions. Emissions are managed under global and business-specific policies focused on compliance with applicable regulations and industry best practices that support the sustainable development of society.</p>
        <p>In 2017 Cargill had a global target of reducing GHG emissions intensity by 5% by 2020, with fiscal year 14/15 as a baseline. During 2017 we also committed to an even more ambitious target: to cut greenhouse gas emissions from our operations at least 10% by 2025, against a 16/17 baseline. Our targets include both scope 1 and 2 emissions. Qualitative emissions targets are established under Conama Resolution 382 (December 26, 2006) (applicable to our Sugar & Ethanol business).</p>

        <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">DIRECT GREENHOUSE GAS EMISSIONS (tCO<sub>2</sub> EQUIVALENT) SCOPE 1 <sup>1 2</sup> <span class="gri">GRI 305-1</span></th></tr></thead>
                <tr>
                <th>

                </th>
                <th>
                2015/2016
                </th>
                <th>
                2016/2017
                </th>
                <th>
                Jun to nov 2017
                </th>
                </tr>

                <tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td>

36,710
			</td>
			<td>

26,659
			</td>
			<td>

10,646
			</td>
		</tr>
		<tr>
			<td>

Sugar
& Ethanol
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

41,473
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td>

22,160
			</td>
			<td>

10,691
			</td>
			<td>

4,731
			</td>
		</tr>
		<tr>
			<td>

Cargill
Animal Nutrition
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

0.12
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td>

13,636
			</td>
			<td>

10,202
			</td>
			<td>

1,545
			</td>
		</tr>
		<tr>
			<td>

Foods<sup>3</sup>
			</td>
			<td>

16,484
			</td>
			<td>

14,215
			</td>
			<td>

8,768
			</td>
		</tr>
		<tr>
			<td>

Cargill
Industrial Specialties
			</td>
			<td>

1,689
			</td>
			<td>

1,105
			</td>
			<td>

199
			</td>
		</tr>
		<tr class="total">
			<td>

Total
gross CO<sub>2</sub> emissions
			</td>
			<td>

90,679
			</td>
			<td>

62,873
			</td>
			<td>

67,362
			</td>
		</tr>
		<tr>
			<th> Biogenic CO<sub>2</sub> Emissions (t CO<sub>2</sub> equivalent)<sup>4</sup> </th>
			<th colspan="3"> Jun to nov 2017 </th>
		</tr>
		<tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td colspan="3">

339,556
			</td>
		</tr>
		<tr>
			<td>

Sugar
& Ethanol<sup>4</sup>
			</td>
			<td colspan="3">

8,289.50
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td colspan="3">

2,096.60
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td colspan="3">

1,544.51
			</td>
		</tr>
		<tr>
			<td>

Foods<sup>3</sup>
			</td>
			<td colspan="3">

63,307.50
			</td>
		</tr>
		<tr class="total">
			<td> Total biogenic CO<sub>2</sub> emissions </td>
			<td colspan="3"> 416,794.11 </td>
		</tr>
            <caption>1 The calculations include CO<sup>2</sup>, N20 and CH<sup>4</sup>. <br> 2 Increased co-generation, reduced energy intensity (primarily due to higher boiler efficiency), and higher output combined to improve our emissions rates.<br> 3 The Foods business unit includes the Goiânia and Mairinque operations only.<br> 4 Historical information is unavailable as the measurement system has been upgraded. Biogenic emissions information is not available for Cargill Animal Nutrition and Cargill Industrial Specialties.</caption>
        </table>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">INDIRECT EMISSIONS FROM PURCHASED ELECTRICITY – SCOPE 2 (t CO<sub>2</sub> equivalent)<sup>1</sup> <span class="gri">GRI 305-2</span></th></tr></thead>
                <tr>
                        <th> </th>
                        <th> 2015/2016 </th>
                        <th> 2016/2017 </th>
                        <th> Jun to nov 2017 </th>
                </tr>

                <tr>
			<td>

Grains
& Soybean Processing
			</td>
			<td>

12,334
			</td>
			<td>

10,101
			</td>
			<td>

3,692
			</td>
		</tr>
		<tr>
			<td>

Sugar
& Ethanol
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

12,515
			</td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners<sup>2</sup>
			</td>
			<td>

14,046
			</td>
			<td>

11,389
			</td>
			<td>

4,429
			</td>
		</tr>
		<tr>
			<td>

Cargill
Animal Nutrition
			</td>
			<td>

467
			</td>
			<td>

241
			</td>
			<td>

0.12
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate
			</td>
			<td>

2,416
			</td>
			<td>

3,284
			</td>
			<td>

1,973
			</td>
		</tr>
		<tr>
			<td>

Foods<sup>2</sup>
			</td>
			<td>

n.d.
			</td>
			<td>

n.d.
			</td>
			<td>

11,335
			</td>
		</tr>
            <caption>1 The calculations include CO<sub>2</sub>, N<sub>2</sub>0, CH<sub>4</sub> and NF<sub>3</sub>. <br> 2 Historical information is unavailable for our Sugar & Ethanol and Foods Businesses due to a measurement system upgrade. Information is not available for Cargill Industrial Specialties.</caption>
        </table>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead><tr><th colspan="4">GHG EMISSIONS INTENSITY<sup>1</sup> <span class="gri">GRI 305-4</span></th></tr></thead>
                <tr>
                        <th> </th>
                        <th> Jun to nov 2017 </th>
                </tr>
                <tr>
			<td> Grains & Soybean Processing </td>
			<td> 0.001 </td>
		</tr>
		<tr>
			<td> Sugar & Ethanol </td>
			<td> 0.11 </td>
		</tr>
		<tr>
			<td>

Starches
& Sweeteners
			</td>
			<td>

0.02
			</td>
		</tr>
		<tr>
			<td>

Cocoa
& Chocolate<sup>3</sup>
			</td>
			<td>
                                5.81
			</td>
		</tr>
		<tr>
			<td>

Foods<sup>4</sup>
			</td>
			<td>

 0.03
			</td>
		</tr>
                <caption>
                        1 Data for previous years is unavailable due to a measurement system upgrade. Data is also unavailable for our Industrial Specialties and Animal Nutrition businesses. <br> 2 Includes the CEVASA operation only.<br> 3 Includes the Porto Ferreira operation only.<br> 4 Includes the Goiânia operation only.
                </caption>
        </table>

        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th colspan="4">Nitrogen oxides (nox), sulfur oxides (sox), and other significant air emissions<sup>1</sup> <span class="gri">GRI 305-7</span></th></tr>
            </thead>
            <tr>
                    <th colspan="4">Grains & soybean processing. </th>
            </tr>
            <tr>
                    <th> Significant air emissions (t) </th>
                    <th> 2015/2016 </th>
                    <th> 2016/2017 </th>
                    <th> Jun to nov 2017 </th>
            </tr>
            <tr>
                    <td>

NOx
                    </td>
                    <td>

455.00
                    </td>
                    <td>

339.00
                    </td>
                    <td>

215.00
                    </td>
            </tr>
            <tr>
                    <td>

SOx
                    </td>
                    <td>

288.00
                    </td>
                    <td>

69.00
                    </td>
                    <td>

35.00
                    </td>
            </tr>
            <tr>
                    <td>

Persistent
Organic Pollutants (POP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Volatile
Organic Compounds (COV)
                    </td>
                    <td>

2,525.00
                    </td>
                    <td>

1,466.00
                    </td>
                    <td>

655.00
                    </td>
            </tr>
            <tr>
                    <td>

Hazardous
Air Pollutants (HAP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Particulate
Matter (PM)
                    </td>
                    <td>

874.00
                    </td>
                    <td>

438.00
                    </td>
                    <td>

216.00
                    </td>
            </tr>
            <tr>
                    <th colspan="4">
                            Sugar & Ethanol<sup>2</sup>
</th>
            </tr>
            <tr>
                    <th> Significant air emissions (t) </th>
                    <th colspan="3"> Jun to nov 2017 </th>
            </tr>
            <tr>
                    <td>

NOx
                    </td>
                    <td colspan="3">

847,00
                    </td>
            </tr>
            <tr>
                    <td>

SOx
                    </td>
                    <td colspan="3">

435,77
                    </td>
            </tr>
            <tr>
                    <td>

Persistent
Organic Pollutants (POP)
                    </td>
                    <td colspan="3">

0,00
                    </td>
            </tr>
            <tr>
                    <td>

Volatile
Organic Compounds (COV)
                    </td>
                    <td colspan="3">

0,00
                    </td>
            </tr>
            <tr>
                    <td>

Hazardous
Air Pollutants (HAP)
                    </td>
                    <td colspan="3">

0,00
                    </td>
            </tr>
            <tr>
                    <td>

Particulate
Matter (PM)
                    </td>
                    <td colspan="3">

1.875,35
                    </td>
            </tr>
            <tr>
                    <td colspan="4">

Starches & sweeteners
                    </td>
            </tr>
            <tr>
                    <th> Significant air emissions (t) </th>
                    <th> 2015/2016 </th>
                    <th> 2016/2017 </th>
                    <th> Jun to nov 2017 </th>
            </tr>
            <tr>
                    <td>

NOx
                    </td>
                    <td>

180.00
                    </td>
                    <td>

204.55
                    </td>
                    <td>

65.41
                    </td>
            </tr>
            <tr>
                    <td>

SOx
                    </td>
                    <td>

35.00
                    </td>
                    <td>

55.18
                    </td>
                    <td>

51.18
                    </td>
            </tr>
            <tr>
                    <td>

Persistent
Organic Pollutants (POP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Volatile
Organic Compounds (COV)
                    </td>
                    <td>

1.00
                    </td>
                    <td>

1.00
                    </td>
                    <td>

0.46
                    </td>
            </tr>
            <tr>
                    <td>

Hazardous
Air Pollutants (HAP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Particulate
Matter (PM)
                    </td>
                    <td>

340.00
                    </td>
                    <td>

403.06
                    </td>
                    <td>

197.85
                    </td>
            </tr>
            <tr>
                    <th colspan="4"> Cocoa & chocolate. </th>
            </tr>
            <tr>
                    <th> Significant air emissions (t) </th>
                    <th> 2015/2016 </th>
                    <th> 2016/2017 </th>
                    <th> Jun to nov 2017 </th>
            </tr>
            <tr>
                    <td>

NOx
                    </td>
                    <td>

0.00
                    </td>
                    <td>

274
                    </td>
                    <td>

249
                    </td>
            </tr>
            <tr>
                    <td>

SOx
                    </td>
                    <td>

0.00
                    </td>
                    <td>

24.72
                    </td>
                    <td>

25.13
                    </td>
            </tr>
            <tr>
                    <td>

Persistent
Organic Pollutants (POP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Volatile
Organic Compounds (COV)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Hazardous
Air Pollutants (HAP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Particulate
Matter (PM)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

730.82
                    </td>
                    <td>

702.47
                    </td>
            </tr>
            <tr>
                    <td colspan="4">

Foods
                    </td>
            </tr>
            <tr>
                    <th> Significant air emissions (t) </th>
                    <th> 2015/2016 </th>
                    <th> 2016/2017 </th>
                    <th> Jun to nov 2017 </th>
            </tr>
            <tr>
                    <td>

NOx
                    </td>
                    <td>

16.00
                    </td>
                    <td>

43.59
                    </td>
                    <td>

48.21
                    </td>
            </tr>
            <tr>
                    <td>

SOx
                    </td>
                    <td>

1.00
                    </td>
                    <td>

0.60
                    </td>
                    <td>

0.62
                    </td>
            </tr>
            <tr>
                    <td>

Persistent
Organic Pollutants (POP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Volatile
Organic Compounds (COV)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Hazardous
Air Pollutants

(HAP)
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
                    <td>

0.00
                    </td>
            </tr>
            <tr>
                    <td>

Particulate
Matter (PM)
                    </td>
                    <td>

98.00
                    </td>
                    <td>

572.66
                    </td>
                    <td>

1,391.19
                    </td>
            </tr>
            <tr>
                    <td>

Carbon
Monoxide (CO)
                    </td>
                    <td>

1.67
                    </td>
                    <td>

1.67
                    </td>
                    <td>

1.74
                    </td>
            </tr>
            <caption>
                    1 Data is unavailable for Cargill Industrial Specialties and Cargill Animal Nutrition. <br>
2 Historical data is unavailable for the Sugar & Ethanol business due to a measurement system upgrade.
            </caption>
        </table>
