<h2>&nbsp;</h2>
<p><span class="gri">GRI 102-55</span></p>

<table border="0" cellspacing="0" cellpadding="0" class="left">
<tr>
<td colspan="4">
      <h1>
General disclosures</h1>
</td>
</tr>
<tr>
<th colspan="4">
  ORGANIZATIONAL
PROFILE
</th>
</tr>
<tr>
<th>

GRI
Standard
</th>
<th>

DISCLOSURE
</th>
<th >

PAGE/URL
</th>
<th>

OMISSION
</th>
</tr>
<tr>
<td rowspan="13">

GRI 102: General

disclosures
</td>
<td>
<strong>102-1</strong> Name of the organization </td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
<strong>102-2</strong> Activities, brands, products, and services </td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
<strong>102-3</strong> Location of headquarters </td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
<strong>102-4</strong> Location of operations </td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
<strong>102-5</strong> Ownership and legal form </td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-6</strong>
Markets served
</td>
<td class="left"><a href="">Lead in our markets</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-7</strong>
Scale of the organization
</td>
<td class="left"><a href="">A word from our CEO</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-8</strong>
Information on employees and other workers
</td>
<td class="left"><a href="">Unleash our people's potential</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-9</strong>
Supply chain
</td>
<td class="left"><a href="">Be the most trusted partner</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-10</strong>
Significant changes to the organization and its supply chain
</td>
<td class="left"><a href="">Lead in our markets</a> / <a href="">Use our size to our advantage</a></td>
<td>

  </td>
</tr>
<tr>
<td>
  <strong>102-11</strong>
Precautionary principle or approach
</td>
<td colspan="2">
  The
precautionary principle has not been formally adopted at Cargill
Brazil, but the company observes applicable laws and regulations
on avoiding or mitigating potential harm to the environment,
people and communities as a result of our operations. In the event
of an environmental incident, Cargill has documented procedures
for preventing and remediating any environmental damage. These
procedures are part of formal inspection procedures that apply to
all operations involving the transportation and storage of
potentially harmful materials.
</td>
</tr>
<tr>
<td>
  <strong>102-12</strong>
External initiatives
</td>
<td colspan="4"><a href="">Be the most trusted partner</a>

</td>
</tr>
<tr>
<td>
  <strong>102-13</strong>
Membership of associations
</td>
<td colspan="2">

Cargill
is a member of trade associations and forums that discuss
infrastructure, logistics, and social and economic development in
Brazil. These include: Brazilian Association of Wholesale and
Free-Market Power Consumers (ABRACE), Brazilian Tomato Supply
Chain Association (ABRATOP), National Cereal

Exporters
Association (ANEC), Brazilian Association of Port Terminals
(ABTP), Brazilian Association of Cocoa Processing Companies
(AIPC), Brazilian Association

of
Chocolate, Cocoa, Peanuts and Candy Producers (ABICAB), American
Chamber of Commerce (Amcham/SP), Brazilian Food Industry
Association (ABIA), Brazilian Oil Industry Association (ABIOVE),
S&atilde;o Paulo

State
Industry Federation (FIESP), Minas Gerais State Industry
Federation (FIEMG), Goi&aacute;s State Industry Federation (FIEG),
Brazilian Association of Business Communications (ABERJE),
Brazilian Agribusiness Association (ABAG).
</td>
</tr>
<tr>
<th colspan="4">
  STRATEGY
</th>
</tr>
<tr>
<th> GRI
  Standard </th>
<th> DISCLOSURE </th>
<th > PAGE/URL </th>
<th> OMISSION </th>
</tr>
<tr>
<td>

GRI 102: General

disclosures
</td>
<td><strong>
    102-14</strong>
Statement from senior
  decision-maker
</td>
<td><a href="">A word from our CEO</a>

</td>
<td>

</td>
</tr>
<tr>
<td colspan="4">
  ETHICS
AND INTEGRITY
</td>
</tr>
<tr>
<th> GRI
  Standard </th>
<th> DISCLOSURE </th>
<th > PAGE/URL </th>
<th> OMISSION </th>
</tr>
<tr>
<td>

GRI 102: General

disclosures
</td>
<td >
  <strong>102-16</strong>
Values, principles, standards,
  and
norms of behavior
</td>
<td><a href="">Lead in our markets</a> / <a href="">Be the most trusted partner</a>

</td>
<td>

</td>
</tr>
<tr>
<td colspan="4">
  GOVERNANCE
</td>
</tr>
<tr>
<th> GRI
  Standard </th>
<th> DISCLOSURE </th>
<th > PAGE/URL </th>
<th> OMISSION </th>
</tr>
<tr>
<td>

GRI 102: General

disclosures
</td>
<td >
  <strong>102-18</strong>
Governance structure
</td>
<td><a href="">Be the most trusted partner</a>

</td>
<td>

</td>
</tr>
<tr>
<th colspan="4">
  STAKEHOLDER
ENGAGEMENT
</th>
</tr>
<tr>
<th> GRI
  Standard </th>
<th> DISCLOSURE </th>
<th > PAGE/URL </th>
<th> OMISSION </th>
</tr>
<tr>
<td rowspan="5">

GRI 102: General

disclosures
</td>
<td >
  <strong>102-40</strong>
List of stakeholder groups
</td>
<td><a href="">About this report</a>

</td>
<td>

</td>
</tr>
<tr>
<td >
  <strong>102-41</strong>
Collective bargaining agreements
</td>
<td>

All
employees are covered by collective bargaining
  agreements.
</td>
<td>

</td>
</tr>
<tr>
<td >
  <strong>102-42</strong>
Identifying and selecting stakeholders
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-43</strong>
Approach to stakeholder engagement
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-44</strong>
Key topics and concerns raised
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<th colspan="4">
  REPORTING
PRACTICES
</th>
</tr>
<tr>
<th> GRI
  Standard </th>
<th> DISCLOSURE </th>
<th > PAGE/URL </th>
<th> OMISSION </th>
</tr>
<tr>
<td rowspan="12">

GRI 102: General

disclosures
</td>
<td >
  <strong>102-45</strong>
Entities included in the
  consolidated
financial statements
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-46</strong>
Defining report content and
  topic
Boundaries
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-47</strong>
List of material topics
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-48</strong>
Restatements of information
</td>
<td class="left"></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-49</strong>
Changes in reporting
</td>
<td class="left"><a href="">Use our size to our advantage</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-50</strong>
Reporting period
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-51</strong>
Date of most recent report
</td>
<td>

2016
</td>
<td>

</td>
</tr>
<tr>
<td >
  <strong>102-52</strong>
Reporting cycle
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-53</strong>
Contact point for questions
  regarding
the report
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-54</strong>
Claims of reporting in
  accordance
with the GRI Standards
</td>
<td class="left"><a href="">About this report</a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-55</strong>
GRI content index
</td>
<td class="left"><a href="">GRI Content Index </a></td>
<td>

  </td>
</tr>
<tr>
<td >
  <strong>102-56</strong>
External assurance
</td>
<td>

This
report was not externally assured.
</td>
<td>

</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="left">
<tr>
			<th colspan="4"> <h1> Material topics</h1>
			</th>
		</tr>
		<tr>
			<td colspan="4">
				ECONOMIC
PERFORMANCE
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				<strong>103-1</strong> Explanation of the material topic and its
			Boundary </td>
			<td><a href="">Use our size to our advantage</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				<strong>103-2</strong> The management approach and its
			components </td>
			<td><a href="">Use our size to our advantage</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Use our size to our advantage</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 201: Economic

performance
			</td>
			<td>
				201-1
Direct economic value generated and distributed
			</td>
			<td><a href="">Use our size to our advantage</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				WATER
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="2">

GRI 303: Water
			</td>
			<td>
				303-1
Water withdrawal by source
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				303-3
Water recycled and reused
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				BIODIVERSITY
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 304: Biodiversity
			</td>
			<td>
				304-2
Significant impacts of activities, products, and
				services
on biodiversity
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				EMISSIONS
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">

GRI 103: Management

Approach
			</td>
			<td>
				<strong>103-1</strong> Explanation of the material topic and its
			Boundary </td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="4">

GRI 305: Emissions
			</td>
			<td>
				305-1
Direct (Scope 1) GHG emissions
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				305-2
Energy indirect (Scope 2) GHG emissions
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				305-4
GHG emissions intensity
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				305-7
NOx, SOx, and other significant air emissions
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				EFFLUENTS
AND WASTE
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="3">

GRI 306: Effluents

and waste
			</td>
			<td>
				306-1
Water discharge by quality and destination
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				306-2
Waste by type and disposal method
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				306-4
Transportation of hazardous waste
			</td>
			<td><a href="">Do the ordinary extraordinarily well </a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				ENVIRONMENTAL
COMPLIANCE
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td rowspan="3">
				Our
policy on environmental compliance requires us to maintain
compliance with applicable laws and regulations.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

GRI 307: Environmental

compliance
			</td>
			<td>
				307-1
Noncompliance
				with
				environmental
				laws
and
				regulations
			</td>
			<td>
				In
2017 Cargill received two fines amounting in total to R$ 20,000. <br />
				Ibi&aacute;
(MG): R$
15,000.00 for failing to timely renew the environmental
				license.
Action taken: an action plan was developed to prevent
				recurrence,
and the license has since been re-issued.<br />
				Tr&ecirc;s
Lagoas (MS): R$
5,000.00 for noise emissions. Action taken: an
				action
plan was developed to meet regulatory requirements.<br />
				Previous
years:
R$390,000.00 in 2015 and R$372,017.00 in 2016.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				OCCUPATIONAL
HEALTH & SAFETY
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">

GRI 103: Management

Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="2">

GRI 403: Occupational Health

& Safety
			</td>
			<td>
				403-2
T Types of injury and rates of injury,
				occupational
diseases, lost days, and absenteeism,
				and
number of work-related fatalities
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				403-3
Workers with high incidence or high risk of
				diseases
related to their occupation
			</td>
			<td></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				NON-DISCRIMINATION
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 406: Nondiscrimination
			</td>
			<td>
				406-1
Incidents of discrimination and corrective actions taken
			</td>
			<td>

Cargill
reported two discrimination cases initiated in 2017 (one in 2016):
one case was a claim for moral damages for alleged discrimination
of a person with physical disabilities, and the other was a claim
for moral damages due to na employee having been allegedly
terminated in a discriminatory manner and treated harshly by their
supervisor. The discrimination claim brought in 2016 and still
pending in 2017 was dismissed by the Labor
				Court.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				FREEDOM
OF ASSOCIATION AND COLLECTIVE BARGAINING
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">

GRI 103: Management

Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td rowspan="3">
				Cargill
does not interfere in employees? affairs, and all employees are
free to form or join unions and participate in collective
bargaining.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

GRI 407: Freedom

of association

and collective

bargaining
			</td>
			<td>
				407-1
Operations and suppliers in which the right
				to
freedom of association and collective bargaining
				may
be at risk
			</td>
			<td>
				No
risks or violations of the right to freedom of association and
collective bargaining were identified
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				CHILD
LABOR
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">

GRI 103: Management

Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 408: Child labor
			</td>
			<td>
				408-1
Operations and suppliers at significant risk for incidents of
child labor
			</td>
			<td>

No
significant risks for incidentes of child labor involving Cargill
suppliers were identified. In relation to our own operations, the
risk

of
sexual exploitation of children was identified in our
transportation operations. <br /><a href="">Be the most trusted partner</a>
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				FORCED
OR COMPULSORY LABOR
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">

GRI 103: Management

Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 409: Forced or

compulsory labor
			</td>
			<td>
				409-1
Operations and suppliers at significant risk for incidents of
forced or compulsory labor
			</td>
			<td>
				Our
risk map covers our soybean, tomato, cocoa, cotton, palm, and
other supply chains. Cargill has a commitment not to tolerate
incidents of forced or slave labor in our supply chains, and has
not recorded any incidents in recente years.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				SECURITY
PRACTICES
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Unleash our people's potential</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 410: Security

practices
			</td>
			<td>
				410-1
Security
personnel trained in human rights
				policies
or procedures
			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				RIGHTS
OF INDIGENOUS PEOPLES
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td rowspan="3">
				There
is no specific management approach in place for indigenous rights,
as no related risk has been identified in our supply chains.
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>

GRI 411: Rights of

indigenous peoples
			</td>
			<td>
				411-1
Incidents of violations involving rights of indigenous peoples
			</td>
			<td>
				No
incidents of violations involving rights of indigenous and
traditional peoples were identified in the year.<br> <a href="">Be the most trusted partner</a>
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				HUMAN
RIGHTS ASSESSMENT
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="3">

GRI 412: Human

rights assessment
			</td>
			<td>
				412-1
Employee training on human rights policies or
				procedures
			</td>
			<td>

All
our operations are subject to human rights reviews or impact

assessment,
as well as reviews on aspects addressed by our Code of

Conduct.<br><a href="">Be the most trusted partner</a>
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				412-2
Significant investment agreements and
				contracts
that include human rights clauses or that underwent human rights
screening
			</td>
			<td>
				<a href="">Be the most trusted partner</a>
			</td>
			<td>

			</td>
		</tr>
        <tr>
							<td> <strong>412-3</strong> Acordos e contratos de investimentos significativos que incluem cláusulas de direitos humanos ou que foram submetidos à avaliação referente a direitos humanos </td>
							<td><a href="">Be the most trusted partner</a> </td>
							<td>

							</td>
						</tr>
		<tr>
			<td colspan="4">
				LOCAL
COMMUNITIES
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Unleash our people's potential</a> / <a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Unleash our people's potential</a> / <a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Unleash our people's potential</a> / <a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 413: Local

communities
			</td>
			<td>

			  413-1
			  Operations with local community engagement,
			  impact
			  assessments, and development programs
		    </td>
			<td><a href="">Unleash our people's potential</a> / <a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				SUPPLIER
SOCIAL ASSESSMENT
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td rowspan="2">

GRI 414: Supplier

social assessment
			</td>
			<td>
				414-1
New suppliers that were screened using social
				criteria
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				414-2
Negative social impacts in the supply chain
				and
actions taken tomadas
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td colspan="4">
				CUSTOMER
HEALTH AND SAFETY
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td rowspan="3">
				GRI
103: Management
				Approach
			</td>
			<td>
				103-1
Explanation of the material topic and its
				Boundary
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-2
The management approach and its
				components
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>
				103-3
Evaluation of the management approach
			</td>
			<td><a href="">Be the most trusted partner</a></td>
			<td>

		    </td>
		</tr>
		<tr>
			<td>

GRI 416: Customer health and safety
			</td>
			<td>
				416-1
Assessment of the health and safety impacts
				of
product and service categories
			</td>
			<td>

			</td>
			<td rowspan="2">

Information

not
timely

made

available
for

the
report
			</td>
		</tr>
		<tr>
			<td>

Food Processing

Sector Supplement

- Customer health

and safety
			</td>
			<td>
				FP5
Percentage of production volume manufactured
				in
sites certified by an independent third party
				according
to internationally recognized food safety
				management
system standards
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="4">
				MARKETING AND LABELING
			</td>
		</tr>
		<tr>
		  <th> GRI
		    Standard </th>
		  <th> DISCLOSURE </th>
		  <th> PAGE/URL </th>
		  <th> OMISSION </th>
  </tr>
		<tr>
			<td>
				Food
Processing
				Sector
Supplement
				-
Marketing and
				labeling
			</td>
			<td>
				FP8
Policies and practices on communication to
				consumers
about ingredients and nutritional
				information
beyond legal requirements
			</td>
			<td>

			</td>
			<td>
				Information
not timely made available for the report
			</td>
		</tr>
		<tr>
			<td colspan="4">
				SOURCING
			</td>
		</tr>
		<tr>
			<th>
				GRI
Standard
			</th>
			<th>
				DISCLOSURE
			</th>
			<th>
				PAGE/URL
			</th>
			<th>
				OMISSION
			</th>
		</tr>
		<tr>
			<td>
				Food
Processing
				Sector
Supplement
				-
Sourcing
			</td>
			<td>
				FP1
Percentage of purchased volume from
				Suppliers
compliant with
				company?s
sourcing policy
			</td>
			<td>
				In
our Sustainability Report 2016, which contained information for
broader Latin America, 84% of volumes purchased from suppliers
were compliant with our sourcing policy and practices. Data is
currently reported for Latin America and by country: In Brazil the
percentage was 60% in fiscal year 2016-2017 (amounting to R$
59,375,651.98), and performance can now be managed by category and
can also be viewed by our Vendor Management Office (VMO).
			</td>
			<td>

		    </td>
		</tr>
	</tbody>
</table>
