
  <div class="row">
    <div class="onethird top-right bottom-left">
      <h2><a href="">Message from the president</a></h2>
    </div>
    <div class="onethird top-left bottom-right">
      <h2><a href="">2017 headlines</a></h2>
    </div>
    <div class="onethird top-right bottom-left">
      <h2><a href="">Lead in our markets</a></h2>
    </div>
  </div>
