<h1>Profile <span class="gri">GRI 102-7</span></h1>
<p>With global headquarters in Minneapolis, Minnesota (USA), Cargill was founded in 1856 and now operates in 70 countries, employing 155,000 people worldwide. Cargill Brazil was established in 1965 and is the company’s largest operation outside the US, employing 10,157 people. <span class="gri">GRI 102-1, 102-3, 102-4, 102-8</span></p>
<p>Our headquarters in Brazil are in São Paulo (SP) and we have an extensive presence in 17 states and the Federal District, including manufacturing sites, warehouses, port terminals and offices in 160 municipalities. <span class="gri">GRI 102-3, 102-4</span></p>
<p>Cargill helps customers and partners in the agriculture, food, animal nutrition and manufacturing industries to succeed through collaboration and innovation, offering solutions across marketing, processing and distribution of products and services. We are committed to sharing our global knowledge and experience to help meet economic, environmental and social challenges wherever we do business.</p>

<p>In June 2017 Cargill concluded the sale of its operation in São José do Rio Pardo (SP) to Doehler. Following an assessment of strategic aspects and alignment with our global strategy, Cargill decided to exit the fruit preparations and icing business in Brazil. In October we concluded the acquisition of Integral Nutrição, which produces products for dairy and beef cattle in Brazil’s Midwest. Cargill took over 100% of the company’s assets on the first business day of 2018. There were also new developments in 2017 in relation to our Vale do Sapucaí Ltda. (Cevasa) power plant joint venture, in Patrocínio Paulista (SP). The business plan for the joint venture was reevaluated, with Canagril transferring its interest to Cargill. <span class="gri">GRI 102-10</span> </p>

<div class="unidades">
    <picture>
      <source type="image/svg+xml" srcset="../img/unidades01-en.svg">
      <img src="../img/unidades01-en.png" alt="unidades01">
    </picture>
    <picture>
      <source type="image/svg+xml" srcset="../img/unidades02-en.svg">
      <img src="../img/unidades02-en.png" alt="unidades02">
    </picture>
    <!-- <picture>
      <source type="image/svg+xml" srcset="../img/unidades03.svg">
      <img src="../img/unidades03.png" alt="unidades03">
    </picture> -->
    <picture>
      <source type="image/svg+xml"  srcset="../img/unidades04-en.svg">
      <img src="../img/unidades04-en.png" alt="unidades04">
    </picture>
    <!-- <picture>
      <source type="image/svg+xml" srcset="../img/unidades05.svg">
      <img src="../img/unidades05.png" alt="unidades05">
    </picture> -->
</div>
<div class="box right">
  <!-- <span data-alert="inseriir ícones"></span> -->
    <!-- @TODO: <p>Arte do PDF: </p> -->
    <h2>Cargill businesses in Brazil <span class="gri">GRI 102-2, 102-6</span></h2>
    <p><strong>Agriculture</strong> – Cargill purchases, processes and markets soybeans and other commodities globally. We also trade in sugar and cotton in the global market.</p>
    <p><strong>Food</strong> – Cargill supplies a wide range of ingredients to the food and beverage industry. We also deliver innovation to the retail and food service markets and have our own, high-quality branded consumer products.</p>
    <p><strong>Animal Nutrition</strong> – We develop animal nutrition ingredientes under our Nutron and Integral brands.</p>
    <p><strong>Industrial</strong> – We develop and market sustainable products based on agricultural raw materials: we supply vegetable oils for the manufacture of lubricants, medicines, cosmetics, coatings and chemicals. Our starch range caters to the paper, chemicals, textiles, mining, pharmaceutical and other industries.</p>
    <p><strong>Financial</strong> – Cargill offers lending and risk management financial solutions developed for farmers and agribusiness and food companies.</p>
</div>

<div class="mapa-unidades">
  <picture data-slug="mapa-unidades">
    <source type="image/webp" srcset="../img/mapa-unidades.webp">
    <source type="image/svg+xml" srcset="../img/mapa-unidades.svg">
    <img src="../img/mapa-unidades.png" alt="mapa-unidades">
  </picture>
  <picture data-slug="mapa-unidades-legenda">
    <source type="image/webp" srcset="../img/mapa-unidades-legenda-en.webp">
    <source type="image/svg+xml" srcset="../img/mapa-unidades-legenda-en.svg">
    <img src="../img/en/mapa-unidades-legenda-en.png" alt="mapa-unidades-legenda">
  </picture>
</div>

<h1>Strategic management</h1>
<p>Chapter headings in our Sustainability Report 2017 are inspired by the five guiding principles underpinning our company-wide strategy: Lead in our markets, Unleash our people’s potential, Be the most trusted partner, Use size to our advantage; and Do the ordinary extraordinarily well.</p>
<p>Focused on our purpose, vision and direction, Cargill — the world’s largest privately held Corporation — has used these pillars to define metrics and skills in a robust game plan for success. <span class="gri">GRI 102-5</span></p>
<p>Our leadership group-wide was engaged in a Game Change Challenge, a series of events created to challenge employees throughout fiscal year 2017 to demonstrate the five skills in our Game Plan for Success (GPS), which set us apart from the market and will enable us to fulfill our purpose.</p>
<!-- @TODO: <p>Arte em desenvolvimento. Abaixo, figura antiga e dados</p> -->
<!-- <fieldset data-alert="este conteúdo será um diagrama">
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td> Nosso Game Plan for Success – Um plano para o sucesso: Direção Estratégica da Cargill [texto inicial] Finalidade – Por que existimos: Cargill será líder em nutrir o mundo de forma segura, responsável e sustentável. Visão – Aonde iremos: Seremos o parceiro mais confiável em agricultura, alimentação e nutrição. Direção – Como chegaremos lá: Venceremos com uma combinação de recursos distintos, negócios com grande desempenho e liderança ousada em questões que moldam o futuro do mundo. Medidas – Como monitoramos nosso progresso: Vencer significa que:
            <ul>
                <li>Somos os preferidos dos clientes </li>
                <li>Somos escolhidos pelos funcionários </li>
                <li>Somos acolhidos pelas comunidades </li>
                <li>Os acionistas recebem um excelente retorno </li>
            </ul> [texto colorido] - Liderar nos mercados - Desenvolver o potencial dos nossos funcionários - Ser excelente nas tarefas mais básicas - Ser o parceiro mais confiável - Usar o nosso porte a nosso favor [texto rodapé cinza] Habilidades – O que nos diferencia Tranding e gerenciamento de risco Cadeias de suprimentos sustentáveis Digitalização e análise de dados Conhecimento de mercado e inovação Liderança de pensamento e engajamento de públicos estratégicos </td>
    </tr>
</table>
  </fieldset> -->
  <picture>
    <source type="image/webp" srcset="../img/game-plan-sucess-en.webp">
    <img src="../img/game-plan-sucess-en.png" alt="game-plan-sucess">
  </picture>


<h2>Cargill Values <span class="gri">GRI 102-16</span></h2>
<p>We announced our new and renovated values in October 2017, when executives met with our Global CEO to discuss the attributes that define us as a company. The changes are designed to guide our decisions and conduct; drive high performance, integration and simplification; ensure alignment on cultural and eco-system expectations; and encourage our employees to go beyond the company's fence lines and demonstrate courage, risk taking and daring.</p>
<p>With a continuing focus on developing our people, we implemented a program to disseminate our values so they are fully embedded in our culture by June 1, 2018. As part of the initiative, an e-book was launched in March to explain the meaning of each of our values.</p>


<div class="diagrama-valores">
  <picture>
    <source type="image/webp" srcset="../img/expectativa-lideranca-en.webp">
    <img src="../img/expectativa-lideranca-en.png" alt="expectativa-lideranca">
  </picture>
</div>


<!-- <fieldset data-alert="este conteúdo será um diagrama">

  <table border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td> Valores Cargill [texto para a esfera] Valores Faça a coisa certa Coloque as pessoas em primeiro lugar Supere as expectativas Considere perspectivas externas Pensanmento sistêmico – Estratégico Atinja resultados excepcionais Ágil e resiliente – Decidido e motivado por resultados Estimule para gerar alto desempenho Pessoas em primeiro lugar – Autêntico e inspirados [demais textos]
              <ul>
                  <li>.<strong>Faça a coisa certa:</strong> Somos honestos e transparentes, vamos além do que é exigido por lei e sempre pensamos sobre o que é correto para a empresa, funcionários, clientes, fornecedores, comuidades e para o planeta.
                  </li>
                  <li>.<strong>Coloque as pessoas em primeiro lugar:</strong> Colocamos a segurança física e psicológica dos funcionários acima de qualquer coisa e ajudamos nossos colegas a alcançar todo o seu potencial. </li>
                  <li>.<strong>Supere as expectativas:</strong> A nossa humildade e paixão pela excelência nos motiva a melhorar diariamente. </li>
              </ul>
          </td>
      </tr>
  </table>
</fieldset> -->
