<p><span class="gri">GRI 102-14</span> In a year of progress on technology, innovation and diversity, 2017 saw important achievements and continued advancement at Cargill. We grew 6%, posting net operating revenue of R$ 35 billion. Brazil’s exceptional grain harvest was a godsend, and despite the extended economic crisis, we continued to move forward: we launched new products, expanded our businesses, and invested in infrastructure, confident in our strength as a company and Brazil’s resilience.</p>
<p>This is the legacy we want to leave —a company that is a partner to farmers, suppliers and customers; a company that invests and supports sustainability across the value chain.</p>
<p>Our North Route investments, for example, are helping Brazil become more globally competitive, while improving conditions for farmers. Work was completed on the San-tarém (PA) grain export terminal expansion project, increasing the terminal's annual capacity from two to five million metric tons. Much of the added grain volumes are being shipped via the Tapajós River from a new river transshipment terminal that was also delivered in 2017 in the district of Miritituba, in Itaituba (PA). These projects create jobs and help reduce greenhouse gas emissions by reducing the number of trucks carrying agricultural products to other ports for export.</p>
<p>We have also focused on efficient technology and processes. The year 2017 saw significant acquisitions as well as major upgrades at our plants. We have invested R$ 4.6 billion in the Brazilian market in the last seven years and expect to inject up to R$ 400 million in 2018.</p>
<p>During the year, we expanded the Três Lagoas (MS) soybean mill, increasing its processing capacity from 2,100 metric tons per day to 3,200 metric tons per day. We also acquired 100% of the assets of Integral, further expanding our animal nutrition business.</p>
<p>Home-grown innovation at Cargill has also been strong: we have invested in developing ingredients and products for a healthier and more sustainable diet; in improving our relations with customers and farmers; and in new technologies that create value for the business. In 2017 alone, the Cargill Innovation Center for Latin America developed 81 projects.</p>
<div class="row">
    <div class="decor onethird full top-left bottom-right">
    &nbsp;
    &nbsp;
    </div>
    <div class="twothird full top-left bottom-right">
        <blockquote><p class="destaque">“This is the legacy we want to leave — a company that is a partner to farmers, suppliers and customers; a company that invests and supports sustainability across the value chain.”</p></blockquote>
    </div>
</div>
<p>We had important product launches in the food service business, including new versions of Elefante, Pomarola and Tarantella-branded tomato products; and in retail, with our new LIZA Caseira Fine Herb Mayonnaise product and our Genuine baking cocoa range.</p>
<p>In the cocoa value chain, 90 farms are now UTZ certified for using farming practices that conform to stringent rules, from crop management to compliance with environmental and labor regulations.</p>
<p>As signatories of the Global Compact and members of the Tropical Forest Alliance 2020, we monitor our value chain with support from our Sustainability Committee as well as from dedicated forums, including the Soy and Cerrado working groups, in which we collaborate with other organizations.</p>
<p>Fundação Cargill also delivered positive performance in 2017. It ran programs that benefited almost 38,000 people and launched the Social Impact on Food Assessment (<em>Tese de Impacto Social em Alimentação</em>), an unprecedented project in partnership with accelerator Artemísia that is identifying opportunities to explore in the industry.</p>
<p>Other management focuses have included safety and diversity. We revisited our values and reaffirmed our global commitment to ethics, people, sustainability and diversity. Severe injuries declined significantly in the year, and Diversity Week demonstrated our leadership’s full engagement around diversity. In 2018 we will initiate a program to hire, and adapt our facilities to accommodate, transgender peo-ple, working to become an increasingly inclusive company.</p>
<p>No less can be expected of a company with an ambition to be the global leader in nurturing the world in a safe, responsible and sustainable manner. Inclusion and diversity are a part of how we achieve this objective.</p>
<p class="color"><strong>Luiz Pretti</strong>
    <br>President of Cargill in Brasil</p>
