<h2>&nbsp;</h2>
<p>In a voluntary employee survey, Cargill ranked 37th in the Love Mondays List 2017, which ranks the 50 companies that are best loved by employees. This recognition has crowned an extensive HR Transformation program undertaken globally at Cargill. Initiated in 2016 with a goal to empower our people, review our models, processes and systems, and drive efficiencies, the HR Transformation program was rolled out in Brazil in April 2018. The new strategy has increased investment in training. This included na event themed, “Manager 4.0: manging people in the digital age” in January 2018, as well as a range of training events on our new processes and tools.</p>
<p>We also created a communication plan to prepare the company for the changes; implemented "My HR Portal", a digital platform providing employees and managers with information about employee benefits and human resources policies and processes, and a system for managing personal and team information. Out of our total workforce, approximately 6% were interns, apprentices, third-party employees and trainees in the crop year.</p>

<!-- <table border="0" cellspacing="0" cellpadding="0" data-alert="tabela será gráfico">
    <tr>
        <td rowspan="2"> Funcionários da Cargill <strong><span class="T122"><span class="gri">GRI 102-8</span></span></strong> </td>
        <td> 2015 </td>
        <td> 2016 </td>
        <td> 2017 </td>
    </tr>
    <tr>
        <td> 8.512 </td>
        <td> 9.875 </td>
        <td> 10.157 </td>
    </tr>
  <caption>
    1 Aprendizes não estão contemplados nessa segmentação por região, razão da diferença nos números em relação às demais tabelas.
  </caption>
</table> -->

<table>
  <thead>
    <tr>
      <th>Cargill Employees <sup>1</sup><strong><span class="gri">GRI 102-8</span></strong></th>
    </tr>
  </thead>
</table>

<picture>
  <img src="../img/grafico-funcionarios-en.png" alt="grafico-funcionarios">
</picture>

<picture>
  <img src="../img/mapa-regiao-isolado-en.png" alt="mapa-regiao-isolado">
</picture>
<p class="legenda">1 Apprentices are not reported in this segment by region, which accounts for the differences in the figures in the other tables.</p>


<!-- <table border="0" cellspacing="0" cellpadding="0" data-alert="será um mapa">
    <tr>
        <td rowspan="2"> Região </td>
        <td> 2017 </td>
    </tr>
    <tr>
        <td> Total </td>
    </tr>
    <tr>
        <td> Norte </td>
        <td> 676 </td>
    </tr>
    <tr>
        <td> Nordeste </td>
        <td> 789 </td>
    </tr>
    <tr>
        <td> Centro-Oeste </td>
        <td> 2.785 </td>
    </tr>
    <tr>
        <td> Sudeste </td>
        <td> 4.198 </td>
    </tr>
    <tr>
        <td> Sul </td>
        <td> 1.404 </td>
    </tr>
    <tr>
        <td> Total </td>
        <td> 9.852 </td>
    </tr>
  <caption>1 Aprendizes não estão contemplados nessa segmentação por região, razão da diferença nos números em relação às demais tabelas.</caption>
</table> -->


<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th colspan="10">Total workforce by employment contract and gender <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th rowspan="2"> Contract type </th>
        <th colspan="3"> 2015 </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
    </tr>
    <tr>
        <td> Definite term </td>
        <td> 204 </td>
        <td> 65 </td>
        <td> 269 </td>
        <td> 125 </td>
        <td> 56 </td>
        <td> 181 </td>
        <td> 107 </td>
        <td> 35 </td>
        <td> 142 </td>
    </tr>
    <tr>
        <td> Indefinite term </td>
        <td> 6,028 </td>
        <td> 1,996 </td>
        <td> 8,024 </td>
        <td> 7,140 </td>
        <td> 2,260 </td>
        <td> 9,400 </td>
        <td> 7,443 </td>
        <td> 2,267 </td>
        <td> 9,710 </td>
    </tr>
    <tr>
        <td> Junior apprentice </td>
        <td> 111 </td>
        <td> 108 </td>
        <td> 219 </td>
        <td> 149 </td>
        <td> 145 </td>
        <td> 294 </td>
        <td> 156 </td>
        <td> 149 </td>
        <td> 305 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> 6,343 </td>
        <td> 2,169 </td>
        <td> 8,512 </td>
        <td> 7,414 </td>
        <td> 2,461 </td>
        <td> 9,875 </td>
        <td> 7,706 </td>
        <td> 2,451 </td>
        <td> 10,157 </td>
    </tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th colspan="10">Workforce by employment type <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th rowspan="2"> Employment type </th>
        <th colspan="3"> 2015 </th>
        <th colspan="3"> 2016 </th>
        <th colspan="3"> 2017 </th>
    </tr>
    <tr>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
        <th> Men </th>
        <th> Women </th>
        <th> Total </th>
    </tr>
    <tr>
        <td> Full time </td>
        <td> 6,232 </td>
        <td> 2,061 </td>
        <td> 8,293 </td>
        <td> 7,265 </td>
        <td> 2,316 </td>
        <td> 9,581 </td>
        <td> 7,550 </td>
        <td> 2,302 </td>
        <td> 9,852 </td>
    </tr>
    <tr>
        <td> Part time </td>
        <td> 111 </td>
        <td> 108 </td>
        <td> 219 </td>
        <td> 149 </td>
        <td> 145 </td>
        <td> 294 </td>
        <td> 156 </td>
        <td> 149 </td>
        <td> 305 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> <strong>6,343</strong> </td>
        <td> <strong>2,169</strong> </td>
        <td> <strong>8,512</strong> </td>
        <td> <strong>7,414</strong> </td>
        <td> <strong>2,461</strong> </td>
        <td> <strong>9,875</strong> </td>
        <td> <strong>7,706</strong> </td>
        <td> <strong>2,451</strong> </td>
        <td> <strong>10,157</strong> </td>
    </tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Workforce by age range <sub>1</sub> <span class="gri">GRI 102-8</span></th>
    </tr>
  </thead>
    <tr>
        <th> Ages </th>
        <th> 2017 </th>
    </tr>
    <tr>
        <td>Under 30 </td>
        <td> 3,290 </td>
    </tr>
    <tr>
        <td> 30 to 50</td>
        <td> 5,723 </td>
    </tr>
    <tr>
        <td> Over 50 </td>
        <td> 839 </td>
    </tr>
    <tr class="total">
        <td> Total </td>
        <td> 9,852 </td>
    </tr>
  <caption>1 Apprentices are not reported in this segment by age range, which accounts for the differences in the figures in the other tables.</caption>
</table>
<div class="box left">
  <h2>Transparent communication</h2>
  <p> Cargill values dialog. Our leadership engage directly with the team through two programs, <em>Voz Cargill</em> (Cargill Voice), led by the CEO, and  <em>Comunicar para Conectar</em> (Communicate to Connect), which is geared to managers and is transmitted to all sites in Brazil. Both programs provide information about projects, results and the business outlook and are open to questions either live or through platforms such as chat services. Special editions of Cargill Voice feature guest speakers such as fitness and nutrition specialist Marcio Atalla, who attended the launch event for Essential for You. Two editions of each program were held in 2017.</p>
</div>

<h1>Diversity <span class="gri">GRI 103-405</span></h1>
<p>Cargill sees diversity as a rich mixture of organizational and human traits, experiences, skills and traditions. In 2016 Cargill implemented an integrated action plan to build our vision for diversity, and implemented our Brazil Diversity Committee. More information in <a href="ser-o-parceiro-mais-confiavel.html#">Corporate governance</a>.</p>

<p>Diversity has been widely discussed during Diversity Week, of which we have had two editions, in April 2017 and 2018. Each year’s edition featured five days of lectures, workshops and special programs at our different sites. We also initiated the Cargill Pride Talks, a series of round tables that discussed diversity and LGBT+ inclusion at Cargill throughout 2017. Other events and meetings also provide a forum to discuss the inclusion of people with disabilities, race and gender issues, and unconscious bias.</p>
<p>In November our engagement around the topic extended to the market: Cargill participated in the 5th edition of the Diversity Series to discuss the Business for Equality Initiative with other companies, and attended another edition of the Spotlight on Women Forum.</p>

    <h3>Recruiting and selection</h3>
    <p>Our recruiting and selection process has seen a number o changes. To increase diversity among trainees, candidates are not permitted to provide information about the universities they have studied at on their resumes or to recruiters during final interviews. This allows candidate performance to be assessed without bias deriving from the reputation of their universities. In another program, our Talent Acquisition function began selecting transgender people and hired our first transgender employee in June 2018, in São Paulo (SP). </p>

    <h2>Gender</h2>
    <p>A global focus at Cargill, gender issues are also a priority in Brazil, where the majority of people working in agribusiness are men. To address this challenge, our Talent Acquisition function aims to have at least 30% women candidates among finalists for a position at Cargill. For leadership positions above the senior manager level, the target percentage is 50%.</p>
    <p>Gender matters are discussed both within and outside the company. In October, for example, Cargill participated in the 2nd National Conference of Women in Agribusiness, in São Paulo. In November the Cargill Women's Network (CWN) —a global network that aims to make a difference for women's empowerment and to create a more inclusive work environment for all — was launched in Brazil. We have also run our Mulheres Operando no Brasil (MOB) program since 2015, with a commitment to encouraging women at Cargill Brazil to dare to achieve, confident in their leadership and execution capabilities.</p>

    <div class="box right"><h2>Other programs</h2>
    <ul>
        <li>
            <p class="color"><strong>Cargill Pride Network</strong>: This program works to promote LGBT+ inclusion through networking to develop and share knowledge.  Its mission is to build and maintain a network of allies to drive awareness, empowerment and support for the LGBT+ community, providing a welcoming and inclusive work environment for employees who identify with the community.</p>
            <ul>
              <li>
                  <p class="color"><strong>Ally</strong>: An education program within the Cargill Pride Network for employees who want to learn how to create a more equal work environment. When they join the program, employees are invited to an induction training program and receive education materials and invitations to other forums that will help them understand the issues and engage in more inclusive behavior in relation to their LGBT+ colleagues, friends and relatives. In 2017, Cargill had more than 300 allies in Brazil.  </p>
              </li>
            </ul>
        </li>

        <li>
            <p class="color"><strong>AfroCargill</strong>: This program works to build an environment where conditions are the same for everyone, regardless of ethnicity. It monitors equity in terms of color or ethnicity across the different levels of the organization and develops action plans to promote ethnic and racial equality and empowerment. </p>
        </li>
    </ul></div>
    <div class="box left"><h2>Global Anti-Discrimination Policy <span class="gri">GRI 103-406</span></h2>
    <p>In May 2018 Cargill launched a Global Anti-Discrimination Policy that applies in all countries where we operate. In line with our Code of Conduct, Cargill's employment opportunity policy prohibits discrimination or harassment against any employee or candidate based on race, ethnicity, color, religion, origin, ancestry, sex, gender, gender identity and expression, sexual orientation, age, disability, pregnancy, citizenship status, union affiliation or any other right protected by law. The Policy reflects Cargill’s current drive to empower, respect and put people first each day. We also ensure we comply with all applicable laws and regulations on nondiscrimination and employability.</p>

  </div>
        <h1>Health and safety <span class="gri">GRI 103-410</span></h1>
        <p>A non-negotiable value at Cargill Brazil, our health and safety strategy is aligned with Cargill’s Global Environment, Health and Safety Policy. This policy is supported by our CEO and contains requirements based on OHSAS 18001 (Occupational Health and Safety Assessments Series) and ISO standards on requirements and best practices for businesses.</p>

        <div class="row">
          <div class="twothird bottom-left top-right">
            <p>Significant goals and indicators in this dimension include:</p>
                    <ol class="destaque">
                      <li>Zero Injuries</li>
                      <li>Serious Injury and Fatality Rate (SIFR)</li>
                      <li>Injury Frequency Rate (RIFR)</li>
                      <li>Inspection and Audit Action Plans Completed</li>
                      <li>Inspection & Audit Schedule Performance</li>
                      <li>Proactive participation of senior leadership in safety programs</li>
                  </ol>
          </div>
          <div class="decor onethird top-left bottom-right full">
            &nbsp;
          </div>
        </div>
        <p> In Brazil, our focus has been on initiatives to encourage employees to take the reins of their health and safety. Our leadership was engaged in two major programs in 2017— LIFE and Essential for You—in addition to initiatives as part of our Safe Driving Policy.</p>
        <p>Implemented in Brazil in 2015, Cargill’s LIFE program aligns concepts and expectations at a global level to protect the integrity of workers by preemptively identifying tasks involving unsafe behavior or conditions that could result in injury. Emphasis is placed on behavioral expectations and the minimum requirements to perform tasks safely. In 2017, the program prioritized activities involving the highest levels of risk to eliminate the chances of serious injuries or fatalities. The strategy was highly successful, with these types of injuries declining by 80% and with no fatal injuries occurring in Brazil during the year.</p>
        <p>In addition to inspections on critical activities as part of the program, safe practices are also assured by legal compliance assessments, internal and independent audits, management inspections, and machine and equipment inspections. Safety is monitored within Cargill’s management system using standard reports and dashboards.</p>
        <p>We have also implemented initiatives and strategies addressing the specific requirements of each business, as well as global initiatives, such as a reviewing our safety management approach and indicators, risk assessments, incorporating human behavioral aspects, and implementing engineering solutions. These initiatives have related metrics covering both reactive indicators (after an injury occurs) and proactive indicators (which help to prevent incidents). <span class="gri">GRI 103-403</span></p>

        <p>An example is the Zero Harm program developed by our grains devision in South America. Launched in August 2017, the strategy is to eliminate serious injuries and fatalities by promoting a safety culture. The program treats safety as each person’s responsibility, and aims to strengthen and improve processes, build competencies, and detect and correct unsafe behavior and conditions using a trust-based approach.</p>
        <p>Another initiative in 2017 was the launch of two e-books developed through a collaboration with Instituto BioSistêmico (IBS): “Living quarters: change rooms and bathrooms”, a 27-page publication on implementing best-practice safety, comfort and hygiene standards on partners’ farms; and a “Good-Practice Handbook on PPE Use in Agriculture”, which provides guidance on the use and appropriate disposal of Personal Protective Equipment.</p>

            <table class="left">
              <thead>
                <tr>
            			<th colspan="5"> Health & safety management KPIs  <span class="gri">GRI 403-2</span> </th>
            		</tr>
              </thead>
              <tbody>
        		<tr>
        			<th rowspan="2"> Business </th>
              <th rowspan="2" colspan="2"> Metric </th>
        			<th colspan="2"> </th>
        		</tr>
        		<tr>
        			<th>

        Fiscal year 2016/2017
      </th>
        			<th>

        Fiscal year 2017/2018
      </th>
        		</tr>
        		<tr>
        			<td rowspan="4">

        Animal Nutrition
        			</td>
        			<td rowspan="2">

        Reactive
        			</td>
        			<td>

        RIFR<sup>3</sup>
        			</td>
        			<td>

        0.38
        			</td>
        			<td>

        0.72
        			</td>
        		</tr>
        		<tr>
        			<td>

        SIFR<sup>4</sup>
        			</td>
        			<td>

        0.28
        			</td>
        			<td>

        0.18
        			</td>
        		</tr>
        		<tr>
        			<td>

        Proactive
        			</td>
        			<td>

        SIFp Observation Rate<sup>5</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        2.53
        			</td>
        		</tr>
        		<tr>
        			<td>

        			</td>
        			<td>

        Hierarchy of Controls<sup>6</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        0%
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="4">

        Foods; Starches & Sweeteners;
        				Cocoa & Chocolate
        			</td>
        			<td rowspan="2">

        Reactive
        			</td>
        			<td>

        RIFR<sup>3</sup>
        			</td>
        			<td>

        0.61
        			</td>
        			<td>

        0.79
        			</td>
        		</tr>
        		<tr>
        			<td>

        SIFR<sup>4</sup>
        			</td>
        			<td>

        0.18
        			</td>
        			<td>

        0.14
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="2">

        Proactive
        			</td>
        			<td>

        SIFp Observation Rate<sup>5</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        9.46
        			</td>
        		</tr>
        		<tr>
        			<td>

        Hierarchy of Controls<sup>6</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        40%
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="4">

        Grains & Soybean Processing
        			</td>
        			<td rowspan="2">

        Reactive
        			</td>
        			<td>

        RIFR<sup>3</sup>
        			</td>
        			<td>

        1.24
        			</td>
        			<td>

        0.9
        			</td>
        		</tr>
        		<tr>
        			<td>

        SIFR<sup>4</sup>
        			</td>
        			<td>

        0.24
        			</td>
        			<td>

        0.07
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="2">

        Proactive
        			</td>
        			<td>

        SIFp Observation Rate<sup>5</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        3.38
        			</td>
        		</tr>
        		<tr>
        			<td>

        Hierarchy of Controls<sup>6</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        100%
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="4">

        Administrative Locations
        			</td>
        			<td rowspan="2">

        Proactive
        			</td>
        			<td>

        RIFR<sup>3</sup>
        			</td>
        			<td>

        0.23
        			</td>
        			<td>

        0.14
        			</td>
        		</tr>
        		<tr>
        			<td>

        SIFR<sup>4</sup>
        			</td>
        			<td>

        0
        			</td>
        			<td>

        0.14
        			</td>
        		</tr>
        		<tr>
        			<td rowspan="2">

        Proactive
        			</td>
        			<td>

        SIFp Observation Rate<sup>5</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        0
        			</td>
        		</tr>
        		<tr>
        			<td>

        Hierarchy of Controls<sup>6</sup>
        			</td>
        			<td>

        n.d.
        			</td>
        			<td>

        0%
        			</td>
        		</tr>
        	</tbody>
      <caption> 1 New metrics included following a review of our safety strategy. <br> 2 Historical data is available for reactive metrics (injuries) only.<br> 3 RIFR (reportable injury frequency rate);<br> 4 SIF Rate (severe/fatal or potentially serious injury frequency rate).<br> 5 SIFp Observation Rate (hazards reported by employees. This metric is used to evaluate risk and our culture of reporting identified risks).
      </caption>

    </table>
    <div class="row">
      <div class="decor onethird top-left bottom-right to-bottom">
        &nbsp;
      </div>
      <div class="twothird full top-right bottom-left">
        <p class="destaque">
          <span class="bigger">80%</span>
          reduction in serious injuries
through our Atingir Zero
program</p>
      </div>
    </div>
        <h3>TRAINING <span class="gri">GRI 410-1</span></h3>
        <p>When joining Cargill, all employees receive induction training on safety, our code of conduct, and human rights.</p>
        <p>Following induction training, they receive special training relating to their duties and applicable legal requirements, such as training on work at heights, confined spaces, electrical safety and other topics. Our training plan includes monthly refresher training courses, attendance at which is monitored.</p>
        <p>Training hours have increased in recent years to address new accident prevention programs at Cargill as well as changes to Brazilian safety regulations NR10, NR13, NR17, NR33 and NR35. Our goal is to provide safety training or retraining to 100% of employees each year.</p>

        <!-- <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="4">
                        Pessoal de segurança treinado em políticas ou procedimentos de direitos humanos <span class="gri">GRI 410-1</span>
                    </th>
                </tr>
            </thead>
            <tr>
                <th></th>
                <th> 2015 </th>
                <th> 2016 </th>
                <th> 2017 </th>
            </tr>
            <tr>
                <td> Número total de pessoas de segurança<sup>1</sup> </td>
                <td> 2.833 </td>
                <td> 2.977 </td>
                <td> 3.091 </td>
            </tr>
            <tr>
                <td> Número do pessoal de segurança que recebeu treinamento em diretos humanos </td>
                <td> 2.591 </td>
                <td> 2.745 </td>
                <td> 2.937 </td>
            </tr>
            <tr>
                <td> Percentual do pessoal de segurança que recebeu treinamento em diretos humano </td>
                <td> 91,46% </td>
                <td> 92,21% </td>
                <td> 95,02% </td>
            </tr>
            <caption>1 Considera a soma de funcionários próprios e contratados das plantas de amidos e ácido cítrico de Uberlândia (MG) e Castro (PR).</caption>
        </table> -->
        <div class="box right"><h2>Essential for You</h2>
          <p>Officially launched in 2017, the program is designed to support the health and well-being of Cargill employees and their dependents. The goal is to create a culture of self-care, self-awareness and prevention by encouraging employees to seek out the knowledge they need for balanced and high-quality living. As of March 2018, the program’s <a href="http://www.essencialcargill.com.br">Internet platform</a> had 2,940 registered employees. The program comprises four pillars, each with a range of associated benefits.</p>
          <p>Essential for Your Well-Being, for example, includes national gympass, and toy voucher; Essential for Your Health, check-up and the pregnancy program. In Essential For Your Life, the employee has access to a financial education program, and Essential for Your Career contains the variable compensation program. <span class="gri">GRI 401-2</span></p>

            <div class="row">
              <div class="quarter full top-left bottom-right">
                <p><strong>Essential for your Well-being</strong> <br> Access to fitness centers (<em>gympass</em>) and toy vouchers</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-bem-estar.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-bem-estar.svg">
                  <img src="../img/icone-pilar-bem-estar.png" alt="icone-pilar-bem-estar">
                </picture>

              </div>
              <div class="quarter full top-left bottom-right">
                <p><strong>Essential for your Health</strong> <br> Check-up, pregnancy program</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-saude.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-saude.svg" alt="icone-pilar-saude">
                  <img src="../img/icone-pilar-saude.png" alt="icone-pilar-saude">
                </picture>

              </div>
              <div class="quarter full top-right bottom-left">
                <p><strong>Essential for Your Life</strong> <br> Financial education programs</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-educacao-financeira.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-educacao-financeira.svg" alt="icone-pilar-educacao-financeira">
                  <img src="../img/icone-pilar-educacao-financeira.png" alt="icone-pilar-educacao-financeira">
                </picture>

              </div>
              <div class="quarter full top-right bottom-left">
                <p><strong>Essential for Your Career</strong> <br> Variable compensation program</p>
                <picture>
                  <source type="image/webp" srcset="../img/icone-pilar-carreira.webp">
                  <source type="image/svg+xml" srcset="../img/icone-pilar-carreira.svg" alt="icone-pilar-carreira">
                  <img src="../img/icone-pilar-carreira.png" alt="icone-pilar-carreira">
                </picture>

              </div>
            </div>

        </div>


        <div class="box left"><h2>Amigo Fiel: safe drivers</h2>

    <p>Created to provide professional drivers with information about safety, quality of life and the importance of combating roadside sexual exploitation of children and adolescents, our Amigo Fiel Program also offers services including legal advice, blood pressure testing, blood glucose testing, dental checkups, dietary advice, and haircuts.</p>
    <p>In the last months, the program had three editions: in August of 2017, 160 drivers participated in Goiânia (GO); in September of the same year, 180 professionals integrated the activities in Três Lagoas (MS); and in February of 2018, 200 partner drivers from Uberlândia (MG) participated in the 8th. edition of the program. Traffic safety is one of 12 activities highlighted globally by Cargill, which based on scientific research changed its Safe Driving Policy in 2016.</p>

            <div class="row">
              <div class="twothird top-right bottom-left full">
                <picture>
                  <source type="image/webp" srcset="../img/icone-amigo-fiel.webp">
                  <source type="image/svg+xml" srcset="../img/icone-amigo-fiel.svg">
                  <img src="../img/icone-amigo-fiel.png" alt="icone-amigo-fiel">
                </picture>
                <p>
                    <span class="bigger">580</span>
                    Drivers participated in the three latest editions of our Amigo Fiel program</p>
              </div>
              <div class="decor quarter top-left bottom-right">
                &nbsp;
              </div>
            </div>

          </div>



        <h1>Semeando Futuro <span class="gri">GRI 103-413</span></h1>
        <p>Following a four-stage contest initiated in February 2017, Cargill’s Corporate Volunteer Program celebrated its 20th anniversary under a new name: Semeando Futuro. The new chapter in the program was launched in September at our Três Lagoas (MS) plant, where contest winner Carla Eliane Ferreira Barbosa works. During the ceremony, she received a plaque as a token of thanks and recognition.</p>
        <p>In 2017, 915 Semeando Futuro volunteers participated in initiatives that reached more than 21,000 people in 49 cities. In October, when we marked World Food Day, activities were organized in 16 cities in nine states, involving 39 initiatives, 50 workshops, 509 volunteers in action, and 1,470 hours of work. In total, 3,102 hours were dedicated to volunteer work. 28% of Cargill’s 176 operations (the scope of this report) are covered by the program.</p>
        <p>For the fiscal year 2017/2018, the favorable index for the company in the communities was 90% (the target was to be above 70%): 36% of locations were served by social programs and 9.5% of employees engaged in programs of volunteering. <span class="gri">GRI 413-1</span></p>
        <p>In addition to the initiatives of Semeando Futuro and also those developed by the Cargill Foundation (more infromation in <a href="">Cargill Foundation</a>), the units also carry out specific actions, conducted to meet local needs, such as donation campaigns to a range of organizations and support for environmental initiatives. Many of our business units have open doors programs that allow community residents to visit our facilities.</p>
        <div class="row">

          <div class="decor to-bottom onethird top-right bottom-left">
            &nbsp;
          </div>

          <div class="twothird full top-left bottom-right">
            <p class="destaque"><p class="destaque"><strong class="bigger">In 2017</strong></p> <br>
              <strong>915</strong> volunteers<br>
              <strong>21,000</strong> people benefited <br>
              <strong>49 </strong> participating cities <br>
              <strong>3.102 </strong> hours of volunteer work</p>
          </div>

        </div>
        <p>Our business units also implement initiatives to meet local needs, such as campaigns to collect donations for a range of organizations and support for environmental initiatives. Many of our business units have open doors programs that allow community residents to visit our facilities.</p>
