<h2>&nbsp;</h2>
<p><span class="gri">GRI 102-10</span> Cargill has 23 manufacturing sites, six port terminals, 189 warehouses and transshipment terminals, and two innovation centers operated by approximately 10,000 employees in 160 municipalities across 17 Brazilian states and the Federal District. Our size is one of our greatest assets, and one which we have strategically used to our advantage: For Cargill, one of the largest companies in Brazil, 2017 was a year of significant acquisitions, projects in progress, and improvements at our manufacturing sites. </p>
<p>In October 2017 we concluded the acquisition of Integral Nutrição, which produces products for dairy and beef cattle in Brazil’s Midwest, generating R$ 80 million in net revenues per year. Cargill took over 100% of the company’s assets on the first business day of 2018. The acquisition includes a manufacturing site in Goianira (GO) with approximately 100 employees and a portfolio of mineral supplement and premix products.</p>
<p>There have also been changes in the Vale do Sapucaí Ltda. (Cevasa) power plant joint venture in Patrocínio Paulista (SP). The business plan for the joint venture was reevaluated, with Canagril transferring its interest to Cargill.</p>
<p>We agreed to sell our operation in São José do Rio Pardo (SP) to Doehler in 2017. Following an assessment of strategic aspects and alignment with our global strategy, Cargill decided to exit the fruit preparations and icing business in Brazil. Cargo Brazil also has a business unit—Cargill Risk Management (CRM)—that develops risk management solutions for farmers and agribusiness and food companies.</p>
<p>CRM helps customers protect themselves against product pricing risks, offering a range of solutions for different agricultural commodities.</p>

<div class="row">
  <div class="onethird full top-left bottom-right">
    <picture>
      <source type="image/webp" srcset="../img/icone-fabricas.webp" alt="">
      <source type="image/svg+xml" srcset="../img/icone-fabricas.svg" alt="">
      <img src="../img/icone-fabricas.png" alt="">
    </picture>
    <p class="destaque"><strong>23 manufacturing plants</strong></p>
  </div>
  <div class="onethird full top-right bottom-left">
      <picture>
        <source type="image/webp" srcset="../img/icone-terminais-portuarios.webp" alt="">
        <source type="image/svg+xml" srcset="../img/icone-terminais-portuarios.svg" alt="">
        <img src="../img/icone-terminais-portuarios.svg" alt="">
      </picture>
      <p class="destaque"><strong>6 port terminals</strong></p>
  </div>
</div>
<div class="row">
  <div class="onethird full top-right bottom-left">
    <picture>
      <source type="image/webp" srcset="../img/icone-funcionarios.webp">
      <source type="image/svg+xml" srcset="../img/icone-funcionarios.svg">
      <img src="../img/icone-funcionarios.png" alt="icone-funcionarios">
    </picture>
    <p class="destaque">
      <strong>10,000 employees</strong>
    </p>
  </div>
  <div class="onethird full top-right bottom-left">
    <picture>
      <source type="image/webp" srcset="../img/icone-estados.webp">
      <source type="image/svg+xml" srcset="../img/icone-estados.svg">
      <img src="../img/icone-estados.png" alt="icone-estados">
    </picture>
    <p class="destaque"> <strong>17 states</strong> </p>
  </div>
</div>
<!--
<fieldset data-alert="Arte em desenvolvimento">
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td> <a id="_Hlk517167562">Principais unidades brasileiras</a> [legendas com ícones, aqui em números] 1 Açúcar e etanol 2 Amidos e adoçantes 3 Biodiesel (soja) 4 Cacau e chocolate 5 Cargill Industrial Specialties 6 Centro de Serviços Compartilhados
            7 Cargill Animal Nutrition 8 Centro de inovação 9 Escritório central 10 Foods 11 Soja (grãos) 12 Terminal – açúcar 13 Terminal – grãos [textos unidades] Fábricas, portos e escritórios na região sudeste 2, 11 Uberlândia (MG) – Processamento
            de soja e de milho (para produção de amidos e ingredientes derivados) e produção de acidulantes 6 Centro de Serviços Compartilhados – Uberlândia (MG) 1 Cevasa* Patrocínio Paulista (SP) – Usina de açúcar, etanol e energia 2, 4 Porto
            Ferreira (SP) – Produção de maltodextrinas e glicoses; fabricação de chocolate e coberturas para o mercado industrial de <em>food services</em> 5, 10 Mairinque (SP) – Produção e comercialização de gorduras vegetais, maionese, óleos,
            óleos compostos e especialidades industriais 7 Itapira (SP) – Nutrição Animal 7 Centro de Inovação CAN Mogi Mirim (SP) – Nutrição Animal 13 TEG* Terminal de Exportação do Guarujá (SP) – Exportação de grãos 13 TEAG* Terminal de Exportação
            de Açúcar do Guarujá (SP) – Exportação de açúcar 8 Centro de Inovação Campinas (SP) 9 Escritório Central São Paulo (SP) Fábricas e porto na região sul 7 Toledo (PR) – Nutrição Animal 2 Castro (PR) – Processamento e produção de ingredientes
            à base de milho 5, 11 Ponta Grossa (PR) – Moagem e degomagem de soja; produção de óleo bruto e farelo para nutrição animal; especialidades industriais 13 Paranaguá (PR) – Terminal portuário de exportação de grãos 7 Chapecó (SC) – Nutrição
            Animal <strong>Fábricas na região nordeste</strong> 11 Barreiras (BA) – Esmagamento de soja para a produção de farelo; refino de óleo de soja e fornecimento para produção de biodiesel 4 Ilheus (BA) – Processamento de derivados de cacau
            para indústria alimentícia <strong>Fábricas na região centro-oeste</strong> 11 Primavera do Leste (MT) – Processamento de soja; produção de farelo e de óleo bruto e refinado; envase, comercialização e distribuição de óleo. 3, 11 Três
            Lagoas (MS) –Processamento de soja; produção de óleo vegetal degomado e de biodiesel; fabricação de farelo de soja 10 Goiânia (GO) – Produção de atomatados 10 Itumbiara (GO) – Produção de gordura vegetal 10, 11 Rio Verde (GO) – Moagem
            de soja; produção de farelo; produção de óleo bruto; refino, envase, comercialização e distribuição de óleo 1 SJC Cachoeira Dourada (GO) – Usina de açúcar 2 SJC Quirinópolis (GO) – Usina de açúcar, etanol e bioenergia <strong>Portos na região norte</strong>                    13 Porto Velho (RO) – Terminal de grãos 13 Santarém (PA) – Terminal portuário de exportação de grãos 13 Distrito de Miritituba, Itaituba (PA) – Terminal de transbordo rodofluvial de grãos [nota de rodapé] *Nessas unidades a Cargill
            possui participação por meio de <em>joint ventures</em> </td>
    </tr>
</table>
</fieldset> -->
<h3>Banco Cargill</h3>
<p>Another of our differentiators is our financial arm, Banco Cargill, which helps to build trusted, enduring relations with the agricultural value chain. Banco Cargill provides services and loans to agricultural, industrial and cooperative clients using an expedited credit approval process that is enabled by Cargill’s credibility and agribusiness expertise.</p>
<p>As a result of the credit crunch in 2017, Banco Cargill was compelled to adapt to the new market conditions and reduce its lending portfolio, restricting loan availability to agribusiness customers while consistently upholding ethical business conduct and remaining as a trusted partner to farmers.</p>
<p>Banco Cargill ended financial year 2017 with R$ 3,288,348 thousand in assets, down 30% from the previous year, with its lending portfolio declining by 25% to R$ 2,228,920 thousand. The Bank also ended the year with losses of R$ 53,811 thousand, explained primarily by a provision for loan losses reflecting the adverse economic conditions. These loans were successfully renegotiated and customers are continually monitored by the Bank’s Credit Risk and Commercial departments.</p>

<h1>Economic and financial performance <span class="gri">GRI 103-201</span></h1>
<h3>Macro economic conditions</h3>
<p>The Brazilian Central Bank’s Economic Activity Index and the IBGE’s GDP growth index, both at approximately 1%, show that Brazil is resuming growth and pulling out of the deep crisis of recent years.</p>
<p>Agribusiness has continued to demonstrate its ability to create wealth, in great measure thanks to productivity improvements in recent years as a result of major investments and the efforts of players in the value chain.</p>
<p>The still-high levels of economic stagnation — with the output gap in negative territory — and Brazil’s record grain crop in 2017 resulted in benign inflation as measured by the Broad Consumer Price Index (IPCA), which ended 2017 at 2.95%, below the Central Bank’s lower target. This led to continued interest rate cuts, with the SELIC rate ending the year at 7% per annum.</p>

<h3>Financial results</h3>
<p>Against this backdrop, Cargill Brazil generated net operating revenue of R$ 35 billion in 2017, up 6% from 2016. Despite the higher revenues compared with 2016, net income declined by R$ 115 million (16%), ending the year at R$ 593 million, reflecting pressures on margins due to the larger crop.</p>
<p><strong>Investments</strong> <br> Cargill invested R$ 790 million in Brazil in 2017, and R$ 4.6 billion in the last seven years. We expect to invest between R$ 300 and R$ 400 million in 2018, with investments declining compared with the previous year as they near maturity. Indebtedness increased by 8% compared with 2016 — from R$ 8.8 bn to R$ 9.5 bn (up R$ 736 million). The increase is negligible considering the nature of Cargill’s debt, which essentially consists of money provided by our parent company at a lower capital cost than a conventional loan in Brazil.</p>

<table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th colspan="7">CARGILL ALIMENTOS (HOME + ANIMAL NUTRITION) <strong>FINANCIAL RESULTS 2017 – R$ MM </strong> <span class="gri">GRI 201-1</span></th>
        </tr>
    </thead>
	<tbody>
		<tr>
			<th> Cargill Alimentos Ltda. </th>
			<th colspan="2"> 2016 </th>
			<th colspan="2"> 2017 </th>
			<th colspan="2"> Change </th>
		</tr>
		<tr>
			<td> Net Operating Revenue </td>
			<td colspan="2"> 33,053 </td>
			<td colspan="2"> 34,955 </td>
			<td colspan="2"> 6% </td>
		</tr>
		<tr>
			<td> Net Income for the Year </td>
			<td colspan="2"> 708 </td>
			<td colspan="2"> 593 </td>
			<td colspan="2"> -16% </td>
		</tr>
		<tr>
			<td> Equity </td>
			<td colspan="2"> 3,593 </td>
			<td colspan="2"> 4,193 </td>
			<td colspan="2"> 17% </td>
		</tr>
		<tr>
			<td> Capital Expenditure (PPE) </td>
			<td colspan="2"> 775 </td>
			<td colspan="2"> 793 </td>
			<td colspan="2"> 2% </td>
		</tr>
		<tr class="total">
			<td> Total Assets </td>
			<td colspan="2"> 13,177 </td>
			<td colspan="2"> 14,590 </td>
			<td colspan="2"> 11% </td>
		</tr>
		<tr>
			<th colspan="7"> CAL CONSOLIDATED </th>
		</tr>
		<tr>
			<th> NET REVENUE (THOUSANDS) </th>
			<th colspan="3"> 2016 </th>
			<th colspan="3"> 2017 </th>
		</tr>
		<tr>
			<td> Domestic Market<sup>1</sup> </td>
			<td> 11,546,491 </td>
			<td colspan="2"> 35% </td>
			<td colspan="2"> 10,311,634 </td>
			<td> 29% </td>
		</tr>
		<tr>
			<td> Foreign Markets </td>
			<td> 21,506,200 </td>
			<td colspan="2"> 65% </td>
			<td colspan="2"> 24,643,544 </td>
			<td> 71% </td>
		</tr>
		<tr class="total">
			<td> Total net operating revenue </td>
			<td> 33,052,691 </td>
			<td colspan="2"> 100% </td>
			<td colspan="2"> 34,955,178 </td>
			<td> 100% </td>
		</tr>
		<tr>
			<th colspan="7"> CAL CONSOLIDATED </th>
		</tr>
		<tr>
			<th> GROSS REVENUE (thousands) </th>
			<th colspan="3"> 2016 </th>
			<th colspan="3"> 2017 </th>
		</tr>
		<tr>
			<td> Domestic Market </td>
			<td> 12,904,319 </td>
			<td colspan="2"> 38% </td>
			<td colspan="2"> 11,258,724 </td>
			<td> 32% </td>
		</tr>
		<tr>
			<td> Foreign Markets </td>
			<td> 21,506,200 </td>
			<td colspan="2"> 62% </td>
			<td colspan="2"> 24,643,544 </td>
			<td> 68% </td>
		</tr>
		<tr class="total">
			<td> Total gross revenue </td>
			<td> 34,419,519 </td>
			<td colspan="2"> 100% </td>
			<td colspan="2"> 36,172,268 </td>
			<td> 100% </td>
		</tr>
	</tbody>
  <caption>1 Including all deductions (taxes and deductions) in the domestic market.</caption>
</table>


<h2>Net Operating Revenue – R$MM</h2>

<picture>
  <source type="image/webp" srcset="../img/grafico-receita-operacional-liquida-en.webp">
  <source type="image/svg+xml" srcset="../img/grafico-receita-operacional-liquida-en.svg">
  <img src="../img/grafico-receita-operacional-liquida-en.png" alt="grafico-receita-operacional-liquida">
</picture>



<h1>Operating performance</h1>
<h2>Industry overview</h2>
<p>According to data from Companhia Nacional de Abastecimento (CONAB), Brazil’s 2016/2017 grain crop exceeded 238 million metric tons, or more than one metric ton per capita.</p>
<p>The 26% growth was driven primarily by soybeans, which accounted for nearly half of the expansion, and with soybeans grown in South America accounting for half of global production.</p>

<h2>Results of operations</h2>
<p>The company continued to pursue its strategy for growth through investment and innovation. In 2017 we completed the expansion at our Três Lagoas (MS) manufacturing site, which now has a capacity to crush more than 1 million metric tons of soybeans annually. The plant also renewed its International Sustainability & Carbon Certification (ISCC) for the production of biodiesel, a fuel producing more than 60% less CO2 emissions compared with fossil fuels. In early 2017 we completed the acquisition of SGS Micro-ingredients in Ponta Grossa (PR) as part of a strategy to expand our oleochemicals business and build a sweetener business. In addition to new products, we now have room to expand our production capacity. Investments of approximately R$ 20 million are planned over a period of one and a half years at the new plant.</p>
<p>Further expanding our vegetable oil business, we developed important new customer accounts for the supply of Envirotemp™ FR3™, a plant-based transformer oil product that is innovative for its superior sustainability, safety and efficiency. In addition to the product proper, Cargill provides technical support to validate applications where the new vegetable oil product can replace conventional mineral oil in transformers used by Brazil’s largest electric utilities.</p>
<p>Cargill also launched a range of new consumer products that have been developed and launched in response to trends in consumer demand for products that are healthier, more affordable and in smaller servings that avoid waste and are more environmentally friendly. We expect our consumer products and food service businesses to grow by 4% to 5% in 2018.</p>
<p>In animal nutrition, our market share increased from 14% to 16% by volume (metric tons processed into animal feed).</p>

<h1>Awards and recognition</h1>

<p>Our efforts to be a leader in nurturing the world in a safe, responsible and sustainable manner earned Cargill a variety of awards and recognition throughout 2017.</p>
<ul>
  <li><strong>3rd Vox Empresarial Awards</strong>: 2nd highest recall in Santarém (PA)</li>
  <li><strong>Dinheiro Rural’s Best Agribusiness Company</strong>: Best for corporate management</li>
  <li><strong>Top Companies for Communications with Journalists</strong></li>
  <li><strong>Folha Top of Mind</strong>: Elefante won in three categories</li>
  <li><strong>Guia Exame de Sustentabilidade</strong>: Top agribusiness companies for sustainability</li>
  <li><strong>Sales Leaders, ABRAS list – SuperHiper</strong> Awards in the composite oil, salad dressing, tomato puree and paste, and tomato sauce categories</li>
  <li><strong>Love Mondays</strong>: 37th among the 50 most loved companies in Brazil</li>
  <li><strong>Reader’s Digest’s Most Trusted Brands</strong>: LIZA won in the Food & Beverage – Edible Oil category</li>
  <li><strong>Best Agribusiness Companies 2017 – Globo Rural</strong>: Soybeans and Oils, the largest among the top 500 and Animal Nutrition</li>
  <li><strong>Exame magazine’s</strong> Biggest & Best</li>
  <li><strong>MarCo 2016 Corporate Reputation</strong>: Among the 100 top companies for corporate reputation in Brazil</li>
  <li><strong>Líderes do Brasil (LIDE)</strong>: In the Agribusiness Leaders category</li>
  <li><strong>Reputation Institute Ranking</strong>: 16th among Brazil’s Best Reputed Companies</li>
  <li><strong>Sul for Export</strong> 11th among Brazil’s top exporters</li>
  <li><strong><em>Troféu Agroleite</em></strong>: Nutrition Category (our Nutron brand won the award for the 16th year running)</li>
  <li><strong>Benchmarking Brasil</strong>: In the Social and Environmental Education, Information and Communications category, with a case study about our Forest Code Campaign</li>
  <li><strong>Troféu fornecedor Nota 10 – Abad</strong>: Broths, Sauces and Seasoning</li>
  <li><strong>Troféu Gente Nossa Fornecedores</strong>: Top supplier of vegetable oils</li>
</ul>
